// Mobile
@media all and (max-width: $medium-breakpoint) {
  $space-top: 11px;

  body.rehorik:not(.has-slider) {
    #page-container {
      padding-top: $top-bar-height;
    }

    header.rehorik-header {
      background-color: $weinrot;
      height: $top-bar-height;
    }
  }

  #rehorik-logo {
    width: $logo-size-small;
    height: $logo-size-small;
    background-size: $logo-size-small;
    top: $space-top;
    left: var(--section-spacing-left-right);
    z-index: 20;
  }

  header.rehorik-header {
    background-color: $weinrot;
    background-image: url("../img/burger/burger_bg.jpg"), url("../img/burger/burger_bg_tile.jpg");
    background-repeat: no-repeat, repeat;
    background-position: left top, left bottom;
    background-size: cover;

    .hamburger-icon,
    input#burger-button {
      position: absolute;
      top: $space-top;
      right: var(--section-spacing-left-right);
      padding: 0;
      margin: 0;
      width: $menu-icon-size;
      height: $menu-icon-size;
    }

    .hamburger-icon {
      background: transparent url("../img/svg/hamburger-icon.svg") no-repeat center center;
      background-size: $menu-icon-size;
      z-index: 10;
    }

    #top-bar, #rehorik-menu {
      opacity: 0;
      transform: translateX(100%);
      transition: transform var(--animation-time), opacity var(--animation-time) linear;
      pointer-events: none;
      background-color: transparent;
    }

    input#burger-button {
      opacity: 0;
      z-index: 20;

      &:checked {
        & ~ .hamburger-icon {
          background-image: url("../img/svg/hamburger-icon-white.svg");
        }

        & ~ #top-bar,
        & ~ #rehorik-menu {
          pointer-events: all;
          opacity: 1;
          transform: translateX(0);
        }

        & ~ .burger-overlay {
          opacity: 1;
        }
      }
    }

    .burger-overlay {
      content: "";
      display: block;
      opacity: 0;
      transition: opacity var(--animation-time) linear;
      width: 100%;
      height: 100vh;
      position: absolute;
      pointer-events: none;
      left: 0;
      top: 0;
      background-color: rgba(0, 0, 0, $opacity);
    }

    .rehorik-product-search-widget {
      position: absolute;
      left: 0;

      &::after, .rehorik-product-search-form {
        left: 0;
        right: unset;
        width: 100vw;
        border-bottom-left-radius: $border-radius;
      }
    }

    .menu-hauptmenue-container {
      $item-spacing: $spacing-xs;
      position: absolute;
      top: 0;
      left: 0;
      max-height: 100vh;
      overflow: scroll;
      width: 100%;
      padding-bottom: $item-spacing;

      &::before {
        content: "";
        display: block;
        position: absolute;
        background-image: url("../img/burger/burger_hand.jpg");
        background-repeat: no-repeat;
        background-position: right 25% bottom;
        bottom: 0;
        right: 0;
        pointer-events: none;
        width: 100%;
        height: 100vh;
        max-width: 100%;
      }

      ul.menu#menu-hauptmenue {
        flex-direction: column;
        background-color: transparent;

        > li.menu-item {
          background-color: transparent;
          padding: 0;
          border: none;

          a {
            padding: $item-spacing var(--section-spacing-left-right);
          }
        }

        > li.menu-item-has-children {
          background: transparent url("../img/pfeil-gold-unten.svg") no-repeat center right var(--section-spacing-left-right);
          background-size: 10px;

          > a {
            pointer-events: none;
          }

          a {
            width: -moz-fit-content;
            width: fit-content;
          }

          > ul.sub-menu {
            display: none;
            position: initial;
            border: 0;

            > li.menu-item {
              a {
                padding: $item-spacing calc(var(--section-spacing-left-right) + #{$item-spacing});
              }
            }

            > li.menu-item-has-children > ul.sub-menu > li.menu-item {
              a {
                padding: $item-spacing calc(var(--section-spacing-left-right) + #{$item-spacing} + #{$item-spacing});
              }
            }
          }

          // Touch on menu item with children
          &:hover {
            height: auto;
            background: rgba(206, 182, 127, 0.9) url("../img/pfeil-rot-oben.svg") no-repeat top 30px right var(--section-spacing-left-right);
            background-size: 10px;

            a {
              color: $weinrot;
            }

            > ul.sub-menu {
              display: block;
              background: transparent;
            }
          }
        }
      }
    }
  }
}
