header.rehorik-header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 12;

  @media all and (min-width: $medium-breakpoint + 1) {
    position: sticky;
  }
}

.rehorik-header-outer {
  @media all and (min-width: $medium-breakpoint + 1) {
    $height: $menu-height + $section-spacing + $top-bar-height;
    position: absolute;
    height: calc(100% - #{$height});
    top: 0;
    z-index: 100;
    width: 100%;
    pointer-events: none;

    > * {
      pointer-events: auto;
    }
  }
}

body.admin-bar header.rehorik-header {
  top: 32px;
}
