// Transparent header
// Desktop
@media all and (min-width: $medium-breakpoint + 1) {
  body.rehorik.has-slider {
    #page-container {
      padding-top: 0;

      .rehorik-header-outer {
        top: $spacing-xxs;

        header.rehorik-header {
          @for $i from 1 through 218 {
            &[data-ypos="#{$i}"] {
              #rehorik-menu {
                background-color: rgba(92, 13, 47, $i / 100);
              }

              #top-bar {
                //background-color: rgba(0, 60, 74, $i / 100);
                background-color: rgba(57, 53, 54, $i / 100);
              }
            }
          }
        }
      }
    }
  }

  body.rehorik:not(.has-slider) {
    #page-container {
      padding-top: $top-bar-height + $menu-height;

      #rehorik-menu {
        background-color: $weinrot;
      }

      #top-bar {
        background-color: $anthrazit;
      }
    }

  }
}

// Mobile
@media all and (max-width: $medium-breakpoint) {
  body.rehorik.has-slider #page-container header.rehorik-header {
    @for $i from 1 through 218 {
      &[data-ypos="#{$i}"] {
        background-color: rgba(92, 13, 47, $i / 100);
      }
    }
  }
}

header.rehorik-header > #rehorik-menu {
  background-color: transparent;
  justify-content: flex-start;
  flex-direction: row-reverse;
  position: relative;

  @media all and (min-width: $medium-breakpoint + 1) {
    justify-content: center;
    padding: 0;
    flex-direction: column;
    display: flex;
    align-items: center;

    #top-bar {
      height: $top-bar-height;
    }

    .menu-hauptmenue-container {
      height: $menu-height;
      order: 1;
    }
  }

  // Mobile
  @media all and (max-width: $medium-breakpoint) {
    padding-top: $mobile-space-to-top + $logo-size-small + $spacing-s;
    padding-bottom: $spacing;
    background-color: $weinrot;
    background-image: url("../img/menu/burger-bg.jpg"), url("../img/menu/burger-bg-tile.jpg");
    background-repeat: no-repeat, repeat;
    background-position: left top, left bottom;
    background-size: cover;
    height: 100vh;
    overflow: scroll;
  }
}
