#rehorik-logo {
  width: $logo-size;
  height: $logo-size;
  background: transparent url("../img/logos/logo.svg") no-repeat left top;
  background-size: $logo-size;
  position: absolute;
  left: 150px + $spacing;
  top: $menu-height + $top-bar-height + $top-bar-height;
  bottom: 0;
  z-index: 9;
}
