$element-height: 42px;

#rehorik-social-media-icons {
  position: absolute;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 13;

  .rehorik-logo {
    display: none;
  }
}

@mixin white-with-background {
  background: rgba(255, 255, 255, $opacity) none no-repeat center center;
  border-bottom-right-radius: $border-radius;
  border-top-right-radius: $border-radius;

  .fb {
    background-image: url("../img/svg/facebook.svg");

    &:hover {
      background-image: url("../img/svg/facebook_white.svg");
    }
  }

  .yt {
    background-image: url("../img/svg/youtube.svg");

    &:hover {
      background-image: url("../img/svg/youtube_white.svg");
    }
  }

  .instagram {
    background-image: url("../img/svg/instagram.svg");

    &:hover {
      background-image: url("../img/svg/instagram_white.svg");
    }
  }
}

@mixin gold-without-background {
  background: transparent none no-repeat center center;

  .fb {
    background-image: url("../img/svg/facebook_gold.svg");

    &:hover {
      background-image: url("../img/svg/facebook_white.svg");
    }
  }

  .yt {
    background-image: url("../img/svg/youtube_gold.svg");

    &:hover {
      background-image: url("../img/svg/youtube_white.svg");
    }
  }

  .instagram {
    background-image: url("../img/svg/instagram_gold.svg");

    &:hover {
      background-image: url("../img/svg/instagram_white.svg");
    }
  }
}

@mixin icon-size($size, $spacing) {
  .fb, .yt, .instagram {
    flex: 0 0 $size;
    width: $size;
    height: $size;
    background-size: $size;

    &:not(:last-child) {
      margin: 0 $spacing 0 0;
    }
  }
}

// mobile
@media all and (max-width: $medium-breakpoint) {
  #rehorik-social-media-icons {
    @include gold-without-background;
    @include icon-size($spacing-s, $spacing-s);

    display: flex;
    opacity: 0;
    transition: opacity var(--animation-time) linear;
    pointer-events: none;

    .rehorik-logo {
      display: block;
      background-image: url("../img/logos/logo.svg");
      flex: 0 0 $logo-size-very-small;
      width: $logo-size-very-small;
      height: $logo-size-very-small;
      background-size: $logo-size-very-small;
      margin-right: auto;
    }

    padding: 0 var(--section-spacing-left-right);
    left: 0;
    width: 100%;
    top: $menu-height + $spacing;
    justify-content: flex-end;
    align-items: center;

    &.hide-for-mobile {
      display: none;
    }
  }

  // burger
  header.rehorik-header {
    .menu-hauptmenue-container {
      padding-top: $menu-height + $spacing + $spacing-l + $menu-height;
    }

    input#burger-button:checked ~ #rehorik-social-media-icons {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

// desktop with slider
@media all and (min-width: $medium-breakpoint + 1) {
  body.has-slider {
    #rehorik-social-media-icons {
      @include white-with-background;
      @include icon-size($spacing, $spacing-xs);

      display: flex;
      left: 0;
      top: $menu-height + $menu-gap-to-top + $logo-size - $element-height;
      padding: $spacing-xxs $spacing-xs $spacing-xxs $spacing;

      &.scrolled {
        display: none;
      }
    }

    header.rehorik-header #rehorik-social-media-icons {
      display: none;

      &.scrolled {
        @include gold-without-background;

        display: flex;
        align-items: center;
        height: $menu-height;
        left: 0;
        top: 0;
        width: $social-media-container-width;

        @media all and (max-width: 1400px) {
          display: none;
        }
      }
    }
  }
}

// desktop without slider
@media all and (min-width: $medium-breakpoint + 1) {
  #rehorik-social-media-icons {
    display: none;
  }

  body:not(.has-slider) header.rehorik-header #rehorik-social-media-icons {
    @include gold-without-background;
    @include icon-size($spacing, $spacing-xs);

    display: flex;
    left: 0;
    top: 10px;
    width: $social-media-container-width;
    padding: $spacing-xxs $spacing-xs $spacing-xxs $spacing;

    @media all and (max-width: 1400px) {
      display: none;
    }
  }
}
