#top-bar {
  height: $top-bar-height;
  background-color: transparent;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-size: $font-size-small;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 0 $spacing-xl 0 $spacing-xs;

  > div:nth-child(2) {
    display: flex;
    > div:not(:last-child) {
      margin-right: $spacing-xl;
    }
  }

  > div:last-child {
    display: flex;

    #rehorik-cart {
      margin-right: $spacing-s;
    }

    #menu-top-bar {
      list-style: none;
      display: flex;

      li.menu-item:not(:last-child) {
        margin-right: $spacing;
      }
    }
  }

  @media all and (min-width: $medium-breakpoint + 1) {
    // Calendar menu item
    li.menu-item.rehorik-calendar-icon {
      a {
        display: block;
        font-size: 0;
        background: transparent url("../img/svg/kalender_white.svg") no-repeat center center;
        background-size: $menu-icon-size;
        width: $menu-icon-size;
        height: $menu-icon-size;
      }
    }

    // My account menu item
    li.menu-item.rehorik-user-icon {
      a {
        display: block;
        font-size: 0;
        background: transparent url("../img/svg/user_white.svg") no-repeat center center;
        $iconSize: $menu-icon-size + 2px;
        background-size: $iconSize;
        width: $iconSize;
        height: $iconSize;
      }
    }

    #rehorik-cart div.rehorik-cart-info {
      background: transparent url("../img/cart/warenkorb-white.svg") no-repeat center center;
    }
  }

  .bean-icon {
    display: inline-block;
    background: transparent url("../img/svg/strength_filled_white.svg") no-repeat center center;
    $iconSize: $menu-icon-size - 6px;
    background-size: $iconSize;
    width: $iconSize;
    height: $iconSize + 5px;
    margin: 0 $spacing-xxxs;
  }
}
