body.tribe-theme-rehorik {
  .tribe-common-l-container.tribe-events-l-container {
    padding: 0;

    .tribe-events-calendar-month {
      margin-bottom: $spacing;
    }

    a h3, .tribe-events-calendar-month__multiday-event-bar h3 {
      color: $font-color-accent-dark;

      &:hover {
        color: $font-color-accent;
      }
    }

    .tribe-events-calendar-month__multiday-event-bar:hover h3 {
      color: $font-color-accent;
    }

    h3 {
      font-size: $font-size;
    }

    .tribe-events-calendar-month__header-column-title {
      text-align: center;
    }

    h3.tribe-events-calendar-month__calendar-event-title.tribe-common-h8.tribe-common-h--alt {
      font-size: $font-size;
    }

    .tribe-events-c-events-bar__views {
      display: none;
    }

    .tribe-events-c-day-marker.tribe-events-calendar-month-mobile-events__day-marker {
      display: none;
    }

    button.tribe-events-calendar-month__day-cell.tribe-events-calendar-month__day-cell--mobile {
      background-color: transparent;
      height: auto;

      em.tribe-events-calendar-month__mobile-events-icon.tribe-events-calendar-month__mobile-events-icon--event {
        background-color: $beigegold;
      }

      &.tribe-events-calendar-month__day-cell--selected {
        background-color: $beigegold;

        h3 {
          color: #fff;
        }

        em.tribe-events-calendar-month__mobile-events-icon.tribe-events-calendar-month__mobile-events-icon--event {
          background-color: #fff;
        }
      }
    }

    button.tribe-events-c-top-bar__nav-link--next,
    button.tribe-events-c-top-bar__nav-link--prev,
    a.tribe-events-c-top-bar__nav-link--next,
    a.tribe-events-c-top-bar__nav-link--prev {
      padding: $spacing-xs;
    }

    .tribe-events-c-top-bar__datepicker-container {
      .datepicker.datepicker-dropdown.dropdown-menu.datepicker-orient-left.datepicker-orient-bottom {
        top: 5px !important;
        margin: 0;
        padding: 0;
      }

      span {
        padding: 0;
        margin: 0;
        background-image: none;
        line-height: 30px;
        border-radius: 0;

        &.current {
          background-color: $weinrot;
          color: $font-color-accent;
        }

        &.focused, &.active {
          background-color: $beigegold;
          color: #fff;
        }
      }
    }

    .tribe-common-c-svgicon.tribe-common-c-svgicon--messages-not-found.tribe-events-c-messages__message-icon-svg {
      margin-right: $spacing-xs;
    }

    .tribe-events-calendar-month-mobile-events {
      margin-bottom: $spacing;
    }

    button.tribe-events-calendar-month__day-cell--mobile {
      padding: $spacing-xxs 0;
      h3 {
        font-size: $font-size !important;
      }
    }
  }

  .tribe-events-header {
    width: 100%;
  }
}

div.tribe-events-tooltip-theme {
  .tooltipster-sidetip, .tooltipster-box {
    background-color: #fff;
    border: 1px solid $anthrazit;
    padding: $spacing-xs;
  }

  .tooltipster-content {
    color: $font-color;
    line-height: $line-height;
  }
}
