body.tribe-theme-rehorik {
  .tribe-common-l-container.tribe-events-l-container {
    padding: 0;

    .tribe-events-c-events-bar__views {
      display: none;
    }

    button.tribe-events-c-search__button {
      padding: 0 $spacing;
      height: 100%;
      background-color: $anthrazit;

      &:hover {
        background-color: $beigegold;
        color: #fff;
      }
      border-radius: 0;
    }
  }
}
