.tribe-common .tribe-common-h5,
.tribe-common .tribe-common-h6 {
  font-family: $font-family-body;
  font-size: $font-size-large !important;
  font-weight: bold;
  color: $font-color-accent;
  padding: 0;
}

.tribe-common-h7 {
  text-transform: uppercase;
  font-weight: bold;
  font-family: $font-family-body;
  font-size: $font-size;
  color: $font-color;
  line-height: $line-height-narrow;
}

#tribe-events-pg-template.rehorik-tribe-events-main {
  line-height: $line-height-narrow;

  #tribe-events {
    padding: 0;

    #tribe-events-content {
      padding: 0;
      margin: 0 0 $spacing-l 0;
    }

    .rehorik-tribe-event-tickets {
      .rehorik-tribe-event-tickets-form {
        padding: 0;
        margin: 0;
        border: none;
        max-width: unset;
      }
    }

    h2, .tribe-events-cost {
      font-family: $font-family-body;
      font-size: $font-size-large;
      font-weight: bold;
      color: $font-color;
      padding: 0;
    }

    .tribe-tickets__tickets-item-content-title,
    .rehorik-tribe-events-extra-price {
      background: transparent url("../img/thumbnail_striche-textkasten-50px.png") repeat 0 0;
      padding: $spacing-xxs;
      margin: 0 0 $spacing-s 0;
    }

    .rehorik-tribe-events-extra-price {
      > span:first-child {
        margin-right: $spacing-xxs;
      }
    }

    .tribe-common-h4 {
      font-family: $font-family-body;
      font-size: $font-size;
      color: $font-color;
      font-weight: normal;
      line-height: $line-height-narrow;
    }

    .tribe-events-cost {
      font-weight: normal;

      @media all and (min-width: $small-breakpoint + 1) {
        margin-left: $spacing-xxs;
      }
    }

    .tribe-events-schedule.tribe-clearfix {
      margin: 0;
    }

    .tribe-tickets__tickets-item-quantity {
      display: block;

      $height: 49px;
      .tribe-tickets__tickets-item-quantity-number {
        $width: 60px;
        height: $height;
        width: $width;

        input.rehorik-tribe-events-number-input {
          font-weight: 500 !important;
          font-size: 20px !important;
          color: #fff !important;
          border-radius: 3px;
          -webkit-box-shadow: none !important;
          box-shadow: none !important;
          border: none !important;
          background-color: $hellgrau;
          height: 49px;
          width: $width;
          text-align: center;
          padding: 2px;
          font-family: $font-family-body;
        }
      }

      .tribe-tickets__tickets-item-quantity-add,
      .tribe-tickets__tickets-item-quantity-remove {
        color: $font-color-accent-dark;
        font-size: $font-size-h1;
        width: 30px;
        margin: 0;
        transform: translate(0, 5px);
      }
    }
  }
}