#tribe-events-pg-template.rehorik-tribe-events-main .rehorik-tribe-event-tickets .rehorik-tribe-event-tickets-form {
    .rehorik-tribe-event-tickets-item {
      border: none;
      padding: 0;
      display: block;
      margin-bottom: $spacing;

      @media all and (min-width: $small-breakpoint + 1) {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        margin-bottom: $spacing-l;

        > div:first-child {
          margin-right: $spacing;
          flex: 1 0 100px;
        }
      }
    }
}