main#tribe-events #tribe-events-content {
  .tribe-back {
    margin-bottom: $spacing-s;
  }

  .tribe-tickets {
    h2 {
      margin-top: $spacing;
    }
  }

  .tribe-submit-tickets-form button {
    color: #ededed;
    font-family: $font-family-body;
    padding: 0.3em 1em;
    background: $beigegold none;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    font-size: $font-size;
    border: 2px solid;
    border-radius: 3px;
    transition: all 0.2s;
    text-align: center;
    box-shadow: none;
    text-shadow: none;
    cursor: pointer;

    &:hover {
      color: $hellbraun;
      background-color: $beigegold;
    }
  }
}