.rehorik-tribe-events-main #tribe-events {
  .rehorik-tribe-events-single {
    h1.tribe-events-single-event-title {
      color: $font-color-accent !important;
      text-align: left;
      margin-bottom: $spacing-xxs;
    }

    .rehorik-tribe-events-single-event-content {
      @media all and (min-width: $small-breakpoint + 1) {
        display: grid;
        grid-template-columns: 3fr 5fr;
        column-gap: $spacing-xl;
        row-gap: $spacing;
      }

      @media all and (max-width: $small-breakpoint) {
        div:first-child {
          margin-bottom: $spacing;
        }
      }
    }

    .rehorik-tribe-events-single-event-content {
      margin-top: $spacing-l;
    }

    .rehorik-tribe-events-single-description {
      text-align: justify;
    }

    .rehorik-tribe-events-single-hint {
      background-color: $beigegold;
      padding: $spacing-s;
      font-size: $font-size-small;
    }

    @media all and (min-width: $small-breakpoint + 1) {
      .tribe-events-event-image, .tribe-events-event-image img {
        width: 600px;
      }
    }

    .tribe-events-event-image img {
      margin: 5px 0 0 0;
      padding: 0;
    }

    &.event-online {
      h1.tribe-events-single-event-title {
        position: relative;
        padding-left: 50px + $spacing-xs;
      }

      h1.tribe-events-single-event-title::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 50px;
        height: 33px;
        background: transparent url("../img/online.svg") no-repeat center center;
      }
    }

    &.event-canceled {
      h1.tribe-events-single-event-title::before {
        content: "Veranstaltung abgesagt";
        display: block;
        position: absolute;
        font-size: $font-size;
        top: 0;
        right: 0;
        border: 1px solid $weinrot;
        background-color: $weinrot;
        width: auto;
        color: #fff;
        padding: $spacing-xxs;
      }

      @media all and (max-width: $small-breakpoint) {
        h1.tribe-events-single-event-title {
          padding-top: 50px;
        }
        h1.tribe-events-single-event-title::before {
          left: 0;
          right: 0;
          margin-left: auto;
          margin-right: auto;
          text-align: center;
        }
      }
    }
  }
}
