li.veranstaltungen {
  div.rehorik-upcoming-events {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding: $spacing-s;
    width: 100%;

    > a {
      padding: $spacing-xxs;
      display: flex;
      flex-wrap: nowrap;
      overflow: hidden;

      &:hover > span {
        text-decoration: underline;
      }

      &.tickets-not-available span {
        opacity: 0.3;
      }

      span {
        line-height: $line-height-narrow;
        color: $font-color-accent-dark;
        font-size: $font-size-small;
        font-family: $font-family-headline;
        text-transform: uppercase;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:first-child {
          margin-right: $spacing-xs;
          flex-shrink: 0;
        }

        &:last-child {
          flex-shrink: 1;
        }
      }
    }
  }
}
