button#product-filter-close-button,
button#product-filter-button {
  display: none;
}

@media all and (max-width: $medium-breakpoint) {
  body.rehorik #main-content {
    button#product-filter-close-button,
    button#product-filter-button {
      display: block;
    }

    button#product-filter-button {
      margin: 0 auto $spacing-l auto;
      width: $product-gallery-width;
    }

    #sidebar {
      opacity: 0;
      transition: transform var(--animation-time), opacity var(--animation-time);
      pointer-events: none;
      position: fixed;
      right: 0;
      top: 0;
      height: 100%;
      width: 100%;
      overflow: scroll;
      background: #fff none;
      margin: 0;
      z-index: 1000;
      padding: $top-bar-height + $spacing-l var(--section-spacing-left-right) $spacing-l var(--section-spacing-left-right);

      &.show {
        pointer-events: all;
        opacity: 1;
        transform: translateX(0);
      }

      &:not(.show) {
        transform: translateX(100vw);
      }

      button#product-filter-close-button {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-radius: 0;
        height: $top-bar-height;
        flex: 0 0 $top-bar-height;
        padding-left: $spacing * 2;
        text-align: left;
        background: $weinrot url("../img/pfeil-rot.svg") no-repeat left $spacing center;
        background-size: 10px;
        color: $font-color-accent;
        font-size: $font-size;
        font-family: $font-family-bold;
        text-transform: uppercase;
        line-height: 0;
      }
    }
  }
}
