button#product-filter-close-button,
button#product-filter-button {
  display: none;
}

@media all and (max-width: $medium-breakpoint) {
  body.rehorik #main-content {
    button#product-filter-close-button,
    button#product-filter-button {
      display: block;
    }

    button#product-filter-button {
      margin: 0 auto $spacing-l auto;
      width: $product-gallery-width;
    }

    #sidebar {
      opacity: 0;
      transition: opacity var(--animation-time) linear;
      pointer-events: none;
      position: fixed;
      right: 0;
      top: 0;
      height: 100%;
      width: 100%;
      overflow: scroll;
      background: #fff none;
      margin: 0;
      z-index: 1000;
      padding: $top-bar-height var(--section-spacing-left-right);

      &:not(.visible) {
        right: -100vw;
      }
    }
  }
}
