button#product-filter-close-button,
button#product-filter-button {
  display: none;
}

@media all and (max-width: $small-breakpoint) {
  body.rehorik #main-content {
    button#product-filter-button {
      display: block;
      cursor: pointer;
    }

    button#product-filter-close-button {
      display: block;
      cursor: pointer;
    }

    #sidebar {
      position: fixed;
      right: 0;
      top: 0;
      width: 100%;
      height: 100vh;
      overflow: scroll;
      background: #fff none;
      margin: 0;
      z-index: 1000;
      padding: $top-bar-height var(--section-spacing-left-right);

      &:not(.visible) {
        right: -100vw;
      }
    }
  }
}