.rehorik {
  ul.products.rehorik-products {
    @include gridView($product-gallery-width);

    @media all and (min-width: $medium-breakpoint + 1) {
      justify-content: flex-start;
    }

    li {
      border-radius: $border-radius;
    }

    &::before, &::after {
      content: none;
    }

    &:empty {
      grid-template-columns: 1fr;

      &::before {
        content: "Es wurden keine Produkte gefunden, die deiner Auswahl entsprechen.";
        display: block;
        background-color: #fff;
        color: $font-color;
        padding: $spacing;
        border: 1px solid $beigegold;
        margin: 0 0 $spacing 0;
        border-radius: $border-radius;
      }
    }
  }

  &.home {
    ul.products.rehorik-products {
      @include gridView($product-category-width);
    }

    #rehorik-featured-products ul.products.rehorik-products {
      grid-template-columns: repeat(auto-fill, $product-category-width);
    }
  }
}
