.woocommerce #main-content .container {
  ul.rehorik-products.products {
    li.product-category.product {
      width: 100% !important;

      img, h2.woocommerce-loop-category__title {
        margin: 0 !important;
      }

      h2.woocommerce-loop-category__title {
        position: absolute;
        bottom: 0;
        color: $font-color-accent;
        width: 100%;
        padding: $spacing-s;
        background: transparent url("../img/Schwarz_50_60x1px.png") repeat-x 0 0;
      }
    }
  }
}