ul.rehorik-products.products {
  position: relative;
  list-style: none;

  li.product-category.product {
    position: relative;
    margin: 0;
    width: 100%;
    float: none;

    > a {
      height: 100%;
      display: flex;
      flex-direction: column;
    }

    img {
      object-fit: fill;
      padding: 0;
      margin: 0;
      display: block;
      height: 100%;
      width: 100%;
    }

    video {
      position: absolute;
      top: 0;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    .video-button {
      position: absolute;
      z-index: 9;
      top: $spacing;
      right: $spacing;
      background: rgba(0, 0, 0, $opacity) url("../img/svg/icon-play.svg") no-repeat center center;
      backdrop-filter: blur(3px);
      width: $spacing-xl;
      height: $spacing-xl;
      border-radius: $border-radius;
      padding: 0;
      background-size: $spacing-s;
      cursor: pointer;

      &.playing {
        background-image: url("../img/svg/icon-pause.svg");
      }
    }

    h2.woocommerce-loop-category__title {
      $titleHeight: 60px;
      height: $titleHeight;
      margin: -$titleHeight 0 0 0;
      position: relative;
      color: $font-color-accent;
      width: 100%;
      padding: $spacing-s;
      background: rgba(0, 0, 0, $opacity) none;
      backdrop-filter: blur(3px);
      font-size: $font-size;
      line-height: $font-size;
      font-weight: normal;
      text-align: center;
      text-transform: uppercase;
    }

    div.rehorik-category-description {
      flex-grow: 1;
      background-color: $weinrot;
      color: $product-alternative-body-text-color;
      padding: $spacing-xs;
      line-height: $line-height-narrow;
      border-bottom-right-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
      font-size: $font-size-small;
      position: relative;

    }
  }
}