@import "../mixins";

.container, #rehorik-featured-products {
  li.rehorik-product {
    background-color: $product-default-color;
    color: $product-alternative-body-text-color;

    a, td {
      color: $product-alternative-body-text-color;
    }

    h2 {
      color: $product-alternative-header-text-color;
    }

    tr.seperator td hr {
      border-color: $beigegold;
    }

    &.product_cat-crema {
      background-color: $product-crema-color;
    }

    &.product_cat-espresso {
      background-color: $product-espresso-color;
    }

    &.product_cat-filterkaffee {
      background-color: $product-filterkaffee-color;
    }

    &.product_cat-espresso.product_cat-filterkaffee {
      @include productLinearGradient($product-filterkaffee-color, $product-espresso-color);
    }

    &.product-of-month {
      background: none $product-of-month-color no-repeat center center !important;
      color: $product-default-body-text-color;

      a, td {
        color: $product-default-body-text-color;
      }

      h2 {
        color: $product-default-header-text-color;
      }

      tr.seperator td hr {
        border-color: #fff;
        margin: $spacing-xxs 0;
      }
    }
  }
}
