#main-content .container,
#rehorik-best-selling-products {
  li.rehorik-product {
    background-color: $product-default-color;
    color: $product-alternative-body-text-color;

    a, td {
      color: $product-alternative-body-text-color;
    }

    h2 {
      color: $product-alternative-header-text-color;
    }

    tr.seperator td hr {
      border-color: $primary-color;
    }

    &.product_cat-crema {
      background-color: $product-crema-color;
    }

    &.product_cat-espresso {
      background-color: $product-espresso-color;
    }

    &.product_cat-filterkaffee {
      background-color: $product-filterkaffee-color;
    }

    &.product-of-month {
      background-color: $product-of-month-color;
      color: $product-default-body-text-color;

      a, td {
        color: $product-default-body-text-color;
      }

      h2 {
        color: $product-default-header-text-color;
      }

      tr.seperator td hr {
        border-color: #fff;
        margin: $spacing-xxs 0;
      }
    }
  }
}
body.woocommerce #content-area {
  div.rehorik-product-tabs {
    ul.rehorik-tabs-header li[role='tab'] {
      border: 1px solid $product-default-color !important;

      &.active {
        background-color: $product-default-color !important;

        a {
          color: #fff !important;
        }
      }

      a {
        color: $product-default-color !important;
      }
    }

    div.rehorik-tabs-panel {
      background-color: $product-default-color;
      border-color: $product-default-color;
    }
  }

  div.rehorik-product.product_cat-crema {
    div.rehorik-product-tabs {
      ul.rehorik-tabs-header li[role='tab'] {
        border-color: $product-crema-color !important;

        &.active {
          background-color: $product-crema-color !important;

          a {
            color: #fff !important;
          }
        }

        a {
          color: $product-crema-color !important;
        }
      }

      div.rehorik-tabs-panel {
        background-color: $product-crema-color;
        border-color: $product-crema-color;
      }
    }
  }

  div.rehorik-product.product_cat-espresso {
    div.rehorik-product-tabs {
      ul.rehorik-tabs-header li[role='tab'] {
        border-color: $product-espresso-color !important;

        &.active {
          background-color: $product-espresso-color !important;

          a {
            color: #fff !important;
          }
        }

        a {
          color: $product-espresso-color !important;
        }
      }

      div.rehorik-tabs-panel {
        background-color: $product-espresso-color;
        border-color: $product-espresso-color;
      }
    }
  }

  div.rehorik-product.product_cat-filterkaffee {
    div.rehorik-product-tabs {
      ul.rehorik-tabs-header li[role='tab'] {
        border-color: $product-filterkaffee-color !important;;

        &.active {
          background-color: $product-filterkaffee-color !important;

          a {
            color: #fff !important;
          }
        }

        a {
          color: $product-filterkaffee-color !important;;
        }
      }

      div.rehorik-tabs-panel {
        background-color: $product-filterkaffee-color;
        border-color: $product-filterkaffee-color;
      }
    }
  }
}