ul.rehorik-products.products {
  li.product-category.product {
    position: relative;
    max-height: 473px;

    a {
      display: block;
      height: 100%;
    }

    img, h2.woocommerce-loop-category__title {
      margin: 0 !important;
    }

    img {
      height: 100%;
      object-fit: fill;
      padding: 0;
      margin: 0;
      display: block;
    }

    h2.woocommerce-loop-category__title {
      position: absolute;
      bottom: 0;
      color: $font-color-accent;
      width: 100%;
      padding: $spacing-s;
      background: transparent url("../img/Schwarz_1px.png") repeat 0 0;
      font-size: $font-size;
      font-weight: normal;
      text-align: center;
      text-transform: uppercase;
    }
  }
}