.rehorik-custom-category-header,
.rehorik-custom-category-footer {
  color: #fff;
  font-size: $font-size-small;
  text-align: justify;

  h4 {
    font-weight: normal;
    color: $font-color-accent;
    padding: 0;
    text-align: left;
    padding-bottom: $spacing;
  }

  a {
    font-family: $font-family-body;
  }

  @media all and (max-width: $small-breakpoint) {
    font-size: $font-size-small;
    text-align: left;

    h4 {
      font-size: $font-size-small;
      padding-bottom: $spacing-s;
    }
  }
}

.rehorik-custom-category-header {
  position: relative;

  .slider-image-1,
  .slider-image-2,
  .header-image {
    width: auto;
    height: 600px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    @media all and (max-width: $small-breakpoint) {
      height: 485px;
    }
  }

  .quality-text-outer {
    position: absolute;
    margin: auto;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .quality-text {
    background: rgba(0, 0, 0, $opacity) none;
    backdrop-filter: blur(3px);
    width: 100%;
    z-index: 9;
    padding: $spacing-l;
    border-top-left-radius: $border-radius-large;
    border-top-right-radius: $border-radius-large;

    @media all and (min-width: $small-breakpoint + 1) {
      max-width: 589px;
      position: absolute;
      right: $spacing-l;
      bottom: 0;
    }

    .quality-text-content {
      @media all and (min-width: $small-breakpoint + 1) {
        display: flex;

        > div {
          flex: 1 1 0;
          width: 0;
        }

        > div:first-child {
          margin-right: $spacing-s;
        }
      }
    }

    @media all and (max-width: $small-breakpoint) {
      padding: $spacing-s;
    }
  }
}

.rehorik-custom-category-footer {
  background: $weinrot none;
  $heikoHeightSmall: 220px;
  $heikoHeightVerySmall: 180px;

  @media all and (max-width: $small-breakpoint) {
    margin-top: $heikoHeightSmall + $spacing-l;
  }

  @media all and (max-width: $very-small-breakpoint) {
    margin-top: $heikoHeightVerySmall + $spacing-l;
  }

  .order-instructions {
    position: relative;
    padding: $spacing-l $spacing;
    font-size: $font-size;

    &:before {
      content: "";
      display: block;
      background: transparent none no-repeat left bottom;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 319px;
      height: 289px;

      @media all and (max-width: $small-breakpoint) {
        width: 240px;
        height: $heikoHeightSmall;
        top: -$heikoHeightSmall;
        margin: 0 auto;
        left: 0;
        right: 0;
      }

      @media all and (max-width: $very-small-breakpoint) {
        width: 196px;
        height: $heikoHeightVerySmall;
        top: -$heikoHeightVerySmall;
      }
    }
  }
}
