.lieferservice-slider-image-1,
.lieferservice-slider-image-2 {
  background-image: url("../img/lieferservice/lieferservice-header-600px-v1.jpg");

  @media all and (max-width: $small-breakpoint) {
    background-image: url("../img/lieferservice/lieferservice-header-mobil-375x485px-v1.png");
  }
}

.lieferservice-slider-image-2 {
  background-image: url("../img/lieferservice/lieferservice-header-600px-v2.jpg");

  @media all and (max-width: $small-breakpoint) {
    background-image: url("../img/lieferservice/lieferservice-header-mobil-375x485px-v2.png");
  }
}

.rehorik-custom-category-footer.lieferservice {
  background-color: $beigegold;

  h4 {
    color: $font-color;
  }

  .order-instructions:before {
    background-image: url("../img/lieferservice/Lieferservice_Lueckenfueller-freigestellt.png");

    @media all and (max-width: $small-breakpoint) {
      background-image:url("../img/lieferservice/lieferservice-lastenrad-220px.png");
    }

    @media all and (max-width: $very-small-breakpoint) {
      background-image:url("../img/lieferservice/lieferservice-lastenrad-180px.png");
    }
  }
}
