$spacing-ls: 40px;
$line-height: 26px;

.rehorik-lieferservice-category-header {
  position: relative;
  margin-top: -$spacing-l;

  ul#slider, ul#slider li, ul#slider li img {
    width: 100%;
  }

  ul#slider img {
    height: 600px;
    object-fit: cover;
  }

  #slider > .tns-item {
    line-height: 0;
    vertical-align: middle;
  }

  #tns-controls-container {
    button {
      background: transparent url("../img/lieferservice/pfeil_weiss.svg") no-repeat 0 0;
      border: none;
      width: 50px;
      height: 50px;
      position: absolute;
      top: 350px;
      cursor: pointer;
    }

    button[data-controls="prev"] {
      left: 75px;
    }

    button[data-controls="next"] {
      transform: rotate(180deg);
      right: 75px;
    }

    @media all and (max-width: $small-breakpoint) {
      display: none;
    }
  }

  @media all and (max-width: $small-breakpoint) {
    .tns-outer {
      padding-top: 15em !important;
    }
  }

  .quality-text {
    background: transparent url("../img/Weiss_1px.png") repeat 0 0;
    border-bottom-left-radius: $spacing-s;
    border-bottom-right-radius: $spacing-s;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    max-width: 660px;
    top: 0;
    z-index: 1000;

    padding: $spacing-ls;

    h4 {
      color: $font-color-accent;
      text-transform: uppercase;
      line-height: $line-height;
    }

    .quality-text-content {
      font-size: $font-size;
      line-height: $line-height;
      display: flex;
      text-align: justify;

      > div {
        flex: 1 1 0;
        width: 0;
      }

      > div:first-child {
        margin-right: $spacing-xs;
      }
    }
  }

  .order-instructions-outer {
    padding: $spacing-ls 0;
    background: $weinrot none;

    .order-instructions {
      background: transparent url("../img/strichl-riesig-weiss.png") no-repeat 0 0;
      color: #fff;

      > div {
        padding: $spacing;
        background-color: $weinrot;
        text-align: center;

        @media all and (min-width: $small-breakpoint + 1) {
          width: 600px;
          margin: $spacing-l auto;
        }

        h3 {
          color: #fff;
          text-transform: uppercase;
        }

        > div {
          font-size: $font-size;
          line-height: $line-height;
        }
      }
    }
  }
}

.rehorik-lieferservice-category-footer {
  background: $beigegold none;
  padding: $spacing;

  > div {
    display: flex;
    justify-content: center;

    > div {
      position: relative;
    }
  }

  .category-gap-filler {
    background: transparent url("../img/lieferservice/Lieferservice_Lueckenfueller-freigestellt.png") no-repeat right bottom;
    position: absolute;
    width: 319px;
    height: 289px;
    top: -289px - $spacing;
    right: -590px  - $spacing-s;

    @media all and (max-width: $medium-breakpoint) {
      display: none;
    }
  }
}