.rehorik-custom-category-header {
  .header-image {
    &.veranstaltungen {
      background-image: url("../img/veranstaltungen/header/header-veranstaltungen-1920x600px.jpg");

      @media all and (max-width: $medium-breakpoint) and (min-width: $small-breakpoint + 1) {
        background-image: url("../img/veranstaltungen/header/header-veranstaltungen-1080x600px.jpg");
      }

      @media all and (max-width: $small-breakpoint) {
        background-image: url("../img/veranstaltungen/header/header-veranstaltungen-mobil-375x485px.jpg");
      }
    }

    &.events {
      background-image: url("../img/veranstaltungen/header/events/header-veranstaltungen-rehorikevents-1920x600px.jpg");

      @media all and (max-width: $medium-breakpoint) and (min-width: $small-breakpoint + 1) {
        background-image: url("../img/veranstaltungen/header/events/header-veranstaltungen-rehorikevents-1080x600px.jpg");
      }

      @media all and (max-width: $small-breakpoint) {
        background-image: url("../img/veranstaltungen/header/events/header-veranstaltungen-rehorikevents-375x485px.jpg");
      }
    }

    &.kaffee-seminare {
      background-image: url("../img/veranstaltungen/header/kaffee-seminare/header-veranstaltungen-kaffee-1920x600px.jpg");

      @media all and (max-width: $medium-breakpoint) and (min-width: $small-breakpoint + 1) {
        background-image: url("../img/veranstaltungen/header/kaffee-seminare/header-veranstaltungen-kaffee-1080x600px.jpg");
      }

      @media all and (max-width: $small-breakpoint) {
        background-image: url("../img/veranstaltungen/header/kaffee-seminare/header-veranstaltungen-kaffee-mobil-375x485px.jpg");
      }
    }

    &.spirituosen-seminare {
      background-image: url("../img/veranstaltungen/header/spirituosen-seminare/header-veranstaltungen-spirits-1920x600px.jpg");

      @media all and (max-width: $medium-breakpoint) and (min-width: $small-breakpoint + 1) {
        background-image: url("../img/veranstaltungen/header/spirituosen-seminare/header-veranstaltungen-spirits-1080x600px.jpg");
      }

      @media all and (max-width: $small-breakpoint) {
        background-image: url("../img/veranstaltungen/header/spirituosen-seminare/header-veranstaltungen-spirits-mobil-375x485px.jpg");
      }
    }

    &.virtuelle-events {
      background-image: url("../img/veranstaltungen/header/virtuelle-events/header-veranstaltungen-virtuelleevents-1920x600px.jpg");

      @media all and (max-width: $medium-breakpoint) and (min-width: $small-breakpoint + 1) {
        background-image: url("../img/veranstaltungen/header/virtuelle-events/header-veranstaltungen-virtuelleevents-1080x600px.jpg");
      }

      @media all and (max-width: $small-breakpoint) {
        background-image: url("../img/veranstaltungen/header/virtuelle-events/header-veranstaltungen-virtuelleevents-mobil-375x485px.jpg");
      }
    }

    &.wein {
      background-image: url("../img/veranstaltungen/header/wein/header-veranstaltungen-wein-1920x600px.jpg");

      @media all and (max-width: $medium-breakpoint) and (min-width: $small-breakpoint + 1) {
        background-image: url("../img/veranstaltungen/header/wein/header-veranstaltungen-wein-1080x600px.jpg");
      }

      @media all and (max-width: $small-breakpoint) {
        background-image: url("../img/veranstaltungen/header/wein/header-veranstaltungen-wein-mobil-375x485px.jpg");
      }
    }

    &.kulinarik-events {
      background-image: url("../img/veranstaltungen/header/kulinarik/header-veranstaltungen-kulinarik-1920x600px.jpg");

      @media all and (max-width: $medium-breakpoint) and (min-width: $small-breakpoint + 1) {
        background-image: url("../img/veranstaltungen/header/kulinarik/header-veranstaltungen-kulinarik-1080x600px.jpg");
      }

      @media all and (max-width: $small-breakpoint) {
        background-image: url("../img/veranstaltungen/header/kulinarik/header-veranstaltungen-kulinarik-mobil-375x485px.jpg");
      }
    }
  }
}

.rehorik-custom-category-footer {
  .order-instructions:before {
    background-image: url("../img/veranstaltungen/rehorik-veranstaltungen-freistellerheiko.png");
  }
}
