.rehorik .wpfMainWrapper {
  $width: 30px;
  $height: $width * 1.5;

  .wpfFilterWrapper[data-get-attribute="wpf_filter_staerke"],
  .wpfFilterWrapper[data-get-attribute="wpf_filter_aromenvielfalt"] {
    .wpfFilterContent li {
      display: inline-block;

      &:not(:last-child) {
        margin-right: $spacing-xxs;
      }

      .wpfDisplay {
        display: none;
      }

      height: $height;
      width: $width;
      background-repeat: no-repeat;

      .wpfCheckbox label {
        border: none;
        height: $height;
        width: $width;
        background-repeat: no-repeat;
      }

      .wpfCheckbox input {
        height: $height;
        width: $width;
        position: absolute;
        opacity: 0;
        margin: 0;
      }
    }
  }

  @for $i from 1 through 6 {
    $bgSize: ($width - 18) + ($i * 3);

    .wpfFilterWrapper[data-get-attribute="wpf_filter_aromenvielfalt"] .wpfFilterContent li {
      &[data-term-slug="#{$i}"] .wpfCheckbox label {
        background: transparent url("../img/svg/flavour.svg") no-repeat center center;
        background-size: $bgSize;
        width: $bgSize;
        background-position: left bottom;
      }

      &[data-term-slug="#{$i}"] .wpfCheckbox input:checked + label {
        background: transparent url("../img/svg/flavour_filled.svg") no-repeat center center;
        background-size: $bgSize;
        width: $bgSize;
        background-position: left bottom;
      }
    }

    .wpfFilterWrapper[data-get-attribute="wpf_filter_staerke"] .wpfFilterContent li {
      &[data-term-slug="#{$i}"] .wpfCheckbox label {
        background: transparent url("../img/svg/strength.svg") no-repeat center center;
        background-size: $bgSize;
        width: $bgSize;
        background-position: left bottom;
      }

      &[data-term-slug="#{$i}"] .wpfCheckbox input:checked + label {
        background: transparent url("../img/svg/strength_filled.svg") no-repeat center center;
        background-size: $bgSize;
        width: $bgSize;
        background-position: left bottom;
      }
    }
  }
}