.rehorik .wpfMainWrapper {
  background: transparent url("../img/strichl-muster-60px.png") no-repeat left top;
  margin-bottom: $spacing-s;
  padding-top: $spacing-xl;
  color: $grau;

  .wpfFilterWrapper {
    padding: 0;
  }

  .wpfTitleToggle {
    padding-top: 5px;
  }

  .wpfFilterTitle {
    text-transform: uppercase;
    font-size: $font-size;
    margin: $spacing-xs 0 0 0;
  }

  .wpfFilterVerScroll {
    margin: $spacing-xs 0 0 0;
  }

  .wpfCount {
    font-size: $font-size-very-small;
    color: $tuerkis;
  }
}

.rehorik {
  .wpfPreview.wpfPreviewLoader {
    position: absolute;
    left: 50%;
    right: 50%;
    top: 150px;

    ul.products .spinner,
    .la-spinner,
    .wpfIconPreview .spinner,
    .wpfLoaderIconTemplate .spinner,
    .woobewoo-filter-loader.spinner {
      background: transparent url("../img/svg/strength.svg") no-repeat center center !important;
    }
  }
}
