#sidebar.rehorik-sidebar {
  .wpfFilterContent {
    margin-bottom: $spacing;
    float: unset;
    order: 1;
    font-size: $font-size-small;
    padding: 0;
    position: relative;

    &:after {
      content: '';
      display: block;
      background: transparent url("../img/pfeile/pfeil-schwarz-unten.svg") no-repeat center right;
      background-size: 12px;
      width: 12px;
      height: 12px;
      right: $spacing-xs;
      top: 21px;
      position: absolute;
      pointer-events: none;
    }

    select {
      border-radius: 0;
      background-color: transparent;
      border: 1px solid $hellgrau;
      padding: $spacing-xxs $spacing-l $spacing-xxs $spacing-xxs;
      color: $font-color;
      font-size: $font-size-small;
      line-height: $font-size-small + 2px;
      height: $product-view-cart-button-quantity-height;
      font-family: $font-family-body;
      text-align: left;
      outline: none;
      width: 100%;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      text-transform: uppercase;

      &::-ms-expand {
        display: none;
      }

      option {
        font-size: $font-size-small;
        line-height: $font-size-small;
        padding: $spacing-xxs;
        border: none;
        outline: none;
      }

      &:focus-within:focus-visible:active {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }
}

