.woocommerce-cart.woocommerce-page {
  .woocommerce .cart-collaterals {
    div.rehorik-cart-totals {
      width: $cart-coupon-width;
      margin: $spacing $spacing 0 auto;

      @media all and (max-width: $small-breakpoint) {
        width: 100%;
      }

      table.shop_table.shop_table_responsive.rehorik-shop-table {
        width: 100%;
        border: none;
        margin-bottom: 0;

        th, td {
          font-weight: normal;
          vertical-align: top;
          padding: 0 0 $spacing-xs 0;
          border: none;
          background-color: transparent;
        }

        tr td {
          text-align: right;
        }

        tr.shipping td {
          padding-bottom: $spacing-xs;
        }

        tr:last-child {
          td, th {
            padding: 0 0 $spacing 0;
          }
        }

        @media all and (max-width: $small-breakpoint) {
          tr td::before, .woocommerce-page table.shop_table_responsive tr td::before {
            font-weight: normal;
            content: attr(data-title);
          }
        }
      }

      .checkout-button.button.alt.wc-forward {
        margin-bottom: $spacing-xxxs;
        color: #fff;
      }
    }
  }
}


