.woocommerce-cart.woocommerce-page {
  table.cart-table {
    width: 100%;
    border: none;

    th {
      padding: 0 0 $spacing-s 0;
      text-align: left;
    }

    td {
      border-top: 1px solid $beigegold;
    }

    tbody tr:last-child td {
      border-bottom: 1px solid $beigegold;
    }

    td {
      padding: $spacing 0;
    }

    @media all and (max-width: $small-breakpoint) {
      th.product-thumbnail, td.product-thumbnail {
        display: none;
      }
    }

    .product-name {
      a {
        color: $font-color-accent;
        margin: 0 0 $spacing-xxs 0;
        display: block;
      }
    }

    .product-thumbnail {
      width: $cart-thumbnail-size + $spacing-l;

      img {
        border-radius: $border-radius;
        object-fit: contain;
        width: $cart-thumbnail-size;
        margin-right: 0;
      }
    }
  }

  .woocommerce .product-name a.remove {
    $closeSize: 18px;
    text-align: left;
    border-radius: 0;
    position: relative;
    margin: $spacing-s 0 0 0;
    padding-left: $closeSize + 3px;

    &:hover {
      background-color: transparent;
      color: grey !important;
    }

    .close {
      position: absolute;
      left: -$spacing-xxs;
      top: 1px;
    }

    .close:hover {
      opacity: 1;
    }

    .close:before, .close:after {
      position: absolute;
      left: 15px;
      content: ' ';
      height: $closeSize;
      width: 2px;
      background-color: #333;
    }

    .close:before {
      transform: rotate(45deg);
    }

    .close:after {
      transform: rotate(-45deg);
    }
  }

  .single-price-info, .units-info, .variation {
    color: $font-color-accent;
    padding-bottom: 0;
  }

  .variation {
    margin: 0;
  }

  dl.variation dt {
    font-weight: normal;
  }

  .woocommerce-cart {
    button.button[name="apply_coupon"][type="submit"] {
      width: $cart-coupon-width;
    }

    button.button[name="apply_coupon"][type="submit"] {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .rehorik-cart-totals a.checkout-button.button {
    width: 100%;
    background-color: $grau;
    color: $beigegold !important;
    padding: $spacing-xs (($spacing * 2) + $spacing-xxs) $spacing-xs $spacing;
    background-image: url("../img/svg/strength_filled.svg");
    background-size: 20px;
    background-position: right $spacing center;
    background-repeat: no-repeat;

    &:hover {
      background-color: $beigegold;
      color: #fff !important;
      background-image: url("../img/svg/strength_filled_white.svg");
    }
  }

  .rehorik-update-cart button.button[name="update_cart"][type="submit"] {
    width: $cart-coupon-width;
  }
}
