#rehorik-cart {
  cursor: pointer;
  display: flex;
  align-items: center;

  .rehorik-cart-info {
    position: relative;
    display: inline;

    .rehorik-cart-info-number {
      position: absolute;
      font-size: $font-size-small;
      top: -2px;
      right: 0;
      display: block;
      color: #fff;
      $size: 22px;
      width: $size;
      height: $size;
      border-radius: $size;
      background-color: $weinrot;
      text-align: center;
      line-height: 20px;

      &.rehorik-cart-info-number:empty {
        display: none;
      }
    }
  }
}
