.rehorik-cart-info {
  .rehorik-cart-info-number {
    display: inline-block;
    color: $weinrot;
    $size: $spacing;
    width: $size;
    height: $size;
    border-radius: $size;
    line-height: $size;
    background-color: $beigegold;
    text-align: center;
  }
}