#rehorik-mini-cart .mini-cart-content {
  background-color: #fff;
  $widthLeft: 280px;
  $widthRight: 450px;
  $width: $widthLeft + $widthRight;
  $closeHeight: 80px;
  transform: translateX($width);
  transition: transform var(--animation-time);
  position: absolute;
  width: $width;
  @media all and (max-width: $width) {
    width: 100%;
  }
  height: 100%;
  right: 0;
  top: 0;

  > div {
    width: 100%;
    background-color: transparent;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
            "close close"
            "featured items"
            "featured items";

    @media all and (max-width: $width) {
      grid-template-areas:
            "close"
            "items"
            "featured";
    }

    .widget_shopping_cart_content,
    .cart-content-featured {
      padding: $spacing;
      max-height: calc(100vh - #{$closeHeight});
      overflow-y: auto;
      overflow-x: hidden;
    }

    #mini-cart-close {
      grid-area: close;

      height: $closeHeight;
      border-bottom: 1px solid $beigegold;
    }

    .cart-content-featured {
      grid-area: featured;

      button.add-to-cart-recent-order-item {
        cursor: pointer;
        width: 30px;
        height: 30px;
        background: transparent url("../img/cart/warenkorb-plus.svg") no-repeat center center;
        background-size: 30px;
        border-radius: $border-radius;

        &:hover {
          background-image: url("../img/cart/warenkorb-plus-white.svg");
        }
      }
    }

    .widget_shopping_cart_content {
      grid-area: items;
    }

    img {
      width: 100px;
    }
  }
}