#rehorik-mini-cart {
  $animationTime: 350ms;
  $widthLeft: 280px;
  $widthRight: 450px;
  opacity: 0;
  transition: opacity $animationTime linear;
  pointer-events: none;

  &.show {
    pointer-events: all;
    opacity: 1;

    .mini-cart-content {
      transform: translateX(0);
    }
  }

  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 102;

  #mini-cart-overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .mini-cart-content {
    background-color: $weinrot;
    background-image: url("../img/burger_bg.jpg"), url("../img/burger_bg_tile.jpg");
    background-repeat: no-repeat, repeat;
    background-position: left bottom, right bottom;
    background-size: 100%;
    transform: translateX($widthLeft + $widthRight);
    transition: transform $animationTime;
    position: absolute;
    width: $widthLeft + $widthRight;
    height: 100%;
    right: 0;
    top: 0;

    > div {
      height: 100%;
      width: 100%;
      background-color: transparent;
      padding: $spacing-s;
      color: #fff;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
            "info info"
            "featured items"
            "total total"
    ;
      .cart-content-info {
        grid-area: info;
      }

      .cart-content-items {
        grid-area: items;
      }

      .cart-content-featured {
        grid-area: featured;
      }

      .cart-content-total {
        grid-area: total;
      }

      #rehorik-mini-cart-update-message {
        display: none;
      }

      img {
        width: 100px;
      }
    }
  }
}
