#rehorik-mini-cart .mini-cart-content {
  background-color: #fff;
  box-shadow: -5px 0 20px 0 $anthrazit-opacity;

  $closeHeight: $top-bar-height;
  transform: translateX($mini-cart-width);
  transition: transform var(--animation-time);
  position: absolute;
  width: $mini-cart-width;

  @media all and (max-width: $mini-cart-width) {
    width: 100%;
  }

  height: 100%;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;

  #mini-cart-close {
    display: flex;
    align-items: center;
    padding-left: $spacing * 2;
    height: $closeHeight;
    flex: 0 0 $closeHeight;
    background: $weinrot url("../img/pfeil-rot.svg") no-repeat left $spacing center;
    background-size: 10px;
    color: $font-color-accent;
    font-size: $font-size;
    font-family: $font-family-headline;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
      color: #fff;
      background-image: url("../img/pfeil-weiss.svg");
    }
  }

  > div:last-child {
    width: 100%;
    background-color: transparent;
    max-height: calc(100vh - #{$closeHeight});
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;

    .mini-cart-content-featured {
      background-color: $beigegold;
      padding: $spacing 0 $spacing $spacing;
    }

    .widget_shopping_cart_content {
      background-color: #fff;

      .mini-cart-stripes {
        background: transparent url("../img/stripes.png") repeat-x center center;
        text-align: center;
        margin-top: $spacing-l;

        h2 {
          color: $font-color-accent;
          background-color: #fff;
          padding: $spacing-s;
          display: inline;
        }
      }

      .mini-cart-subtotal {
        padding: $spacing-l 0;
        margin: $spacing-l 0;
        border-bottom: 1px solid $beigegold;
        border-top: 1px solid $beigegold;

        > div:first-child, p.total.total-cart-tax.wc-gzd-total-mini-cart {
          display: flex;
          justify-content: space-between;
          padding: 0;
        }

        ul.woocommerce-shipping-methods {
          list-style: none;

          li {
            margin: 0;
            label {
              width: 100%;
              display: block;
              position: relative;

              .woocommerce-Price-amount.amount {
                font-weight: normal;
                position: absolute;
                right: 0;
              }

              small {
                font-size: $font-size;
                font-weight: normal;
              }
            }
          }
        }

        .rehorik-shipping-rest-amount, #shipping_method label[for*="free_shipping"] {
          color: $beigegold;
        }

        p.shipping-costs-cart-info {
          display: none;
        }
      }

      .mini-cart-total {
        margin-bottom: $spacing-l;
        display: flex;
        justify-content: space-between;
        span {
          text-transform: uppercase;
          font-weight: bold;
        }
      }

      .mini-cart-buttons {
        a.button.wc-forward {
          width: 100%;
          display: block;
          padding: $spacing-xxs $spacing;

          &.checkout {
            margin-top: $spacing-xs;
            background-color: $anthrazit;
          }
        }

        // Hide PayPal button
        p, #wc-ppcp-minicart-ppcp {
          display: none;
        }
      }
    }

    @media all and (max-width: $mini-cart-width) {
      flex-direction: column;
      flex-grow: 1;
      justify-content: space-between;
    }

    // Side to side view
    @media all and (min-width: $mini-cart-width + 1) {
      display: flex;

      .widget_shopping_cart_content,
      .mini-cart-content-featured {
        height: calc(100vh - #{$closeHeight});
        overflow-y: auto;
        overflow-x: hidden;
      }

      .mini-cart-content-featured {
        order: 1;
        flex: 0 0 $mini-cart-left-width;
        padding: $spacing-l $spacing $spacing $spacing;
      }

      .widget_shopping_cart_content {
        order: 2;
        flex: 0 0 $mini-cart-right-width;
      }
    }
  }
}
