#rehorik-mini-cart .mini-cart-content {
  $widthLeft: 280px;
  $widthRight: 450px;
  $width: $widthLeft + $widthRight;
  transform: translateX($width);
  transition: transform var(--animation-time);
  position: absolute;
  width: $width;
  @media all and (max-width: $width) {
    width: 100%;
  }
  height: 100%;
  right: 0;
  top: 0;

  background-color: $weinrot;
  background-image: url("../img/burger_bg.jpg"), url("../img/burger_bg_tile.jpg");
  background-repeat: no-repeat, repeat;
  background-position: left bottom, right bottom;
  background-size: 100%;

  > div {
    max-height: 100vh;
    overflow: scroll;
    width: 100%;
    background-color: transparent;
    padding: $spacing-s;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
            "close close"
            "featured items"
            "featured items";

    @media all and (max-width: $width) {
      grid-template-areas:
            "close"
            "items"
            "featured";
    }

    #mini-cart-close {
      grid-area: close;
    }

    .cart-content-featured {
      grid-area: featured;

      button.add-to-cart-recent-order-item {
        width: 30px;
        height: 30px;
        background: transparent url("../img/cart/warenkorb-plus.svg") no-repeat center center;
        background-size: 30px;
        border-radius: $border-radius;

        &:hover {
          background-image: url("../img/cart/warenkorb-plus-white.svg");
        }
      }
    }

    .widget_shopping_cart_content {
      grid-area: items;
    }

    img {
      width: 100px;
    }
  }
}