#rehorik-mini-cart {
  opacity: 0;
  transition: opacity var(--animation-time) linear;
  pointer-events: none;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 102;

  &.show {
    pointer-events: all;
    opacity: 1;

    .mini-cart-content {
      transform: translateX(0);
    }
  }

  &.show.updated {
    .mini-cart-content .widget_shopping_cart_content {
      #rehorik-mini-cart-update-message {
        display: block;
      }
    }
  }

  &.loading {
    .widget_shopping_cart_content {
      position: relative;
      pointer-events: none;
    }

    .mini-cart-content .widget_shopping_cart_content #rehorik-mini-cart-update-message {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: rgba(255, 255, 255, 0.8);
      z-index: 105;

      span {
        opacity: 0;
      }

      &::after {
        animation: spin 2s linear infinite;
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        background: transparent url("../img/svg/strength_filled.svg") no-repeat center center;
        background-size: 28px;
        width: 28px;
        height: 40px;
      }
    }
  }

  #rehorik-mini-cart-update-message {
    display: none;
    position: relative;
    text-align: center;

    span {
      opacity: 1;
      transition: opacity 0.3s;
    }
  }

  #mini-cart-overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
