.rehorik-shipping-methods {
  ul#shipping_method {
    list-style: none outside;

    .amount {
      font-weight: normal;
    }

    li {
      margin: $spacing-xs 0 $spacing-xs 0;
      line-height: 18px;
      display: flex;

      input {
        flex: 0 0 $spacing-xs;
        margin: 0 $spacing-xs 0 0;
      }

      label {
        display: flex;
        align-items: center;
        line-height: $spacing;
        text-align: left;
        flex: 0 1 100%;

        span:first-child {
          flex: 0;
        }

        .rehorik-shipping-hint {
          font-size: $font-size-small;
          color: #767676;
          order: 5;
          margin-left: $spacing-xs;
        }

        .woocommerce-Price-amount.amount {
          margin-left: $spacing-xxxs
        }
      }
    }
  }
}

.mini-cart-subtotal .rehorik-shipping-methods {
  margin: $spacing-xs 0;
}

.rehorik-shipping-rest-amount {
  color: $font-color-accent;
  font-size: $font-size;
  margin: 0;
  text-align: left;
  font-family: $font-family-body;
}
