.rehorik.woocommerce-checkout {
  p.form-row {
    margin: 0 0 $spacing-s 0;
    padding: 0;

    &.legal {
      margin-bottom: 0;
    }
  }

  .tribe-checkout-backlinks {
    display: none;
  }

  h3 {
    margin: $spacing-l 0 $spacing-s 0;
  }

  button#place_order {
    float: right;
    background-color: $grau;
    color: $beigegold;
    padding: $spacing-s (($spacing * 2) + $spacing-xxs) $spacing-s $spacing;
    background-image: url("../img/svg/strength_filled.svg");
    background-size: 20px;
    background-position: right $spacing center;
    background-repeat: no-repeat;

    &:hover {
      background-color: $beigegold;
      color: #fff;
      background-image: url("../img/svg/strength_filled_white.svg");
    }
  }
}

/*
.entry-content {
  .woocommerce {
    .checkout {
      h3 {
        color: $font-color;
      }
    }

    .woocommerce-billing-fields,
    #payment.woocommerce-checkout-payment {
      margin-bottom: $spacing-xl;
    }

    .woocommerce-order.rehorik-order {
      h2, h3 {
        color: $font-color;
      }

      address {
        padding: $spacing-s;
        margin: $spacing-s 0;
      }

      ul.rehorik-order-overview.order_details, ul.wc-bacs-bank-details.order_details.bacs_details {
        margin: $spacing-xl 0;
        padding: 0;

        li {
          border-right: 1px solid $beigegold;
          margin: 0 $spacing-xxs 0 0;
        }

        @media all and (max-width: $small-breakpoint) {
          li {
            float: none;
            border: none;
            margin-bottom: $spacing-xxs;
          }
        }
      }

      > p, > section {
        margin-bottom: $spacing-xl;
      }

      .woocommerce-bacs-bank-details {
        h3.wc-bacs-bank-details-account-name {
          font-size: $font-size;
          margin-bottom: $spacing-xs;
        }
      }
    }

    table.woocommerce-table.woocommerce-table--order-details.shop_table.order_details {
      padding: $spacing-s 0;
    }

    table.shop_table.woocommerce-checkout-review-order-table {
      padding: $spacing-s;
    }
  }
}
*/