.rehorik.woocommerce-checkout form.woocommerce-checkout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "notice notice"
    "details review"
;

  @media all and (max-width: $small-breakpoint) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "notice"
    "details"
    "review"
  ;
  }

  #customer_details {
    grid-area: details;

    @media all and (min-width: $small-breakpoint + 1) {
      padding-right: $spacing-xl;
    }

    > div {
      float: none;
      width: 100%;
    }
  }

  #order_review {
    grid-area: review;

    order: 2;
    display: flex;
    flex-direction: column;
    flex-basis: 60%;

    #order_review_heading {
      order: 1;
    }

    .shop_table.woocommerce-checkout-review-order-table {
      order: 2;
    }

    #order_payment_heading {
      order: 3;
    }

    #payment {
      order: 4;
    }

    .wc-gzd-checkbox-placeholder-data-age-verification {
      order: 5;
    }

    .wc-gzd-checkbox-placeholder.wc-gzd-checkbox-placeholder-legal {
      order: 6;
    }

    .wc-gzd-order-submit {
      order: 7;
    }

    .dhl-preferred-service-content:empty {
      display: none;
    }

    .place-order {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      button#place_order {
        order: 1;
        width: $product-view-cart-button-width;
      }

      #ppcp-cancel {
        order: 0;
        text-align: left;
        margin: 0 0 $spacing 0;
        border-radius: $border-radius;
        padding: $spacing;
        border: 1px solid $beigegold;
      }
    }

    .wc-gzd-checkbox-placeholder,
    .wc-gzd-checkbox-placeholder-data-age-verification,
    .wc-gzd-checkbox-placeholder-legal {
      margin-bottom: $spacing-xxs;

      p.form-row {
        margin: 0 0 $spacing-xxs 0;
        padding: 0;

        label {
          margin-bottom: $spacing-s;
          position: relative;
          display: block;
          padding-left: $spacing-s;

          .input-checkbox {
            position: absolute;
            left: 0;
            top: $spacing-xxs;
            margin: 0;
          }

          span {
            display: block;
          }
        }

        &.legal label {
          margin-bottom: 0;
        }
      }
    }
  }

  .woocommerce-NoticeGroup {
    grid-area: notice;
  }

  p.legal.form-row.checkbox-legal.validate-required {
    abbr.required {
      display: none;
    }
  }

  .form-row.woocommerce-invalid label {
    a {
      color: #a00;
    }
  }

  .tribe-checkout-backlinks {
    display: none;
  }

  h3 {
    margin: $spacing-s 0 $spacing-s 0;
  }

  button#place_order {
    float: right;
    background-color: $anthrazit;
    color: $beigegold;
    padding: $spacing-xs (($spacing * 2) + $spacing-xxs) $spacing-xs $spacing;
    background-image: url("../img/svg/strength_filled.svg");
    background-size: 20px;
    background-position: right $spacing center;
    background-repeat: no-repeat;

    &:hover {
      background-color: $beigegold;
      color: #fff;
      background-image: url("../img/svg/strength_filled_white.svg");
    }
  }
}
