.rehorik.woocommerce-checkout table.shop_table.woocommerce-checkout-review-order-table {
  border: none;
  border-radius: 0;
  padding: 0;
  margin: 0 0 $spacing 0;
  background-color: transparent;
  width: 100%;

  thead {
    th, td {
      padding: 0 0 $spacing-xs 0;
      text-align: left;
    }
  }

  tbody {
    th, td {
      padding: $spacing-xs 0;
      text-align: left;
      border-top: 1px solid $beigegold;
    }
  }

  tfoot {
    th, td {
      border-top: none;
      border-bottom: 1px solid $beigegold;
      text-align: left;
      padding: $spacing-xs 0;
    }
  }

  tr {
    th:last-child, td:last-child {
      text-align: right;
    }
  }

  tbody tr:last-child td {
    border-bottom: 1px solid $beigegold;
  }

  .wc-gzd-product-name-left {
    width: $product-thumbnail-width + $spacing-l;
    max-width: $product-thumbnail-width + $spacing-l;
    margin: 0;

    img {
      border-radius: $border-radius;
      object-fit: contain;
      width: $product-thumbnail-width;
      max-width: $product-thumbnail-width;

      @media all and (max-width: $small-breakpoint) {
        display: none;
      }
    }
  }

  .wc-gzd-product-name-right {
    color: $font-color;
    font-weight: bold;

    .product-quantity {
      font-weight: normal;
    }

    .wc-gzd-cart-info.delivery-time-info {
      display: none;
    }

    .wc-gzd-cart-info.units-info {
      font-weight: normal;
      padding: $spacing-xxs 0;
    }

    dl {
      margin: 0;
      font-weight: normal;

      dt {
        font-weight: bold;
      }

      p {
        padding: 0;
      }
    }
  }

  ul#shipping_method li {
    margin: 0;

    small {
      margin: $spacing-xxs 0 0 0;
      padding: 0;
      display: block;
      font-size: $font-size;
      line-height: $line-height;
    }
  }
}