.et_pb_text_0 {
    padding-top: 55px !important;
}

.et_non_fixed_nav.et_transparent_nav.et_show_nav.et_header_style_centered #page-container, .et_fixed_nav.et_show_nav.et_header_style_centered #page-container {
    padding-top: 60px;
}

.breite-liste li.ecs-event{display:flex;padding: 1rem 0 0.7rem 0.5rem;}
.breite-liste li.ecs-event .duration.time, .breite-liste li.ecs-event h4{font-size: 20px; line-height: 1em; margin-left: 16px;}

.liste-weisse-linie ul.ecs-event-list{
    border-top: 1px dotted white !important;}
.liste-weisse-linie ul.ecs-event-list li{
    border-bottom: 1px dotted white !important;;}

/* */

textarea.goldrand, input.goldrand{border:2px solid #ceb67f;} .entry-content ul{list-style-type: none;}
.Form-Send-Button{font-family: "DIN Offc W01 Cond";color:white;font-size:20px;text-align: center;padding-top: 12px !important;
    padding-right: 24px !important;
    padding-bottom: 12px !important;
    padding-left: 24px !important;background: #ceb67f;
    border-width: 0px !important;
    text-transform: uppercase;
    text-decoration: none;box-shadow: 0px 12px 18px -6px rgba(0,0,0,0.2);}

#kontaktform input.text, #kontaktform input.title, #kontaktform input[type="email"], input[type="password"], #kontaktform input[type="tel"], #kontaktform input[type="text"], #kontaktform select, #kontaktform textarea {margin:6px 0;padding: 10px;font-size: 20px;font-family: "DIN Offc W01 Cond";}

.posted_in a{color: #ceb67f;}
.product_meta {border-top: 1px solid #ceb67f;}
#main-content .container::before {background-color: #ceb67f;}

.col-border-left{border-left:1px solid #ceb67f;}
.col-border-right{border-right:1px solid #ceb67f;}

.woocommerce div.product p.price{color:#996b23;}

.entry-content tr td {border:0; padding:0;}
.entry-content table{border:0;}

footer .et_pb_section{display:none}
#footer-info{float: none;padding-bottom: 10px;text-align: center;}

/* my events calender shortcodes listen darstellung */
.entry-content ul.ecs-event-list{padding-left:0;}
ul.ecs-event-list{border-top:1px solid #333333;}
ul.ecs-event-list li {list-style-type:none; border-bottom:1px solid #333333;padding:1rem 0 1rem 0.5rem;}

.et_button_no_icon .et_pb_button, .et_button_no_icon .et_pb_button:hover, .et_button_no_icon.et_button_icon_visible.et_button_left .et_pb_button, .et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce #content input.button, .et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce #content input.button.alt, .et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce #respond input#submit, .et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce #respond input#submit.alt, .et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce a.button, .et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce a.button.alt, .et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce button.button, .et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce button.button.alt, .et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce input.button, .et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce input.button.alt, .et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce-page #content input.button, .et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce-page #content input.button.alt, .et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce-page #respond input#submit, .et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce-page #respond input#submit.alt, .et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce-page a.button, .et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce-page a.button.alt, .et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce-page button.button, .et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce-page button.button.alt, .et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce-page input.button, .et_button_no_icon.et_button_icon_visible.et_button_left.woocommerce-page input.button.alt, .et_button_no_icon.et_button_left .et_pb_button:hover, .et_button_no_icon.et_button_left.woocommerce #content input.button.alt:hover, .et_button_no_icon.et_button_left.woocommerce #content input.button:hover, .et_button_no_icon.et_button_left.woocommerce #respond input#submit.alt:hover, .et_button_no_icon.et_button_left.woocommerce #respond input#submit:hover, .et_button_no_icon.et_button_left.woocommerce a.button.alt:hover, .et_button_no_icon.et_button_left.woocommerce a.button:hover, .et_button_no_icon.et_button_left.woocommerce button.button.alt:hover, .et_button_no_icon.et_button_left.woocommerce button.button:hover, .et_button_no_icon.et_button_left.woocommerce input.button.alt:hover, .et_button_no_icon.et_button_left.woocommerce input.button:hover, .et_button_no_icon.et_button_left.woocommerce-page #content input.button.alt:hover, .et_button_no_icon.et_button_left.woocommerce-page #content input.button:hover, .et_button_no_icon.et_button_left.woocommerce-page #respond input#submit.alt:hover, .et_button_no_icon.et_button_left.woocommerce-page #respond input#submit:hover, .et_button_no_icon.et_button_left.woocommerce-page a.button.alt:hover, .et_button_no_icon.et_button_left.woocommerce-page a.button:hover, .et_button_no_icon.et_button_left.woocommerce-page button.button.alt:hover, .et_button_no_icon.et_button_left.woocommerce-page button.button:hover, .et_button_no_icon.et_button_left.woocommerce-page input.button.alt:hover, .et_button_no_icon.et_button_left.woocommerce-page input.button:hover, .et_button_no_icon.woocommerce #content input.button, .et_button_no_icon.woocommerce #content input.button.alt, .et_button_no_icon.woocommerce #content input.button.alt:hover, .et_button_no_icon.woocommerce #content input.button:hover, .et_button_no_icon.woocommerce #respond input#submit, .et_button_no_icon.woocommerce #respond input#submit.alt, .et_button_no_icon.woocommerce #respond input#submit.alt:hover, .et_button_no_icon.woocommerce #respond input#submit:hover, .et_button_no_icon.woocommerce a.button, .et_button_no_icon.woocommerce a.button.alt, .et_button_no_icon.woocommerce a.button.alt:hover, .et_button_no_icon.woocommerce a.button:hover, .et_button_no_icon.woocommerce button.button, .et_button_no_icon.woocommerce button.button.alt, .et_button_no_icon.woocommerce button.button.alt:hover, .et_button_no_icon.woocommerce button.button:hover, .et_button_no_icon.woocommerce input.button, .et_button_no_icon.woocommerce input.button.alt, .et_button_no_icon.woocommerce input.button.alt:hover, .et_button_no_icon.woocommerce input.button:hover, .et_button_no_icon.woocommerce-page #content input.button, .et_button_no_icon.woocommerce-page #content input.button.alt, .et_button_no_icon.woocommerce-page #content input.button.alt:hover, .et_button_no_icon.woocommerce-page #content input.button:hover, .et_button_no_icon.woocommerce-page #respond input#submit, .et_button_no_icon.woocommerce-page #respond input#submit.alt, .et_button_no_icon.woocommerce-page #respond input#submit.alt:hover, .et_button_no_icon.woocommerce-page #respond input#submit:hover, .et_button_no_icon.woocommerce-page a.button, .et_button_no_icon.woocommerce-page a.button.alt, .et_button_no_icon.woocommerce-page a.button.alt:hover, .et_button_no_icon.woocommerce-page a.button:hover, .et_button_no_icon.woocommerce-page button.button, .et_button_no_icon.woocommerce-page button.button.alt, .et_button_no_icon.woocommerce-page button.button.alt:hover, .et_button_no_icon.woocommerce-page button.button:hover, .et_button_no_icon.woocommerce-page input.button, .et_button_no_icon.woocommerce-page input.button.alt, .et_button_no_icon.woocommerce-page input.button.alt:hover, .et_button_no_icon.woocommerce-page input.button:hover, .woocommerce input.button, .woocommerce input.button:hover {
    padding: .3em 1em !important;
    font-family:"DIN Offc W01 Cond";
}

html, body, form input {font-family:"DIN Offc W01 Cond";}
h1, h2, h3, h4, h5, h6, h7, strong, a {font-family:"DIN W01 Cond Medium";}

h1, h2, h3, h4, h5, h6 {
    color: #fff;
}

/* Shop Grundpreis */
.entry-summary p.price-unit.price, .entry-summary p.price-unit.price span{font-size:18px !important;}
p.price-unit::before {content: "Grundpreis: ";}

.akademie-teaser h4{line-height: 0.35em;}


form input.input.et_pb_contact_captcha{border: 2px solid #ceb67f;}

/* mega menu */
.mega-link > a {
    font-size: 24px !important;
    font-family:"DIN W01 Cond Medium";
}

.mega-link > a img {
    margin-bottom: 8px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.entry-content table:not(.variations), body.et-pb-preview #main-content .container table {
    border: 0px !important;
}