
#page-header-form label {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 15px;
}

#page-header-form img {
    height: 100px;
    width: 100px;
}

#page-header-form span {
    font-weight: bold;
    width: 95px;
}

form#edittag fieldset#page-header-form {
    margin-top: 20px;
    padding: 8px;
    border: 1px solid #ccc;
}

#page-header-form .toggle-container {
    display: block;
    margin-bottom: 10px;
}

#page-header-form .toggle-label {
    cursor: pointer;
    padding: 10px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    display: inline-block;;
}

#page-header-form input[type="checkbox"] {
    display: none;
}

#page-header-form input[type="checkbox"]:checked + .toggle-label span::before {
    content: "Bild verwenden";
}

#page-header-form input[type="checkbox"]:not(:checked) + .toggle-label span::before {
    content: "Video verwenden";
}

#page-header-form input[type="checkbox"]:checked + .toggle-label {
    background-color: #ddd;
}

#page-header-form .media-content-container {
    position: relative;
}

#page-header-form #video-content {
    display: none;
}

#page-header-form input[type="checkbox"]:checked ~ .media-content-container #video-content {
    display: block;
}

#page-header-form input[type="checkbox"]:checked ~ .media-content-container #image-content {
    display: none;
}

#page-header-form input[type="checkbox"]:not(:checked) ~ .media-content-container #video-content {
    display: none;
}

#page-header-form input[type="checkbox"]:not(:checked) ~ .media-content-container #image-content {
    display: block;
}

#page-header-form #image-content {
    display: block;
}
