.rehorik .woocommerce table.woocommerce-orders-table {
  a.button.woocommerce-button.view {
    background-color: transparent;
    padding: 0;
    font-size: $font-size-small;
    text-transform: none;
    color: $font-color-accent-dark;
  }
}