#locations-map {
  background: transparent url("../img/standorte/karte-rehorik-regensburg-1920px.webp") no-repeat center top;
  width: 100%;

  margin: 0 auto;
  height: calc(0.5625 * 100vw);
  max-width: 1920px;
  max-height: 1080px;
  background-size: contain;

  @media all and (max-width: $medium-breakpoint) {
    background-image: url("../img/standorte/karte-rehorik-regensburg-1080px.webp");
    height: calc(0.556 * 100vw);
    max-width: 1080px;
    max-height: 600px;
  }

  @media all and (max-width: $small-breakpoint) {
    background-image: url("../img/standorte/karte-rehorik-regensburg-375px.webp");
    height: calc(1.2933 * 100vw);
    max-width: 375px;
    max-height: 485px;
  }
}
