#locations-description {
  padding: var(--section-spacing-top-bottom) 0;

  * {
    scroll-margin-top: 150px;
  }

  > div {
    padding: $spacing 0;

    &:first-child {
      padding: 0 0 $spacing 0;
    }

    &:last-child {
      padding: $spacing 0 0 0;
    }
  }

  > div > div {
    max-width: $max-width;
    margin: auto;
    display: flex;

    @media all and (max-width: $medium-breakpoint) {
      flex-direction: column;
    }
  }

  p, div {
    text-align: justify;
  }

  h4, h5 {
    color: $font-color;
    font-size: $font-size-large;
    padding: 0;
    font-weight: normal;
    text-align: left;
  }

  h4 {
    text-transform: uppercase;
  }

  h5 {
    color: $beigegold;
  }

  .location-text {
    order: 2;

    td {
      padding-right: $spacing-s;
    }
  }

  @media all and (max-width: $medium-breakpoint) {
    .location-text,
    .location-img {
      width: 100% !important;
    }
  }

  .location-img {
    order: 3;

    @media all and (max-width: $medium-breakpoint) {
      order: 1;
      margin: 0 0 $spacing 0 !important;
    }
  }

  #deliladen {
    background-color: $beigegold;
    padding: $spacing-xl 0;

    h5 {
      color: #fff;
    }

    td {
      padding-right: $spacing-xxs;
    }
  }

  #dez {
    padding: $spacing-xl 0;
  }

  #weinkeller {
    padding: $spacing 0 $spacing-xl 0;
  }

  #gesandtenstrasse {
    background-color: $weinrot;
    padding: $spacing-xl 0;

    h4, h5, div, p {
      color: #fff;
    }
  }

  #kaffeehaus {
    padding: $spacing-xl 0 0 0;
  }

  #stammhaus, #deliladen, #gesandtenstrasse {
    .location-text {
      width: 35%;
    }

    .location-img {
      width: 65%;
      margin-left: $spacing;
    }
  }

  #cafe190, #kaffeeladen, #weinkeller {
    .location-text {
      width: 50%;
    }

    .location-img {
      width: 50%;
      order: 1;
      margin-right: $spacing;
    }
  }

  #dez, #kaffeehaus {
    .location-text {
      width: 35%;
    }

    .location-img {
      width: 65%;
      order: 1;
      margin-right: $spacing;
    }
  }
}