#locations-description {
  padding: var(--section-spacing-top-bottom) 0 0 0;

  > div > div {
    max-width: $max-width-small;
    margin: auto;
    display: flex;
    padding: $spacing-l 0;

    @media all and (max-width: $medium-breakpoint) {
      flex-direction: column;
      padding: $spacing var(--section-spacing-left-right);
    }
  }

  p {
    text-align: justify;
    padding-bottom: $spacing-s;
  }

  h2, h3 {
    text-transform: uppercase;
    text-align: left;
    font-family: $font-family-bold;
  }

  h2 {
    font-size: $font-size-large;
    color: $beigegold;
  }

  h2:first-child {
    color: $font-color;
  }

  h3 {
    font-size: $font-size;
  }

  figure, img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .location {
    @media all and (max-width: $medium-breakpoint) {
      .location-part:first-child {
        order: 2;
      }

      .location-part:last-child {
        order: 1;
        margin: 0 0 $spacing 0 !important;
      }
    }

    @media all and (min-width: $medium-breakpoint + 1) {
      .location-part:first-child {
        order: 2;
        flex: 0 0 550px;
      }

      .location-part:last-child {
        order: 3;
        margin-left: $spacing;
      }

      &:nth-child(2n + 5) {
        .location-part:first-child {
          order: 3;
        }

        .location-part:last-child {
          order: 2;
          margin-left: 0;
          margin-right: $spacing;
        }
      }
    }

    &:nth-child(5) {
      background-color: $beigegold;

      h2 {
        color: #fff;
      }
    }

    &:nth-child(7) {
      background-color: $weinrot;
      color: #fff;

      h2, h3, p, div {
        color: #fff;
      }
    }
  }
}
