#page-neue-roesterei {
  > div:first-child {
    background-color: $beigegold;
    color: #fff;
    text-align: justify;

    .container {
      padding-top: 0;
    }
  }

  > div:first-child,
  > div:nth-child(2) {
    > .container > div {
      display: flex;

      @media all and (max-width: $small-breakpoint) {
        flex-direction: column;
      }

      > div {
        flex-basis: 50%;

        &:first-child {
          margin: 0 $spacing-xl 0 0;

          @media all and (max-width: $small-breakpoint) {
            margin: 0 0 $spacing-l 0;
          }
        }
      }
    }
  }

  > div:last-child {
    .container {
      padding-top: 0;

      > div {
        display: flex;
        @media all and (max-width: $small-breakpoint) {
          flex-direction: column;
        }

        img {
          flex: 1 1 0;
          width: 0;

          &:not(:last-child) {
            margin: 0 $spacing-xl 0 0;

            @media all and (max-width: $small-breakpoint) {
              margin: 0 0 $spacing-l 0;
            }
          }

          @media all and (max-width: $small-breakpoint) {
            width: 100%;
          }
        }
      }
    }
  }
}