#vorhang-auf {

  &:not(.category) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "news news"
      "lets-talk-about coffee-knowledge";
    gap: 0;
  }


  > div {
    padding: $spacing-l;
  }

  @media all and (max-width: $small-breakpoint) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "news"
      "lets-talk-about"
      "coffee-knowledge";

    > div {
      padding: var(--section-spacing-top-bottom) var(--section-spacing-left-right);
    }
  }

  .news {
    grid-area: news;
    background-color: $anthrazit;
    color: #fff;

    a {
      color: #fff;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .coffee-knowledge {
    grid-area: coffee-knowledge;
    background-color: $hellbraun;
    a {
      color: $font-color;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .lets-talk-about {
    grid-area: lets-talk-about;
    background-color: $cappucino;
    a {
      color: $font-color;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .vorhang-auf-post {
    padding-top: $spacing;
  }

  .vorhang-auf-post:not(:last-of-type) {
    padding-bottom: $spacing;
    border-bottom: 1px solid #fff;
  }

  a.more-posts {
    color: #fff;
    text-decoration: underline;
    float: right;
    margin-top: $spacing;
  }
}

header.rehorik-header .menu-hauptmenue-container #menu-hauptmenue.menu > li.vorhang-auf > a {
  font-family: $font-family-bold;
}