// Dont style checkout page
.rehorik:not(.woocommerce-checkout) {
  #wc-stripe-payment-request-wrapper {
    margin-top: $spacing-xs;
    padding: 0 !important;

    height: 35px;

    > div {
      height: 35px;
    }

  }

  // Stripe
  #wc-stripe-payment-request-button-separator {
    display: none !important;
  }
}
