.rehorik .wc-stripe-cart-checkout-container {
  margin-top: $spacing-s;

  ul.wc_stripe_cart_payment_methods.active {
    margin: 0;
    li.wc-stripe-payment-method.or {
      display: none;
    }
  }

  button {
    padding: 0;
  }
}

.rehorik:not(.woocommerce-checkout) {
  .wc-stripe-product-checkout-container {
    .wc_stripe_cart_payment_methods {
      margin: 0;
    }
  }
}

