.banner-outer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent url("../img/stripes.png") repeat-x left center;
  width: 100%;
  margin-bottom: $spacing-l;

  > * {
    font-size: $font-size;
    padding: $spacing-s;

    @media all and (max-width: $small-breakpoint) {
      padding: 0;
      text-align: center;
    }

    color: $beigegold;
    background-color: #fff;
    font-family: $font-family-headline;
    text-transform: uppercase;
  }
}