#page-container #rehorik-best-selling-products {
  padding: $spacing-xxl;

  ul {
    $imgSize: $product-category-width-large;
    //$textSize: $imgSize / 1.618;
    $textSize: $imgSize;

    li > div {
      width: 100%;
      display: flex;
      justify-content: center;

      .image {
        width: $imgSize;
        height: $imgSize;
        flex: 0 0 $imgSize;
        position: relative;

        img {
          border-radius: $border-radius;
          padding: 0;
          width: $imgSize;
        }
      }

      .text {
        width: $textSize;
        height: $imgSize;
        flex: 0 0 $textSize;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: $spacing-s;
        box-sizing: border-box;

        .category {
          margin: 0 0 $spacing-xs 0;
          text-transform: uppercase;
          color: $font-color-accent-dark;
          font-size: $font-size-large;
        }

        h3 {
          line-height: $font-size-large;
        }

        .description {
          flex-grow: 1;
          margin: $spacing 0;
          display: block;
          text-align: justify;
          overflow: hidden;
        }
      }

      .learn-more {
        text-transform: uppercase;
        color: $font-color-accent-dark;
        font-size: $font-size-large;
        text-align: right;
      }
    }
  }
}