button, a.button, button.button, .woocommerce-message a.button.wc-forward {
  border-radius: $border-radius !important;
  text-align: center;
  color: #fff;
  border: none;
  font-size: $font-size;
  background-color: $beigegold;
  padding: $spacing-s $spacing;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    color: $beigegold !important;
    background-color: $weinrot !important;
  }
}

.cart .woocommerce {
  button.button[name="apply_coupon"][type="submit"],
  button.button[name="update_cart"][type="submit"],
  a.checkout-button.button.alt.wc-forward {
    padding: 1px $spacing !important;
    font-weight: bold;
    font-size: $font-size;
    color: #fff;
    border: none;
    border-radius: $border-radius;
    background-color: $beigegold;
    text-align: center;
    width: $cart-coupon-width;
  }
}