.cat-chooser {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 466px;
  width: 100%;

  .cat-names {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    pointer-events: none;
    margin-bottom: $spacing-s;

    h2 {
      flex: 1 1 0;
      background: transparent;
      backdrop-filter: none;
      line-height: $line-height-narrow;
      padding: 0 $spacing-xxs;
      margin: 0 $spacing-l;
      display: flex;
      align-items: center;
      justify-content: center;
      height: auto;
      text-shadow: $text-shadow;
    }
  }

  h2 {
    height: 60px;
    color: $beigegold;
    width: 100%;
    padding: $spacing-s;
    background: rgba(0, 0, 0, $opacity) none;
    backdrop-filter: blur(3px);
    font-size: $font-size;
    line-height: $font-size;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    z-index: 1;
  }

  label, a {
    cursor: pointer;
    width: 50%;
    height: 100%;
    position: absolute;

    background-repeat: no-repeat;
    background-size: cover;

    &:hover {
      filter: sepia(100%);
    }

    &:nth-of-type(1) {
      left: 0;

      &:hover~div h2:nth-child(1) {
        color: #fff;
      }
    }

    &:nth-of-type(2) {
      right: 0;
      border-left: 1px solid $beigegold;

      &:hover~div h2:nth-child(2) {
        color: #fff;
      }
    }

    input {
      display: none;
    }
  }

  &.active {
    display: block;

    .orderbird-widget {
      display: block;
    }

    h2, label, &::before, &::after {
      display: none;
    }
  }
}

#coffee-chooser {
  a {
    &:nth-of-type(1) {
      background-image: url("../img/pages/frontpage/espresso_cat.jpg");
    }

    &:nth-of-type(2) {
      background-image: url("../img/pages/frontpage/filter_cat.jpg");
    }
  }
}

#orderbird-chooser {
  label {
    &:nth-of-type(1) {
      background-image: url("../img/standorte/190-small.jpg");
    }

    &:nth-of-type(2) {
      background-image: url("../img/standorte/straubinger-small.jpg");
    }
  }

  .orderbird-widget {
    display: none;
    width: 100%;
    height: 100%;
  }

  &.active {
    .orderbird-widget {
      display: block;
    }
  }

  iframe {
    height: 100% !important;
    width: 100% !important;

    .widget-header {
      display: none;
    }
  }
}