#main-content .container, .container {
  padding: $section-padding-top-bottom 0;

  @media all and (max-width: $small-breakpoint) {
    width: 100%;
    padding: $section-padding-small $section-padding-small;
  }

  > h1 {
    margin-bottom: $section-padding-top-bottom;

    @media all and (max-width: $small-breakpoint) {
      margin-bottom: $section-padding-small;
    }
  }

  &::before {
    content: none;
  }
}