.container {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: var(--section-spacing-top-bottom) var(--section-spacing-left-right);

  > h1:not(.wp-block-heading), > h2:not(.wp-block-heading) {
    margin-bottom: var(--container-headline-spacing-bottom);
  }

  &::before {
    content: none;
  }
}