table.cart th,
#main-content table.cart th,
table.cart td,
#main-content table.cart td,
table.cart tr,
#main-content table.cart tr,
#content-area table tr,
#content-area table td,
#content-area table th {
  padding: 0;
}

.et_pb_gutters3.et_left_sidebar.woocommerce-page #main-content ul.products li.product,
.et_pb_gutters3.et_right_sidebar.woocommerce-page #main-content ul.products li.product {
  width: 100%;
}

#et-main-area {
  position: relative;
}