#page-container #rehorik-featured-products {
  $imgSize: $product-category-width;
  //$textSize: $imgSize / 1.618;
  $textSize: $imgSize;

  li {
    > .featured-product {
      margin: 0;
    }
  }

  .featured-product {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: flex-start;

    .image {
      width: $imgSize;
      height: $imgSize;
      flex: 0 0 $imgSize;
      position: relative;
      border-radius: $border-radius;

      img {
        padding: 0;
        width: $imgSize;
        height: $imgSize;
        object-fit: cover;
      }
    }

    .text {
      width: $textSize;
      height: $imgSize;
      flex: 0 0 $textSize;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: var(--product-view-grid-gap);
      box-sizing: border-box;

      .category {
        margin: 0 0 $spacing-xs 0;
        text-transform: uppercase;
        color: $font-color-accent-dark;
        font-size: $font-size;
      }

      h3 {
        line-height: $font-size-large;
        a {
          color: $font-color;
        }
      }

      .claim {
        margin: $spacing-xxxs 0 0 0;
        font-size: $font-size;
        text-transform: uppercase;
      }

      .description {
        flex-grow: 1;
        margin: $line-height 0;
        display: block;
        text-align: justify;
      }
    }

    @media all and (max-width: 1555px) {
      flex-direction: column;

      .image {
        margin: 0 auto $spacing auto;
      }

      .text {
        margin: 0 auto;
        padding: 0 0;
      }
    }

    .learn-more {
      text-transform: uppercase;
      color: $font-color-accent-dark;
      font-size: $font-size;
      text-align: right;
    }
  }

  .slider-controls {
    position: absolute;
    width: 100%;
    top: 50%;

    button {
      top: 0;
    }
  }
}