#page-container #rehorik-featured-products {
  $imgSize: $product-category-width-large;
  //$textSize: $imgSize / 1.618;
  $textSize: $imgSize;

  li {
    overflow: hidden;

    > .featured-product {
      margin: 0;
    }
  }

  .featured-product {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: flex-start;

    @media all and (max-width: $medium-breakpoint) {
      flex-direction: column;

      .image {
        margin: 0 auto $spacing auto;
      }
    }

    .image {
      width: $imgSize;
      height: $imgSize;
      overflow: hidden;
      flex: 0 0 $imgSize;
      position: relative;
      border-radius: $border-radius;

      img {
        padding: 0;
        width: $imgSize;
      }
    }

    .text {
      width: $textSize;
      height: $imgSize;
      flex: 0 0 $textSize;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @media all and (min-width: $medium-breakpoint + 1) {
        padding-left: $spacing-l;
      }
      box-sizing: border-box;

      .category {
        margin: 0 0 $spacing-xs 0;
        text-transform: uppercase;
        color: $font-color-accent-dark;
        font-size: $font-size;
      }

      h3 {
        line-height: $font-size-large;
      }

      .claim {
        margin: $spacing-xxxs 0 0 0;
        font-size: $font-size;
      }

      .description {
        flex-grow: 1;
        margin: $spacing 0 0 0;
        display: block;
        text-align: justify;
        overflow: hidden;
      }
    }

    .learn-more {
      text-transform: uppercase;
      color: $font-color-accent-dark;
      font-size: $font-size;
      text-align: right;
    }
  }

  .slider-controls {
    position: absolute;
    width: 100%;
    top: 50%;

    @media all and (max-width: $medium-breakpoint) {
      top: 0;
    }
  }
}