footer {
  padding-bottom: 240px;

  h3 {
    color: $font-color;
    text-transform: none;
  }

  .container > div {
    @include gridView($footer-items-width);
  }

  .container {
    > div {
      > div {
        > div {
          margin-bottom: $spacing-xl;

          h3 {
            margin: 0 0 $spacing 0;
            padding: 0;
            font-size: $font-size-large;
          }
        }
      }
    }
  }

  background: transparent url("../img/footer/footer-web-1920px.jpg") no-repeat bottom right;

  @media all and (max-width: 1080px) {
    background-image: url("../img/footer/footer-web-1080px.jpg");
  }

  @media all and (max-width: $very-small-breakpoint) {
    background-image: url("../img/footer/footer-mobil-375px.jpg");
  }
}