.frontpage-slider-image-1,
.frontpage-slider-image-2,
.frontpage-slider-image-3 {
  width: auto;
  height: 600px;
  background: transparent url("../img/frontpage/startseite-header-kaffee-1920x600px.jpg") no-repeat center center;

  @media all and (max-width: $medium-breakpoint) and (min-width: $small-breakpoint + 1) {
    height: 600px;
    background-image: url("../img/frontpage/startseite-header-kaffee-1080x600px.jpg");
  }

  @media all and (max-width: $small-breakpoint) {
    height: 485px;
    background-image: url("../img/frontpage/startseite-header-mobil-kaffee-375x485px.jpg");
  }
}

.frontpage-slider-image-2 {
  background-image: url("../img/frontpage/startseite-header-roesterei-1920x600px.jpg");

  @media all and (max-width: $medium-breakpoint) and (min-width: $small-breakpoint + 1) {
    height: 600px;
    background-image: url("../img/frontpage/startseite-header-roesterei-1080x600px.jpg");
  }

  @media all and (max-width: $small-breakpoint) {
    background-image: url("../img/frontpage/startseite-header-mobil-roesterei-375x485px.jpg");
  }
}

.frontpage-slider-image-3 {
  background: url("../img/frontpage/startseite-header-wein-1920x600px.jpg");

  @media all and (max-width: $medium-breakpoint) and (min-width: $small-breakpoint + 1) {
    height: 600px;
    background-image: url("../img/frontpage/startseite-header-wein-1080x600px.jpg");
  }

  @media all and (max-width: $small-breakpoint) {
    background-image: url("../img/frontpage/startseite-header-mobil-wein-375x485px.jpg");
  }
}

.slider-claim {
  position: absolute;
  bottom: $spacing-xl;
  right: 130px;

  h1 {
    margin-bottom: $spacing;
  }

  .button {
    padding: $spacing;
    min-width: 200px;
    text-align: center;
    display: inline-block;

    &:hover {
      background-color: $weinrot;
      color: $beigegold;
    }
  }

  .button:nth-child(2) {
    background-color: $weinrot;
    color: $beigegold;
    margin-left: $spacing;

    &:hover {
      background-color: $beigegold;
      color: #fff;
    }
  }

  @media all and (max-width: $small-breakpoint) {
    left: 0;
    right: 0;
    width: 100%;

    > div {
      text-align: center;
    }

    .button:nth-child(2) {
      background-color: $weinrot;
      color: $beigegold;
      margin-left: 0;
      margin-top: $spacing-xs;
    }
  }
}
