header.rehorik-header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: $weinrot;
  z-index: 10;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  .menu ul,
  ul.menu {
    display: flex;

    li {
      height: $menu-height;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: column;
      padding-left: $spacing;
      padding-right: $spacing;
      position: relative;
    }

    li.menu-item {
      text-transform: uppercase;

      a {
        color: $font-color-accent;
        font-size: $font-size;
      }
    }

    li.menu-item-has-children {
      background: transparent url("../img/pfeil-gold-unten.svg") no-repeat center right 20px;
      background-size: 10px;
      padding-right: $spacing + 10px;

      &:hover {
        background-color: $beigegold;
        background-image: url("../img/pfeil-rot-unten.svg");

        a {
          color: $weinrot;
        }

        > ul.sub-menu {
          display: grid;
        }
      }
    }

    // Calendar menu item
    li.menu-item.rehorik-calendar-icon {
      a {
        font-size: 0;
        background: transparent url("../img/kalender-16px.svg") no-repeat center center;
        background-size: $menu-icon-size;
        width: $menu-icon-size;
        height: $menu-icon-size;
      }
    }

    ul.sub-menu {
      width: max-content;
      min-width: 200px;
      position: absolute;
      top: $menu-height;
      left: 0;
      background: transparent url("../img/gold-transparent90-1px.png") repeat center center;
      border-bottom-right-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
      display: none;
      grid-template-columns: 1fr 1fr;
      grid-row-gap: $spacing-xxs;
      grid-column-gap: $spacing-xxs;

      li.menu-item {
        text-transform: none;

        &:hover {
          background-color: transparent;

          a {
            border-bottom: 1px solid $weinrot;
          }
        }
      }
    }
  }

  .rehorik-cart-info {
    background: transparent url("../img/warenkorb-16px.svg") no-repeat center center;
    background-size: $menu-icon-size;
    width: $menu-icon-size;
    height: $menu-icon-size;
    padding-left: $spacing;
    padding-right: $spacing;
  }

  .hamburger, input[type="checkbox"] {
    display: none;
  }

  @media all and (max-width: $small-breakpoint) {
    justify-content: flex-start;
    flex-direction: row-reverse;
    padding-left: $spacing;
    padding-right: $spacing;
    height: $menu-height;

    .hamburger, input[type="checkbox"], input[type="checkbox"]:checked ~ .menu-hauptmenue-container {
      display: block;
    }

    input[type="checkbox"] {
      margin-left: -33px;
      opacity: 0;
      width: $menu-icon-size;
      height: $menu-icon-size;
      z-index: 20;
    }

    .hamburger {
      background: transparent url("../img/menue-16px.svg") no-repeat center center;
      background-size: $menu-icon-size;
      width: $menu-icon-size;
      height: $menu-icon-size;
      padding-left: $spacing;
      padding-right: $spacing;
      z-index: 10;
    }

    .rehorik-product-search-widget {
      position: absolute;
      left: 0;

      &::after, .rehorik-product-search-form {
        left: 0;
        right: unset;
        width: 100vw;
        border-bottom-left-radius: $border-radius;
      }
    }

    .menu-hauptmenue-container {
      display: none;
      position: absolute;
      top: $menu-height;
      left: 0;
      background-color: transparent;
      width: 100%;

      ul.menu {
        flex-direction: column;
        background-color: transparent;

        > li {
          background-color: $weinrot;
        }

        li.menu-item-has-children {
          > a {
            margin-bottom: $spacing-s;
          }

          &.et-show-dropdown, &:hover {
            height: auto;
            padding-top: $spacing-xs;
            padding-bottom: $spacing-xs;
            background: transparent url("../img/gold-transparent90-1px.png") repeat center center;

            a {
              color: $weinrot;
            }

            > ul.sub-menu {
              background: transparent;
              display: grid;
              position: relative;
              top: 0;
              left: 0;

              li {
                padding: 0;
              }
            }
          }
        }

        // Calendar menu item
        li.menu-item.rehorik-calendar-icon {
          a {
            font-size: 0;
            background: transparent url("../img/kalender-16px.svg") no-repeat center center;
            background-size: $menu-icon-size;
            width: $menu-icon-size;
            height: $menu-icon-size;
          }
        }
      }
    }
  }
}

body.admin-bar header.rehorik-header {
  top: 32px;
}
