// transparent header
@media all and (min-width: $medium-breakpoint + 1) {
  body.rehorik.has-slider {
    #page-container {
      padding-top: 0;

      .rehorik-header-outer {
        top: $menu-gap-to-top;

        header.rehorik-header {
          background-color: transparent;

          @for $i from 1 through 218 {
            &[data-ypos="#{$i}"] {
              background-color: rgba(92, 13, 47, $i / 100);
            }
          }
        }
      }
    }
  }
}

header.rehorik-header {
  position: fixed;
  width: 100%;
  background-color: $weinrot;
  justify-content: flex-start;
  flex-direction: row-reverse;
  padding-left: var(--section-spacing-left-right);
  padding-right: var(--section-spacing-left-right);
  height: $menu-height;

  .hamburger, input[type="checkbox"], input[type="checkbox"]:checked ~ .menu-hauptmenue-container {
    display: block;
  }

  @media all and (min-width: $medium-breakpoint + 1) {
    position: sticky;
    justify-content: center;
    padding: 0;
    height: $menu-height;
    flex-direction: row;

    .hamburger, input[type="checkbox"] {
      display: none;
    }
  }

  top: 0;
  z-index: 101;
  display: flex;
  align-items: center;

  .menu ul, ul.menu {
    display: flex;

    > li {
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: column;
      padding: $spacing-s var(--section-spacing-left-right);
      position: relative;
    }

    li.menu-item {
      text-transform: uppercase;

      @media all and (min-width: $medium-breakpoint + 1) {
        padding: 0;

        a {
          padding: $spacing-s $spacing;
        }
      }

      a {
        width: fit-content;
        width: -moz-fit-content;
        color: $font-color-accent;
        font-size: $font-size;
        font-family: $font-family-headline;
      }
    }

    li.menu-item-has-children {
      background: transparent url("../img/pfeil-gold-unten.svg") no-repeat center right $spacing-xs;
      background-size: 10px;

      > a {
        padding-right: $spacing-l;
      }

      &:hover {
        @media all and (min-width: $medium-breakpoint + 1) {
          border-radius: $border-radius;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }

        background-color: $menu-hover-color;
        background-image: url("../img/pfeil-rot-oben.svg");

        a {
          color: $weinrot;
        }

        > ul.sub-menu {
          display: flex;
        }
      }
    }

    // Calendar menu item
    li.menu-item.rehorik-calendar-icon {
      a {
        font-size: 0;
        background: transparent url("../img/kalender-16px.svg") no-repeat center center;
        background-size: $menu-icon-size;
        width: $menu-icon-size;
        height: $menu-icon-size;
      }
    }

    ul.sub-menu {
      width: max-content;
      min-width: 200px;
      position: absolute;
      top: $menu-height;
      left: 0;
      display: none;
      flex-direction: column;
      list-style: none;
      border-radius: $border-radius;
      background-color: $menu-hover-color;
      color: #fff;

      li.menu-item {
        text-transform: none;

        a {
          font-family: $font-family-body;
        }

        &:hover {
          background-color: $menu-sub-item-hover-color;

          a {
            color: $beigegold;
          }

          &:last-child {
            @media all and (min-width: $medium-breakpoint + 1) {
              border-bottom-left-radius: $border-radius;
              border-bottom-right-radius: $border-radius;
            }
          }
        }
      }
    }
  }

  .rehorik-cart-info {
    background: transparent url("../img/warenkorb-16px.svg") no-repeat center center;
    background-size: $menu-icon-size;
    width: $menu-icon-size;
    height: $menu-icon-size;
    padding-left: $spacing;
    padding-right: $spacing;
  }
}

.rehorik-header-outer {
  @media all and (min-width: $medium-breakpoint + 1) {
    $height: $menu-height + $section-spacing;
    position: absolute;
    height: calc(100% - #{$height});
    top: 0;
    z-index: 100;
    width: 100%;
    pointer-events: none;

    > * {
      pointer-events: auto;
    }
  }
}

// Hamburger view
@media all and (max-width: $medium-breakpoint) {
  header.rehorik-header {
    input[type="checkbox"] {
      margin-left: -33px;
      opacity: 0;
      width: $menu-icon-size;
      height: $menu-icon-size;
      z-index: 20;
    }

    .hamburger {
      background: transparent url("../img/menue-16px.svg") no-repeat center center;
      background-size: $menu-icon-size;
      width: $menu-icon-size;
      height: $menu-icon-size;
      padding-left: $spacing;
      padding-right: $spacing;
      z-index: 10;
    }

    .rehorik-product-search-widget {
      position: absolute;
      left: 0;

      &::after, .rehorik-product-search-form {
        left: 0;
        right: unset;
        width: 100vw;
        border-bottom-left-radius: $border-radius;
      }
    }

    .menu-hauptmenue-container {
      display: none;
      position: absolute;
      top: $menu-height;
      left: 0;
      background-color: transparent;
      width: 100%;
      border-bottom: 1px solid $beigegold;

      ul.menu {
        flex-direction: column;
        background-color: transparent;

        > li {
          background-color: $weinrot;
        }

        li.menu-item-has-children {
          background: transparent url("../img/pfeil-gold-unten.svg") no-repeat center right var(--section-spacing-left-right);
          background-size: 10px;
          $item-spacing: $spacing-xs;
          padding-top: $item-spacing;
          padding-bottom: $item-spacing;

          > a {
            width: -moz-fit-content;
            width: fit-content;
            pointer-events: none;
          }

          &:hover {
            height: auto;
            background: rgba(206, 182, 127, 0.9) url("../img/pfeil-rot-oben.svg") no-repeat top 30px right var(--section-spacing-left-right);
            background-size: 10px;

            a {
              color: $weinrot;
            }

            > ul.sub-menu {
              padding-top: 0;
              padding-bottom: 0;
              margin-top: $spacing-s;
              background: transparent;
              display: grid;
              grid-template-columns: 1fr 1fr;
              grid-template-rows: auto;
              grid-auto-flow: row;
              position: relative;
              grid-column-gap: 0;
              top: 0;
              left: 0;
              margin-left: -$item-spacing;

              li {
                padding: 0;
                border: none;

                a {
                  padding: $item-spacing;
                }

                &:nth-child(2n-1):not(:only-child) {
                  border-right: 1px solid rgba(92, 13, 47, 0.5);
                }
              }
            }
          }
        }

        // Calendar menu item
        li.menu-item.rehorik-calendar-icon {
          a {
            font-size: 0;
            background: transparent url("../img/kalender-16px.svg") no-repeat center center;
            background-size: $menu-icon-size;
            width: $menu-icon-size;
            height: $menu-icon-size;
          }
        }
      }
    }
  }
}

body.admin-bar header.rehorik-header {
  top: 32px;
}
