.rehorik-hint {
  color: $beigegold;
  position: absolute;
  left: 0;
  top: calc(var(--slider-height) - #{var(--section-spacing-top-bottom)} - #{$hint-height}) ;
  z-index: 8;
  height: 0;

  input[type="checkbox"] {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    height: $hint-height;
    width: $hint-width;
    opacity: 0;
    margin: 0;

    &:checked ~ div:last-child {
      display: block;
    }

    &:checked + h5 {
      background-image: url("../img/pfeil-gold-oben.svg");
      border-bottom-right-radius: 0;
    }

    @media all and (min-width: $small-breakpoint + 1) {
      &:checked {
        width: $hint-width-large;
      }

      &:checked ~ div {
        width: $hint-width-large;
      }
    }
  }

  > h5 {
    width: $hint-width;
    background-color: $weinrot;
    background: $weinrot url("../img/pfeil-gold-unten.svg") no-repeat right 42px center;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    text-transform: uppercase;
    padding: 0 $spacing-l;
    height: $hint-height;
    background-size: 9px;
    display: table-cell;
    vertical-align: middle;
  }

  > div:last-of-type {
    width: $hint-width;
    display: none;
    padding: $spacing-xs $spacing-l;
    background-color: $weinrot;
    border-bottom-right-radius: $border-radius;
    border-top-right-radius: $border-radius;
    position: absolute;
    top: $hint-height;
    left: 0;
    font-size: $font-size-small;
  }

  @media all and (max-width: $medium-breakpoint) {
    display: none;
  }
}