.rehorik-hints {
  position: absolute;
  left: 0;
  top: calc(var(--slider-height) - #{var(--section-spacing-top-bottom)} - #{$hint-height});
  z-index: 8;

  .rehorik-hint {
    display: block;
    color: $beigegold;
    height: 0;
    position: relative;
    z-index: 8;

    &:nth-child(2) {
      margin-top: $spacing + $hint-height;
    }

    transform: translate($social-media-container-width - $hint-width);
    transition: 300ms ease-in-out;

    input[type="checkbox"] {
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      height: $hint-height;
      width: $hint-width;
      opacity: 0;
      margin: 0;
    }

    &:hover {
      transform: translate(0);

      ~.rehorik-hint {
        z-index: -1;
      }

      input[type="checkbox"] {
        &:checked ~ div:last-child {
          display: block;
        }

        &:checked + h5 {
          background-image: url("../img/pfeil-weiss-oben.svg");
          border-bottom-right-radius: 0;
        }

        @media all and (min-width: $small-breakpoint + 1) {
          &:checked {
            width: $hint-width;
          }

          &:checked ~ div {
            width: $hint-width;
          }
        }
      }

      color: #fff;
      > h5 {
        background-color: $beigegold;
        background-image: url("../img/pfeil-weiss-unten.svg");
      }
    }

    > h5 {
      width: $hint-width;
      background: $weinrot url("../img/pfeil-gold-unten.svg") no-repeat right 9px center;
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
      text-transform: uppercase;
      padding: 0 $spacing 0 $spacing-l;
      height: $hint-height;
      background-size: 9px;
      display: table-cell;
      vertical-align: middle;
      text-align: right;
    }

    > div:last-of-type {
      width: $hint-width;
      display: none;
      padding: $spacing-xs $spacing $spacing-xs $spacing-xs;
      background-color: $weinrot;
      border-bottom-right-radius: $border-radius;
      position: absolute;
      top: $hint-height;
      left: 0;
      font-size: $font-size-small;
      text-align: right;
    }

    @media all and (max-width: $medium-breakpoint) {
      display: none;
    }
  }

  a.rehorik-hint {
    > h5 {
      background-image: none !important;
      padding-right: $spacing-xs;
    }
  }
}
