input:not([type="checkbox"]):not([type="radio"]), select, textarea {
  font-family: $font-family-body;
  font-size: $font-size-small;
  border-radius: 0;
  border: 1px solid $hellgrau;
  padding: $spacing-xs;
}

input[type="submit"] {
  -webkit-appearance: none;
}