input, select, textarea {
  font-family: $font-family-body;
  font-size: $font-size-small;
  line-height: $line-height;
  border-radius: 0;
  border: 1px solid rgba(57, 53, 54, 0.2);
  padding: $spacing-xs;
}

.select2.select2-container {
  line-height: $line-height;
  border-radius: 0;
  border: 1px solid rgba(57, 53, 54, 0.2);
  padding: $spacing-xs;

  .select2-selection--single {
    height: auto;
    padding: 0;
    margin: 0;
    border: none;
  }

  .select2-selection__rendered {
    font-family: $font-family-body;
    font-size: $font-size-small;
    line-height: $line-height;
    border-radius: 0;
    border: none;
    padding: 0;
  }
}