#locations {
  background: $grau none;

  .container {
    h2 {
      color: #fff;
    }

    > div {
      display: grid;
      grid-template-columns: $footer-items-width $footer-items-width $footer-items-width $footer-items-width $footer-items-width;
      grid-template-rows: auto;
      gap: $spacing $spacing-s;
      justify-items: stretch;
      justify-content: space-between;

      > div {
        flex: 0 0 $footer-items-width;
        width: $footer-items-width;

        img {
          width: 100%;
          display: block;
        }

        h3 {
          margin: $spacing 0;
          padding: 0;
          line-height: $line-height;
          letter-spacing: 0;
          color: #fff;
          text-transform: uppercase;

          &.title-row-span {
            line-height: $line-height-large;
            margin-top: 21px;
            margin-bottom: 18px;
          }
        }

        p, a {
          font-size: $font-size-small;
          padding: 0;
          color: #fff;
          line-height: $line-height-narrow;
        }
      }
    }

    @media all and (max-width: $medium-breakpoint) {
      h2 {
        > span {
          display: none;
        }
      }

      > div {
        grid-template-columns: $footer-items-width $footer-items-width;
        justify-items: center;
      }
    }

    @media all and (max-width: $small-breakpoint) {
      h2 {
        > span {
          display: none;
        }
      }

      > div {
        grid-template-columns: 1fr;
        justify-items: center;
      }
    }
  }
}
