#locations {
  background: $grau none;

  .container > div {
    @include gridView($footer-items-width);
  }

  .container {
    h2 {
      color: #fff;
    }

    > div {
      > div {

        img {
          width: 100%;
          display: block;
        }

        h3 {
          margin: $spacing 0;
          padding: 0;
          color: #fff;
          text-transform: uppercase;

          &.title-row-span {
            margin-top: 21px;
            margin-bottom: 18px;
          }
        }

        p, a {
          font-size: $font-size-small;
          padding: 0;
          color: #fff;
        }
      }
    }

    @media all and (max-width: $medium-breakpoint) {
      h2 {
        > span {
          display: none;
        }
      }
    }
  }
}
