#locations {
  background: $hellgrau none;
  padding: $spacing-xxl $spacing-xxxl $spacing-xxxl $spacing-xxxl;

  h1, h2, p {
    color: #fff;
  }

  h1 {
    text-align: center;
    margin-bottom: $spacing-xxl;
  }

  > div {
    display: flex;
    justify-content: center;

    > div {
      flex: 0 0 188px;

      img {
        width: 100%;
        display: block;
      }

      h2 {
        margin: $spacing 0;
        padding: 0;
        line-height: 25px;
        font-size: $font-size-h2;
      }

      p, a {
        font-size: $font-size-small;
        line-height: 23px;
        padding: 0;
      }

      @media all and (min-width: $small-breakpoint + 1) {
        &:not(:last-child) {
          margin-right: $spacing-l;
        }
      }
    }
  }

  @media all and (max-width: $small-breakpoint) {
    padding: $spacing-l $spacing-xxl $spacing-xxl $spacing-xxl;

    h1 {
      margin-bottom: $spacing-l;
    }

    > div {
      flex-direction: column;

      > div {
        &:first-child {
          margin-bottom: $spacing-l;
        }

        &:nth-child(3),
        &:nth-child(4) {
          display: none;
        }
      }
    }
  }
}