#main-content {
  display: flex;

  > div:first-child {
    order: 1;
    flex-grow: 1;
    overflow: hidden;
  }

  #sidebar {
    margin: 0 var(--products-grid-gap) 0 0;
  }

  @media all and (max-width: $small-breakpoint) {
    flex-direction: column;
    justify-content: center;

    > div:first-child {
      order: 0;
    }

    #sidebar {
      margin: var(--section-spacing-top-bottom) 0 0 0;
    }
  }
}
