#main-content {
  display: flex;

  > div:first-child {
    order: 1;
    flex-grow: 1;
  }

  #sidebar {
    margin: 0 $section-padding 0 0;
  }

  @media all and (max-width: $small-breakpoint) {
    flex-direction: column;
    justify-content: center;

    > div:first-child {
      order: 0;
    }

    #sidebar {
      margin: $section-padding-small 0 0 0;
    }
  }
}