.marketing-banner {
  background: transparent url("../img/simongehr_twl_outdoor-49.jpg") no-repeat top -612px center;
  background-size: 1920px;
  position: relative;

  .learn-more {
    position: absolute;
    margin: 0;
    bottom: var(--section-spacing-top-bottom);
  }

  *, .learn-more {
    color: #fff;

    &:hover {
      color: $font-color-accent;
    }
  }

  .marketing-banner-text {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: var(--section-spacing-top-bottom) 0;

    h2 {
      font-size: $font-size-large;
      text-align: justify;
      color: #fff;

      @media all and (max-width: $small-breakpoint) {
        font-size: $font-size;
      }
    }

    a {
      margin-top: $spacing;
      width: fit-content;
    }
  }

  &.left {
    .rehorik-page-introduction {
      align-items: flex-start;
    }
  }
}