@mixin gridView($item-width) {
  display: grid;
  gap: var(--product-view-grid-gap);
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(min($item-width, 100%), $item-width));

  > * {
    width: 100%;
  }
}

@mixin productLinearGradient($color-left, $color-right) {
  background: linear-gradient(90deg,  $color-left 50%, $color-right 50%);
}