#orderbird-chooser {
  background-color: transparent;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 60px;
  grid-template-areas:
    "left right"
    "footer footer";
  height: 100%;
  width: 100%;

  h2 {
    grid-area: footer;
    color: $beigegold;
    width: 100%;
    padding: $spacing-s;
    background: rgba(0, 0, 0, 0.3) none;
    backdrop-filter: blur(3px);
    font-size: $spacing-s;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
  }

  label {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
      background: rgba(0, 0, 0, 0.3) none;
      backdrop-filter: blur(3px);
      border: 1px solid $beigegold;
      width: 80%;
      line-height: $line-height;
    }

    &:hover {
      background: rgba(0, 0, 0, 0.3) none;
      backdrop-filter: blur(3px);

      h2 {
        background: none;
      }
    }

    &:first-of-type {
      grid-area: left;
      border-right: 1px solid $beigegold;
    }

    &:last-of-type {
      grid-area: right;
    }

    background-size: cover;


    input {
      display: none;
    }
  }

  .orderbird-widget {
    display: none;
    width: 100%;
    height: 100%;
  }

  &.active {
    display: block;

    .orderbird-widget {
      display: block;
    }

    h2, label, &::before, &::after {
      display: none;
    }
  }

  &::before, &::after {
    content: "";
    display: block;
    width: 50%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &::before {
    left: 0;
    background-image: url("../img/standorte/190-small.png");
  }

  &::after {
    right: 0;
    background-image: url("../img/standorte/straubinger-small.png");
  }

  iframe {
    height: 100%;
    width: 100%;

    .widget-header {
      display: none;
    }
  }
}