.page-title-outer {
  background-color: $beigegold;
  position: relative;
  padding: $spacing-l 0;
  display: flex;

  &:before, &:after {
    content: "";
    display: block;
    background: transparent url("../img/striche-weiss-80px.png") no-repeat center center;
    width: 401px;
  }

  &:before {
    left: 0;
  }

  &:after {
    right: 0;
  }

  .page-title {
    position: relative;
    text-align: center;
    background-color: $beigegold;
    max-width: $max-width;
    margin: auto;

    h1 {
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 0;
      padding: 0;
      margin: 0 $spacing-xs;

    }
  }

  @media all and (max-width: $small-breakpoint) {
    &:before, &:after {
      width: 60px;
    }

    .page-title h1 {
      font-size: $font-size-h2;
      line-height: 35px;
    }
  }
}