.rehorik-product-search-widget {
  position: relative;
  height: $menu-height;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding-left: $spacing;
  padding-right: $spacing;

  &::before {
    content: '';
    display: block;
    background: transparent url("../img/lupe-16px.svg") no-repeat center center;
    background-size: $menu-icon-size;
    width: $menu-icon-size;
    height: $menu-icon-size;
  }

  // enlarges hover area
  &::after {
    content: '';
    display: block;
    width: 220px;
    height: $spacing * 2;
    position: absolute;
    top: $menu-height;
    right: 0;
    z-index: -1;
  }

  &:hover {
    background-color: $beigegold;

    &::before {
      background: transparent url("../img/lupe-rot-16px.svg") no-repeat center center;
    }

    form.rehorik-product-search-form {
      display: flex;
    }
  }

  form.rehorik-product-search-form {
    display: none;
    position: absolute;
    top: $menu-height;
    right: 0;
    background: transparent url("../img/gold-transparent90-1px.png") repeat center center;
    border-bottom-right-radius: $border-radius;
    padding-left: $spacing;
    padding-right: $spacing;
    height: $spacing * 2;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    input {
      border: none;
      background-color: transparent;
      font-size: $font-size;
      font-family: $font-family-headline;
      color: $weinrot;
    }

    button {
      display: none;
    }
  }

  ::placeholder {
    color:    $weinrot;
  }
}