#page-container ul.products.rehorik-products {
  li.product.rehorik-product {
    overflow: hidden;
    text-align: center;
    width: $product-category-width !important;
    height: $product-height;
    border-radius: $border-radius;
    margin: 0 !important;

    @media all and (max-width: $small-breakpoint) {
      padding-bottom: $spacing;
    }

    div.rehorik-product-origin-country {
      text-transform: uppercase;
      font-size: $font-size-very-small;
      font-weight: bold;
      background-color: transparent;
      font-family: $font-family-headline;
      margin: $spacing-xxs 0;
    }

    .onsale {
      background: transparent url("../img/green-texture.png") repeat left top !important;
      border-radius: $border-radius !important;
      text-transform: uppercase;
      font-size: $font-size;
      padding: $spacing-xxs $spacing-xs !important;
      left: $spacing-xs !important;
      top: $spacing-xs !important;
    }

    a {
      font-weight: bold;

      > span {
        background-color: #fff;

        img {
          margin: 0 auto !important;
          width: $product-category-width;
          height: auto;
          object-fit: cover;
        }
      }

      h2 {
        text-transform: uppercase;
        font-size: $font-size-large;
        padding: 0 $spacing-xs;
        margin: 0;
        word-break: break-word;
      }
    }

    .rehorik-product-attributes {
      padding: 0 $spacing-s;

      .rehorik-product-min-price {
        font-size: $font-size-very-small;
        margin-top: $spacing-xxxs;
        font-family: $font-family-headline;

        > span {
          font-weight: bold;
        }
      }

      table {
        width: 100%;

        tr {
          margin: 0;
        }

        tr td {
          text-align: left;
          padding: 0;
          text-transform: uppercase;
          font-size: $font-size-very-small;
          font-weight: bold;
          vertical-align: top;
          font-family: $font-family-headline;
        }

        tr td:first-child:not([colspan="2"]) {
          text-align: right;
          padding: 0 $spacing-xxxs $spacing-xxs;
        }

        td.rehorik-product-attribute-list, td.rehorik-product-gift-content-list {
          font-size: $font-size-very-small;
          font-weight: normal;
          text-transform: none;
          line-height: $font-size-very-small;
          width: 118px;
          font-family: $font-family-body;
          padding: 0 0 $spacing-xxs $spacing-xxxs;
        }

        td.rehorik-product-attribute-list ul {
          text-align: left;
          padding: 0;
          font-size: $font-size-very-small;
          line-height: $font-size-small;
        }
      }

      .rehorik-product-ausbau {
        position: absolute;
        bottom: $spacing-xxs;
        left: 0;
        right: 0;
        text-transform: uppercase;
        font-size: $font-size-very-small;
        font-family: $font-family-body;

        @media all and (max-width: $small-breakpoint) {
          bottom: 0;
        }
      }
    }
  }
}

.woocommerce .products ul, .woocommerce ul.products {
  margin: 0;
}
