.rehorik {
  ul.products.rehorik-products {
    display: grid;
    justify-content: center;
    gap: $spacing-xs;

    li {
      border-radius: $border-radius;
    }

    &::before, &::after {
      content: none;
    }

    grid-template-columns: repeat(auto-fill, $product-category-width);
  }

  &.home {
    ul.products.rehorik-products {
      grid-template-columns: repeat(auto-fill, $product-category-width-large);
    }
  }
}