.rehorik-product-search-widget {
  height: $menu-height;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding-left: $spacing;
  padding-right: $spacing;
}

div.dgwt-wcas-details-right .dgwt-wcas-suggestions-wrapp {
  border-radius: 0 0 0 $border-radius;
  border-right-color: #eee;
}

div.dgwt-wcas-suggestions-wrapp,
div.dgwt-wcas-details-wrapp {
  font-family: $font-family-body;
  font-size: $font-size;

  .dgwt-wcas-details-main-image {
    margin-top: $spacing;
  }

  a.dgwt-wcas-details-post-title, a.dgwt-wcas-details-product-title {
    font-size: $font-size;
    font-family: $font-family-headline;
    color: $font-color;
  }

  .dgwt-wcas-st {
    font-size: $font-size;
  }

  strong {
    font-family: $font-family-body;
  }

  a.button {
    border: none;
    background-color: transparent;
    font-size: $font-size;
    font-family: $font-family-headline;
    color: $weinrot;
  }
}

.dgwt-wcas-sf-wrapp input[type=search].dgwt-wcas-search-input {
  border-radius: $border-radius;
  font-size: $font-size;
}

.dgwt-wcas-open .dgwt-wcas-sf-wrapp input[type=search].dgwt-wcas-search-input {
  border-radius: $border-radius $border-radius 0 0;
}

