.rehorik-product-search-widget {
  form.rehorik-product-search-form {
    input, button {
      border: 1px solid $weinrot;
      border-radius: $button-border-radius;
      font-size: $font-size-small;
      padding: $spacing-xxxs $spacing-xs;
      text-transform: uppercase;
    }

    input {
      border-right: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      text-align: center;
    }

    button {
      font-weight: bold;
      background-color: $weinrot;
      color: #fff;
      border-left: none;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      cursor: pointer;
      margin-left: -4px;
    }
  }
}