#rehorik-logo {
  width: $logo-size;
  height: $logo-size;
  background: transparent url("../img/svg/logo.svg") no-repeat left top;
  background-size: $logo-size;
  position: absolute;
  left: 150px + $spacing;
  top: $menu-height + $spacing-xl;
  bottom: 0;
  z-index: 9;

  @media all and (max-width: $small-breakpoint) {
    width: $logo-size-small;
    height: $logo-size-small;
    background-size: $logo-size-small;
    left: $spacing-l;
    top: $menu-height + $spacing;
  }
}