div#sell-machines-advisory {
  max-width: 600px;

  p.center {
    text-align: center;
  }

  a.button {
    margin: $spacing;
    background-color: $weinrot;
    color: #fff;
    font-family: $font-family-headline;
  }

  h4 {
    padding-bottom: $spacing-s;
    color: $font-color;
  }

  .grid-dl {
    background: transparent url("../img/stripes-600px.png") no-repeat top center;
    padding-top: 30px;
    margin: 0 0 $spacing-s 0;

    > div {
      background-color: $beigegold;
      padding: $spacing-s;

      > dl {
        margin: 0 0 $spacing-s 0;
        display: grid;
        grid-template-columns: 1fr 1fr;

        > dd {
          margin-left: 0;
          font-family: $font-family-headline;
          color: #fff;
        }

        > dt {
          grid-column-start: 1;
          grid-column-end: 3;
        }

        a {
          color: #fff;

          &:hover {
            text-decoration: underline;
          }
        }
      }

    }
  }

  .flex-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    > div {
      flex: 1 1 auto;

      &:not(:last-child) {
        margin-right: $spacing-s;
      }

      > img {
        max-width:100%;
      }
    }
  }
}

.rehorik-custom-category-header {
  .header-image {
    &.machine {
      background-image: url("../img/maschinen/header/header-1920x600px-maschinen.jpg");

      @media all and (max-width: $medium-breakpoint) and (min-width: $small-breakpoint + 1) {
        background-image: url("../img/maschinen/header/header-1080x600px-maschinen.jpg");
      }

      @media all and (max-width: $small-breakpoint) {
        background-image: url("../img/maschinen/header/header-mobil-375x485px-maschinen.jpg");
      }
    }
  }

  .slider-claim {
    max-width: 548px;

    div a.button {
      background-color: $weinrot;
      color: $beigegold;
      margin-left: 0;
      padding: $spacing !important;
      line-height: 0 !important;

      &:hover {
        background-color: $beigegold !important;
        color: #fff !important;
        padding: $spacing !important;
        line-height: 0 !important;
      }
    }
  }
}
