.woocommerce.shop:not(.search) #main-content {

  // make shop page fullwidth, after sidebar is removed
  #left-area {
    padding: 0;
    float: none;
    width: 100%;
  }

  ul.rehorik-products.products.columns-3 {
    li.product-category.product {
      @media all and (min-width: $small-breakpoint + 1) {
        margin: 0 $spacing-xxs $spacing-xxs 0;
        width: 32%;
        height: 100%;
      }
    }
  }
}