#main-content .container {
  &::before {
    content: none;
  }

  #sidebar.rehorik-sidebar {
    background: #fff url("../img/strichl-muster.png") no-repeat left top;
    padding: 80px 0 0 0;
    width: 100%;
    max-width: 510px;
    color: $font-color-accent;

    > li.widget.woocommerce {
      background: #fff none;
    }

    &::after {
      content: "";
      background: transparent url("../img/strichl-muster.png") no-repeat left top;
      height: 142px;
      max-height: 142px;
      width: 100%;
      display: block;
    }

    h4, li, a {
      font-size: $font-size;
      color: $font-color-accent;
    }

    h1, h2, h3, h4 {
      font-weight: bold;
      text-transform: uppercase;
    }

    ul.product-categories {
      padding-top: $spacing-s;

      > li {
        > a {
          text-transform: uppercase;
          padding-bottom: $spacing-s;
          display: block;
          width: 100%;
          line-height: 1em;
        }

        &:not(:first-child) > a {
          border-top: 1px solid $beigegold;
          padding-top: $spacing-s;
          border-bottom: 0;
        }

        > ul.children {
          border-top: 1px solid $beigegold;
          padding: $spacing-s 0;

          > li {
            margin: 0;
          }
        }
      }
    }

    li:hover > a,
    ul.product-categories li.current-cat > a,
    ul.product-categories > li:hover > a,
    li.current-label-parent a,
    ul.product-categories .current-cat-parent > a {
      color: $font-color-accent-dark;
    }
  }
}
