.slider {
  position: relative;
}

.slider {
  opacity: 0;

  &.tns-slider {
    opacity: 1;
  }
}

.slider-image {
  width: auto;
  height: var(--slider-height);
  background-repeat: no-repeat;
  $opacity: 0.7;
  background-image: linear-gradient(180deg, rgba(0,0,0,$opacity) 0%, rgba(0,0,0,0) 40%), var(--image-large);
  object-fit: cover;
  background-size: cover;

  @media all and (max-width: $medium-breakpoint) and (min-width: $small-breakpoint + 1) {
    background-image: var(--image-medium);
  }

  @media all and (max-width: $small-breakpoint) {
    background-image: var(--image-small);
  }
}

.slider-claim {
  overflow: hidden;
  max-width: 550px;
  @media all and (max-width: $small-breakpoint) {
    max-width: 350px;
  }
  display: inline-block;
  position: absolute;
  bottom: $spacing-l;
  right: 130px;

  .slider-title {
    margin-bottom: $spacing-s;

    @media all and (max-width: $small-breakpoint) {
      margin-bottom: $spacing-s;
    }

    h1, h2 {
      font-family: "Cond Black", serif;
    }

    h2 {
      font-size: $font-size-very-very-large;
      color: #fff;
    }
  }

  .auto-width {
    display: flex;
  }

  .auto-width div {
    flex-grow: 1;
    width: 0;
  }

  .button-container div {
    display: flex;
    justify-content: space-evenly;

    .button {
      transition: none;
      font-family: $font-family-headline;
      background-color: $weinrot;
      color: $beigegold;
      padding: $spacing-xxs;
      min-width: 200px;
      text-align: center;
      display: inline-block;

      &:hover {
        background-color: $beigegold;
        color: #fff;
      }

      &:first-child:last-child {
        width: 100%;
      }
    }

    .button:nth-child(2) {
      background-color: $beigegold;
      color: #fff;

      &:hover {
        background-color: $weinrot;
        color: $beigegold;
      }
    }

    @media all and (max-width: $small-breakpoint) {
      flex-direction: column;
      align-items: center;

      .button {
        width: 100%;
      }

      .button:first-child:not(:last-child) {
        margin-bottom: $spacing-s;
      }
    }
  }

  @media all and (max-width: $medium-breakpoint) {
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

ul.slider, ul.slider li, ul.slider li img {
  width: 100%;
}

.slider-outer {
  .slider > .tns-item {
    vertical-align: middle !important;
    position: relative;
  }
}

.slider .slider-image {
  background-size: cover;
}

#slider-best-selling-controls.slider-controls button {
  background-image: url("../img/pfeil_gold.svg");
}

#slider-header-controls.slider-controls button {
  background-image: url("../img/pfeil_weiss.svg");
}

.slider-outer {
  position: relative;
}

.slider-controls {
  button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    $size: 46px;
    width: $size;
    height: $size;
    background-size: 26px;
    position: absolute;
    top: 50%;
    cursor: pointer;
    padding: 0;

    &:hover {
      background-color: transparent;
    }
  }

  $spaceToBorder: $spacing-s;
  button[data-controls="prev"] {
    left: $spaceToBorder;
  }

  button[data-controls="next"] {
    transform: rotate(180deg);
    right: $spaceToBorder;
  }

  @media all and (max-width: $small-breakpoint) {
    button {
      width: 30px;
      height: 30px;
      background-size: 17px;
      top: 270px;
    }

    $spaceToBorderSmall: $spacing-xs;
    button[data-controls="prev"] {
      left: $spaceToBorderSmall;
    }

    button[data-controls="next"] {
      right: $spaceToBorderSmall;
    }
  }
}
