.slider-outer {
  overflow: hidden;
}

.slider-claim {
  z-index: 2;
}

.snowflake {
  width: var(--size);
  height: var(--size);
  background: white;
  border-radius: 50%;
  position: absolute;
  top: -5vh;
  z-index: 1;
}

@keyframes snowfall {
  0% {
    transform: translate3d(var(--left-ini), 0, 0);
  }
  100% {
    transform: translate3d(var(--left-end), 110vh, 0);
  }
}

@for $i from 1 through 50 {
  .snowflake:nth-child(#{$i}) {
    --size: #{random(5) * 0.2}vw;
    @media all and (max-width: $medium-breakpoint) {
      --size: #{random(5) * 0.5}vw;
    }
    --left-ini: #{random(20) - 10}vw;
    --left-end: #{random(20) - 10}vw;
    left: #{random(100)}vw;
    animation: snowfall #{5 + random(10)}s linear infinite;
    animation-delay: -#{random(10)}s;
  }
}

/* added small blur every 6 snowflakes*/
.snowflake {
  filter: blur(1px);
}
.snowflake:nth-child(3n) {
  filter: blur(2px);
}
.snowflake:nth-child(6n) {
  filter: blur(3px);
}
