#rehorik-social-media-icons-outer {
  position: absolute;
  left: $spacing-l;
  height: 100%;
  top: 84px;
  z-index: 100;
  
  > #rehorik-social-media-icons {
    position: sticky;
    left: 0;
    top: $menu-height + $spacing-s;

    transition: all 0.25s ease 0s;
    background: transparent url("../img/Weiss_1px.png") repeat 0 0;
    border-radius: $border-radius;
    padding: $spacing-xxs;

    $size: 25px;
    $size-small: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .fb, .yt, .instagram {
      flex: 0 0 $size;
      width: $size;
      height: $size;
      background-size: $size;
      background: transparent none no-repeat center center;

      &:not(:last-child) {
        margin: 0 $spacing-xs 0 0;
      }
    }

    .fb {
      background-image: url("../img/svg/facebook.svg");

      &:hover {
        background-image: url("../img/svg/facebook_color.svg");
      }
    }

    .yt {
      background-image: url("../img/svg/youtube.svg");

      &:hover {
        background-image: url("../img/svg/youtube_color.svg");
      }
    }

    .instagram {
      background-image: url("../img/svg/instagram.svg");

      &:hover {
        background-image: url("../img/svg/instagram_color.svg");
      }
    }
  }

  $large-breakpoint: 1450px;
  @media all and (max-width: $large-breakpoint) {
    left: $spacing-s;
  }

  @media all and (max-width: $medium-breakpoint) {
    > #rehorik-social-media-icons {
      top: $spacing-s;

      &.visible {
        top: $spacing-xs;
      }

      &.hidden {
        top: -45px;
      }
    }
  }

  @media all and (max-width: $small-breakpoint) {
    left: 0;
    right: 0;
    top: 88px;
    margin-left: auto;
    margin-right: auto;
    width: 135px;
  }
}

.woocommerce-page {
  #rehorik-social-media-icons-outer {
    @media all and (max-width: $small-breakpoint) {
      left: 0;
      right: 0;
      top: 212px;
      margin-left: auto;
      margin-right: auto;
      width: 135px;
    }
  }
}