.woocommerce a.remove {
      @media all and (max-width: $small-breakpoint) {
        background-position: left top;
      }
  display: block;
  font-size: 19px;
  height: auto;
  width: auto;
  text-align: center;
  line-height: 1;
  border-radius: 100%;
  color: #333 !important;
  text-decoration: none;
  font-weight: normal;
  border: 0;
}

.woocommerce {
  .woocommerce-error,
  .woocommerce-info,
  .woocommerce-message {
    background-color: #fff;
    color: $font-color;
    padding: $spacing;
    border: 1px solid $beigegold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 $spacing 0;

    a {
      color: $font-color-accent;
    }
  }
}

.woocommerce-form__label {
  font-size: $font-size;
}

.woocommerce div.rehorik-product.product form.cart {
  margin: 0;

  .woocommerce-page.et_pb_button_helper_class a.button {
    background-color: $beigegold;

    &:hover {
      color: $dunkelbraun;
    }
  }

  .woocommerce-MyAccount-content h3 {
    color: $font-color;
  }
}

body.rehorik.woocommerce,
body.rehorik.woocommerce-page,
body.rehorik.woocommerce-cart {
  .quantity input.qty,
  .quantity input.qty,
  #content .quantity input.qty,
  #content .quantity input.qty,
  table.cart td.actions .coupon .input-text {
    border-radius: $border-radius;
    background-color: $grau !important;
    color: #fff !important;
    font-size: $font-size !important;
    padding: $spacing-xxs;
    height: 50px;
    border: none;
    font-family: $font-family-body;

    &:focus {
      color: #fff;
    }
  }
}

.woocommerce div.product div.images {
  margin-bottom: 0;
}

.related.products > h2 {
  display: none;
}
