.woocommerce a.added_to_cart.wc-forward {
  display: none;
}

.woocommerce .blockUI.blockOverlay::before {
  background: transparent url("../img/svg/strength_filled.svg") no-repeat center center;
}

.woocommerce-pagination {
  margin-top: $spacing-s;
}

.woocommerce form .form-row .required {
  color: $beigegold;
}

.woocommerce a.remove {
  @media all and (max-width: $small-breakpoint) {
    background-position: left top;
  }
  display: block;
  font-size: 19px;
  height: auto;
  width: auto;
  text-align: center;
  line-height: 1;
  border-radius: 100%;
  color: #333 !important;
  text-decoration: none;
  font-weight: normal;
  border: 0;
}

.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
  line-height: $line-height;
}

.rehorik .woocommerce form .woocommerce-form-row,
.rehorik .woocommerce form .form-row,
.rehorik .woocommerce form fieldset {
  margin-bottom: $spacing-s;
}

.woocommerce form .form-row label {
  line-height: $line-height;
}

.woocommerce form.checkout_coupon,
.woocommerce form.login,
.woocommerce form.register {
  margin: $spacing-xs 0;
  border-radius: $border-radius;
}

.woocommerce {
  .woocommerce-error,
  .woocommerce-info,
  .woocommerce-message {
    background-color: #fff;
    color: $font-color;
    padding: $spacing;
    border: 1px solid $beigegold;
    margin: 0 0 $spacing 0;
    border-radius: $border-radius;

    &::before {
      content: none;
    }

    a {
      color: $font-color-accent-dark;
    }
  }
}

.rehorik-product.detail-view.product .woocommerce-message {
  margin: 0;
  padding: 0;
}

.woocommerce-form__label {
  font-size: $font-size;
}

.woocommerce div.rehorik-product.product form.cart {
  margin: 0;

  .woocommerce-MyAccount-content h3 {
    color: $font-color;
  }
}

.woocommerce div.product div.images {
  margin-bottom: 0;
}

.related.products > h2 {
  display: none;
}
