.woocommerce a.remove {
      @media all and (max-width: $small-breakpoint) {
        background-position: left top;
      }
  display: block;
  font-size: 19px;
  height: auto;
  width: auto;
  text-align: center;
  line-height: 1;
  border-radius: 100%;
  color: #333 !important;
  text-decoration: none;
  font-weight: normal;
  border: 0;
}

.woocommerce {
  .woocommerce-error,
  .woocommerce-info,
  .woocommerce-message {
    background-color: #fff !important;
    color: $font-color !important;
    line-height: $line-height-large;

    a {
      color: $font-color-accent !important;
    }

    border: 1px solid $beigegold !important;
  }
}

.woocommerce-form__label {
  font-size: $font-size;
}

.woocommerce div.rehorik-product.product form.cart .woocommerce-variation-add-to-cart {
  div.quantity {
    @media all and (max-width: $small-breakpoint) {
      margin: 0 0 $spacing-s 0 !important;
      width: 100%;
    }
  }
}

.woocommerce .quantity input.qty,
.woocommerce-page .quantity input.qty,
.woocommerce #content .quantity input.qty,
.woocommerce-page #content .quantity input.qty,
.woocommerce-cart table.cart td.actions .coupon .input-text {
  border-radius: $border-radius;
  background-color: $grau !important;
  color: #fff;
  font-size: $font-size;
  padding: $spacing-xxs;

  &:focus {
    color: #fff;
  }
}

.woocommerce-page.et_pb_button_helper_class a.button {
  background-color: $beigegold;

  &:hover {
    color: $dunkelbraun;
  }
}

.woocommerce-MyAccount-content h3 {
  color: $font-color;
}