body.rehorik.woocommerce div.rehorik-product {
  div.rehorik-add-to-cart-container {
    position: relative;
    display: flex;
    flex-direction: column;

    form:not(.variations_form).cart {
      display: flex;
    }

    form.variations_form.cart {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas:
        "variations variations variations"
        "add-to-cart-button add-to-cart-button ."
      ;

      @media all and (max-width: $medium-breakpoint) {
        grid-template-columns: 1fr;
        grid-template-areas:
        "variations"
        "add-to-cart-button"
      }
    }

    table.variations {
      grid-area: variations;
      margin-bottom: $product-view-grid-gap / 2;
    }

    div.quantity {
      margin: 0;
      float: none;

      input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    button[type="submit"].single_add_to_cart_button {
      transition: none;
      padding: $spacing-xxs $spacing-s $spacing-xxs 37px;
      background: $beigegold url("../img/warenkorb-white.svg") no-repeat left 10px center;
      background-size: $spacing-s;
      margin-top: 0;
      border-radius: 0 $border-radius $border-radius 0;
      line-height: 0;

      &:hover {
        color: $beigegold;
        background: $weinrot url("../img/warenkorb-16px.svg") no-repeat left 10px center;
        background-size: $spacing-s !important;
      }
    }

    div.single_variation_wrap {
      grid-area: add-to-cart-button;

      .woocommerce-variation-add-to-cart {
        display: flex;
        margin-top: $product-view-grid-gap / 2;
      }
    }
  }
}