body.rehorik.woocommerce div.rehorik-product {
  div.rehorik-add-to-cart-container {
    position: relative;
    display: flex;
    flex-direction: column;

    form.cart {
      .quantity {
        width: $product-view-cart-button-quantity-width;

        input {
          width: 100%;
        }
      }

      button {
        width: $product-view-cart-button-width;
      }
    }

    form:not(.variations_form).cart {
      display: flex;
    }

    form.variations_form.cart > div {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas:
        "variations variations variations"
        "add-to-cart-button add-to-cart-button ."
      ;

      @media all and (max-width: $medium-breakpoint) {
        grid-template-columns: 1fr;
        grid-template-areas:
        "variations"
        "add-to-cart-button"
      }
    }

    table.variations {
      grid-area: variations;
      margin-bottom: var(--product-view-grid-gap);
    }

    div.quantity {
      margin: 0;
      float: none;

      input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    button[type="submit"].single_add_to_cart_button {
      transition: none;
      padding: $spacing-xxs $spacing-s $spacing-xxs 37px;
      background: $beigegold url("../img/warenkorb-white.svg") no-repeat left 10px center;
      background-size: $spacing-s;
      margin-top: 0;
      border-radius: 0 $border-radius $border-radius 0;
      line-height: 0;

      &:hover {
        color: $beigegold;
        background: $weinrot url("../img/warenkorb-16px.svg") no-repeat left 10px center;
        background-size: $spacing-s !important;
      }
    }

    div.single_variation_wrap {
      grid-area: add-to-cart-button;

      .woocommerce-variation-add-to-cart {
        display: flex;
        margin-top: var(--product-view-grid-gap-half);
      }
    }

    p.stock.in-stock {
      display: none;
    }
  }

  .woocommerce-variation-availability {
    display: none;
  }
}

.rehorik .product.woocommerce.add_to_cart_inline {
  height: $spacing-l;

  a.button.add_to_cart_button,
  a.button.product_type_simple {
    color: #fff;
    transition: none;
    padding: 0 $spacing-xxs 0 34px !important;
    background: $beigegold url("../img/warenkorb-white.svg") no-repeat left $spacing-xxs center;
    background-size: $spacing-s;
    margin-top: 0;
    height: $spacing-l;
    font-size: $font-size;
    text-transform: uppercase;
    display: block;

    &:hover {
      color: $beigegold !important;
      background: $weinrot url("../img/warenkorb-16px.svg") no-repeat left $spacing-xxs center !important;
      background-size: $spacing-s !important;
    }

    &::after {
      content: none;
    }
  }
}
