body.rehorik.woocommerce div.rehorik-product {
  div.rehorik-add-to-cart-container {
    position: relative;
    display: flex;
    flex-direction: column;

    form.variations_form.cart > div {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas:
        "variations variations variations"
        "add-to-cart-button add-to-cart-button ."
      ;

      @media all and (max-width: $medium-breakpoint) {
        grid-template-columns: 1fr;
        grid-template-areas:
        "variations"
        "add-to-cart-button"
      }
    }

    table.variations {
      grid-area: variations;
      margin-bottom: var(--product-view-grid-gap);
    }

    div.single_variation_wrap {
      grid-area: add-to-cart-button;
    }

    p.stock.in-stock {
      display: none;
    }
  }

  .woocommerce-variation-availability {
    display: none;
  }
}

.rehorik .product.woocommerce.add_to_cart_inline {
  height: $spacing-l;

  a.button.add_to_cart_button,
  a.button.product_type_simple {
    color: #fff;
    transition: none;
    padding: 0 $spacing-xxs 0 34px !important;
    background: $beigegold url("../img/cart/warenkorb-white.svg") no-repeat left $spacing-xxs center;
    background-size: $spacing-s;
    margin-top: 0;
    height: $spacing-l;
    font-size: $font-size;
    text-transform: uppercase;
    display: block;

    &:hover {
      color: $beigegold !important;
      background: $weinrot url("../img/cart/warenkorb.svg") no-repeat left $spacing-xxs center !important;
      background-size: $spacing-s !important;
    }

    &::after {
      content: none;
    }
  }
}
