.product p.wc-gzd-additional-info {
  margin-bottom: 0;
}

.rehorik-product-additional-information-category {
  font-family: $font-family-headline;
  font-size: $font-size-h2;
  color: $primary-color;
  margin-bottom: $spacing;
}