.product p.wc-gzd-additional-info {
  margin-bottom: 0;
}

.rehorik-product-additional-information-category {
  font-family: $font-family-headline;
  font-size: $font-size-h2;
  color: $beigegold;
  text-transform: uppercase;

  @media all and (max-width: $small-breakpoint) {
    padding: 0 $spacing-s;
  }
}

.rehorik-product-additional-information-container-outer {
  position: relative;

  .rehorik-product-additional-information-container {
    padding: $spacing-l $spacing-xl;
    border: 1px solid $product-default-color;
    border-top: none;
    border-radius: $border-radius;
    color: #fff;

    hr {
      border-width: 3px !important;
    }

    @media all and (max-width: $small-breakpoint) {
      padding: 0;
    }
  }
}

.rehorik.woocommerce .rehorik-product-additional-information-container-outer {
  margin: 0;
}