body.rehorik.woocommerce #main-content div.rehorik-product {
  .rehorik-product-textarea-outer {
    &.hellbraun {
      background-color: $hellbraun;
    }
  }

  .rehorik-product-processing,
  .rehorik-product-origin {
    &.weingut {
      padding-bottom: var(--product-view-grid-gap);
    }

    h2 {
      grid-area: title;

      text-align: left;
      color: $font-color;
      font-size: $font-size-large;
      margin-bottom: var(--product-view-grid-gap-half);
    }

    > div {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      grid-template-areas:
          "left right"
          "images images";

      .additional-text-left {
        &:not(:empty) {
          margin: 0 var(--product-view-grid-gap-half) 0 0;
        }

        text-align: justify;
        grid-area: left;
      }

      .additional-text-right {
        &:not(:empty) {
          margin: 0 0 0 var(--product-view-grid-gap-half);
        }

        text-align: justify;
        grid-area: right;
      }

      .additional-text-images {
        grid-area: images;
        display: flex;
        grid-gap: $spacing-s;
        align-items: flex-end;
        justify-content: space-between;

        @media all and (max-width: $medium-breakpoint) {
          flex-direction: column;
          align-items: center;
        }

        img {
          border-radius: 0;
          padding: 0;
          margin: 0;
        }
      }

      @media all and (max-width: $medium-breakpoint) {
        grid-template-columns: 1fr;
        grid-template-areas:
            "left"
            "right"
            "images";

        .additional-text-left:not(:empty) {margin: 0 0 var(--product-view-grid-gap-half) 0;}
        .additional-text-right:not(:empty) {margin: 0 0 var(--product-view-grid-gap-half) 0;}
      }
    }
  }
}
