// Product detail view
.rehorik.single-product #main-content .rehorik-product.product.detail-view .rehorik-product-attributes {
  table {
    width: 100%;

    tr th {
      padding: 0 $spacing 0 0;
      color: $beigegold;
    }

    tr th, tr td {
      line-height: $line-height;
    }

    tr {
      &:not(:last-child) {
        th, td {
          padding-top: $spacing-xxs;
          padding-bottom: $spacing-xxs;
          border-bottom: 1px solid $beigegold;
        }
      }

      &:first-child {
        th, td {
          padding-top: 0;
          padding-bottom: $spacing-xxs;
        }
      }

      &:last-child {
        th, td {
          padding-top:  $spacing-xxs;
          padding-bottom: 0;
        }
      }
    }
  }
}

// Overview
.rehorik-products {
  .rehorik-product-attributes table tr td:first-child {
    font-size: $font-size-very-small;
    line-height: $line-height-very-narrow;
  }

  .rehorik-product-attribute-label {
    text-transform: uppercase;
    font-weight: bold;
    font-family: $font-family-headline;
  }

  td.rehorik-product-attribute-label {
    text-align: right;
  }

  .rehorik-tabs-panel hr {
    border-width: 3px;
  }
}

