.rehorik-product-attributes table tr {
  td.rehorik-product-strength-flavour-label-first,
  td.rehorik-product-strength-flavour-label-first ~ td {
    padding-bottom: $spacing-xxs !important;
  }
  td.rehorik-product-strength-flavour-label-first {
    vertical-align: bottom !important;
  }
}

.rehorik-tabs-panel .rehorik-product-strength-flavour-container-outer {
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: $spacing-s;
  grid-row-gap: $spacing-s;

  .rehorik-product-attribute-label {
    text-align: right;
    margin-right: $spacing-s;
    line-height: $line-height-narrow;

    &:first-child {
      align-self: end;
    }
  }

  @media all and (max-width: $small-breakpoint) {
    padding: 0 $spacing-s;
  }

  .rehorik-product-strength-flavour-container {
    $width: 32px;
    $height: 48px;
    $marginRight: $spacing-xs;
    padding-left: 0;
    height: $height;

    > span {
      margin-right: $marginRight;
      &:last-child {
        margin-right: 0;
      }

      height: $height;
      display: inline-block;
      background-repeat: no-repeat;
      background-position: left bottom;
    }

    @for $i from 1 through 6 {
      $inv: 6 - $i;
      $bgSize: $width - $inv * 3;

      .rehorik-coffee-strength-#{$i} {
        background-image: url("../img/svg/strength.svg");
        background-size: $bgSize;
        width: $bgSize;
        background-position: left bottom;
      }

      .rehorik-coffee-strength-#{$i}-filled {
        background-image: url("../img/svg/strength_filled.svg");
        background-size: $bgSize;
        width: $bgSize;
        background-position: left bottom;
      }

      .rehorik-coffee-flavour-#{$i} {
        background-image: url("../img/svg/flavour.svg");
        background-size: $bgSize;
        background-position: left top;
        width: $bgSize;
      }

      .rehorik-coffee-flavour-#{$i}-filled {
        background-image: url("../img/svg/flavour_filled.svg");
        background-size: $bgSize;
        background-position: left top;
        width: $bgSize;
      }
    }

    @media all and (max-width: $small-breakpoint) {
      $width-small: 22px;
      $height-small: 33px;
      $marginRight-small: $spacing-xxs;
      height: $height-small;

      > span {
        margin-right: $marginRight-small;
        height: $height-small;
      }

      @for $i from 1 through 6 {
        $inv: 6 - $i;
        $bgSize-small: $width-small - $inv * 3;

        .rehorik-coffee-strength-#{$i} {
          background-size: $bgSize-small;
          width: $bgSize-small;
        }

        .rehorik-coffee-strength-#{$i}-filled {
          background-size: $bgSize-small;
          width: $bgSize-small;
        }

        .rehorik-coffee-flavour-#{$i} {
          background-size: $bgSize-small;
          width: $bgSize-small;
        }

        .rehorik-coffee-flavour-#{$i}-filled {
          background-size: $bgSize-small;
          width: $bgSize-small;
        }
      }
    }

    @media all and (max-width: $very-small-breakpoint) {
      > span {
        margin-right: $spacing-xxxs;
        height: 19px;
      }
    }
  }
}

.rehorik-product-strength-flavour-container {
  $width: 15px;
  $height: 23px;
  padding-left: $spacing-xxxs;
  height: $height;

  > span {
    margin-right: 4px;
    &:last-child {
      margin-right: 0;
    }

    height: $height;
    display: inline-block;
    background-repeat: no-repeat;
  }

  @for $i from 1 through 6 {
    $bgSize: $width - (6 - ($i - 1));

    .rehorik-coffee-strength-#{$i} {
      background-image: url("../img/svg/strength.svg");
      background-size: $bgSize;
      width: $bgSize;
      background-position: left bottom;
    }

    .rehorik-coffee-strength-#{$i}-filled {
      background-image: url("../img/svg/strength_filled.svg");
      background-size: $bgSize;
      width: $bgSize;
      background-position: left bottom;
    }

    .rehorik-coffee-flavour-#{$i} {
      background-image: url("../img/svg/flavour.svg");
      background-size: $bgSize;
      width: $bgSize;
      background-position: left top;
    }

    .rehorik-coffee-flavour-#{$i}-filled {
      background-image: url("../img/svg/flavour_filled.svg");
      background-size: $bgSize;
      width: $bgSize;
      background-position: left top;
    }
  }
}

.product-of-month .rehorik-product-strength-flavour-container {
  @for $i from 1 through 6 {
    .rehorik-coffee-strength-#{$i} {
      background-image: url("../img/svg/strength_white.svg");
    }

    .rehorik-coffee-strength-#{$i}-filled {
      background-image: url("../img/svg/strength_filled_white.svg");
    }

    .rehorik-coffee-flavour-#{$i} {
      background-image: url("../img/svg/flavour_white.svg");
    }

    .rehorik-coffee-flavour-#{$i}-filled {
      background-image: url("../img/svg/flavour_filled_white.svg");
    }
  }
}