#page-container ul.products.rehorik-products li.product.rehorik-product .rehorik-product-attributes table tr {
  td.rehorik-product-strength-flavour-label {
    font-size: $font-size-small;
    line-height: $font-size-small;

    &.first-label {
      vertical-align: baseline !important;
      padding-bottom: $spacing-xs;

      &+td {
        vertical-align: baseline !important;
        padding-bottom: $spacing-xxs;
      }
    }
  }
}

$aspect-ratio: 17 / 25;

// Category view
.rehorik-product-strength-flavour-container {
  $width: $strength-flavour-icon-size;
  $height: $width / $aspect-ratio;
  padding-left: $spacing-xxs;
  height: $height;

  > span {
    margin-right: $spacing-xxxs;

    &:last-child {
      margin-right: 0;
    }

    height: $height;
    display: inline-block;
    background-repeat: no-repeat;
  }

  @for $i from 1 through 6 {
    $bgSize: $width - ((6 - $i) * 1.8);

    .rehorik-coffee-strength-#{$i} {
      background-image: url("../img/product/strength.svg");
      background-size: $bgSize;
      width: $bgSize;
      background-position: left bottom 0;
    }

    .rehorik-coffee-strength-#{$i}-filled {
      background-image: url("../img/product/strength_filled.svg");
      background-size: $bgSize;
      width: $bgSize;
      background-position: left bottom 0;
    }

    .rehorik-coffee-flavour-#{$i} {
      background-image: url("../img/product/flavour.svg");
      background-size: $bgSize;
      width: $bgSize;
      background-position: left top 0;
    }

    .rehorik-coffee-flavour-#{$i}-filled {
      background-image: url("../img/product/flavour_filled.svg");
      background-size: $bgSize;
      width: $bgSize;
      background-position: left top 0;
    }
  }
}

.product-of-month .rehorik-product-strength-flavour-container {
  @for $i from 1 through 6 {
    .rehorik-coffee-strength-#{$i} {
      background-image: url("../img/product/strength_white.svg");
    }

    .rehorik-coffee-strength-#{$i}-filled {
      background-image: url("../img/product/strength_filled_white.svg");
    }

    .rehorik-coffee-flavour-#{$i} {
      background-image: url("../img/product/flavour_white.svg");
    }

    .rehorik-coffee-flavour-#{$i}-filled {
      background-image: url("../img/product/flavour_filled_white.svg");
    }
  }
}

.rehorik-product-attributes.product-detail-view-attributes .rehorik-product-strength-flavour-container {
  $width: $strength-flavour-icon-size-large;
  $height: $width / $aspect-ratio;
  padding-left: $spacing-xxs;
  height: $height;

  > span {
    margin-right: $spacing-xxxs;

    &:last-child {
      margin-right: 0;
    }

    height: $height;
  }

  @for $i from 1 through 6 {
    $bgSize: $width - ((6 - $i) * 2.5);

    .rehorik-coffee-strength-#{$i} {
      background-image: url("../img/product/strength_black.svg");
      background-size: $bgSize;
      width: $bgSize;
    }

    .rehorik-coffee-strength-#{$i}-filled {
      background-image: url("../img/product/strength_filled_black.svg");
      background-size: $bgSize;
      width: $bgSize;
    }

    .rehorik-coffee-flavour-#{$i} {
      background-image: url("../img/product/flavour_black.svg");
      background-size: $bgSize;
      width: $bgSize;
    }

    .rehorik-coffee-flavour-#{$i}-filled {
      background-image: url("../img/product/flavour_filled_black.svg");
      background-size: $bgSize;
      width: $bgSize;
    }
  }
}
