.rehorik-product-attributes table tr {
  td.rehorik-product-strength-flavour-label-second + td {
    vertical-align: bottom !important;
  }
}

// Category view
.rehorik-product-strength-flavour-container {
  $width: 15px;
  $height: 23px;
  padding-left: $spacing-xxs;
  height: $height;

  > span {
    margin-right: $spacing-xxxs;

    &:last-child {
      margin-right: 0;
    }

    height: $height;
    display: inline-block;
    background-repeat: no-repeat;
  }

  @for $i from 1 through 6 {
    $bgSize: $width - (6 - ($i - 1));

    .rehorik-coffee-strength-#{$i} {
      background-image: url("../img/svg/strength.svg");
      background-size: $bgSize;
      width: $bgSize;
      background-position: left bottom;
    }

    .rehorik-coffee-strength-#{$i}-filled {
      background-image: url("../img/svg/strength_filled.svg");
      background-size: $bgSize;
      width: $bgSize;
      background-position: left bottom;
    }

    .rehorik-coffee-flavour-#{$i} {
      background-image: url("../img/svg/flavour.svg");
      background-size: $bgSize;
      width: $bgSize;
      background-position: left top;
    }

    .rehorik-coffee-flavour-#{$i}-filled {
      background-image: url("../img/svg/flavour_filled.svg");
      background-size: $bgSize;
      width: $bgSize;
      background-position: left top;
    }
  }
}

.product-of-month .rehorik-product-strength-flavour-container {
  @for $i from 1 through 6 {
    .rehorik-coffee-strength-#{$i} {
      background-image: url("../img/svg/strength_white.svg");
    }

    .rehorik-coffee-strength-#{$i}-filled {
      background-image: url("../img/svg/strength_filled_white.svg");
    }

    .rehorik-coffee-flavour-#{$i} {
      background-image: url("../img/svg/flavour_white.svg");
    }

    .rehorik-coffee-flavour-#{$i}-filled {
      background-image: url("../img/svg/flavour_filled_white.svg");
    }
  }
}