.rehorik.single-product .rehorik-product.product.detail-view .rehorik-product-view-gallery .woocommerce-product-gallery {
  float: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .flex-viewport {
    margin-bottom: var(--product-view-grid-gap-half);
  }

  ol.flex-control-nav.flex-control-thumbs {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: $product-thumbnail-size $product-thumbnail-size $product-thumbnail-size $product-thumbnail-size;
    @media all and (max-width: $medium-breakpoint) {
      grid-template-columns: $product-thumbnail-size $product-thumbnail-size $product-thumbnail-size;
    }

    grid-auto-rows: $product-thumbnail-size;
    gap: $spacing-xs;
    justify-content: flex-start;

    li {
      width: 100%;
      float: none;
    }
  }

  .flex-viewport,
  .flex-control-thumbs li img,
  .woocommerce-product-gallery__image {
    border-radius: $border-radius;
  }
}