.rehorik.single-product .rehorik-product.product.detail-view .woocommerce-product-gallery {
  float: none;
  width: unset;

  ol.flex-control-nav.flex-control-thumbs {
    padding: 0 !important;
    margin: 0 !important;
  }
}