.rehorik.single-product .rehorik-product.product.detail-view .rehorik-product-view-gallery .woocommerce-product-gallery {
  float: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .flex-viewport {
    margin-bottom: $product-view-grid-gap / 2;
  }

  ol.flex-control-nav.flex-control-thumbs {
    padding: 0;
    margin: 0;

    li {
      margin: 0 $spacing-xs 0 0;
    }
  }

  .flex-viewport,
  .flex-control-thumbs li img,
  .woocommerce-product-gallery__image {
    border-radius: $border-radius;
  }
}