.rehorik-product-goes-with {
  @media all and (min-width: $small-breakpoint + 1) {
    max-width: 263px;
  }

  text-transform: uppercase;
  padding: $spacing-xs;
  background: transparent url("../img/green-texture.png") repeat left top;
  color: #fff;
  line-height: $line-height-narrow;
  align-self: center;
  text-align: center;

  > div:first-child {
    margin-bottom: $spacing-xxs;
  }

  > div:last-child {
    font-weight: bold;
  }
}

.rehorik.single-product .rehorik-product-goes-with {
  border-radius: $border-radius;
}