// Overview
.rehorik-products {
  .rehorik-product-attributes table tr td:first-child {
    font-size: $font-size-small;
  }

  .rehorik-product-attribute-label {
    text-transform: uppercase;
    font-weight: bold;
    font-family: $font-family-headline;
  }

  td.rehorik-product-attribute-label {
    text-align: right;
  }

  .rehorik-tabs-panel hr {
    border-width: 3px;
  }
}

