@import "../mixins";


// Exception for merch. Move position of description to the top
body.rehorik.woocommerce #main-content div.rehorik-product.product_cat-merch .rehorik-product-information {
  grid-area: goes-with;
  background-color: transparent;
  padding: 0;
  @media all and (min-width: $medium-breakpoint + 1) {
    margin: 0 0 0 $product-view-grid-gap / 2;
  }

  display: flex;
  flex-direction: column;

  .rehorik-product-description,
  .rehorik-product-short-description {
    margin-right: 0 !important;
    color: $font-color;
    text-align: justify;
  }
}

body.rehorik.woocommerce #main-content div.rehorik-product {
  $row-padding: $product-view-grid-gap / 2;

  .rehorik-product-information {
    background-color: $product-default-color;
    border: none;
    padding: $product-view-grid-gap;


    ul {
      font-size: $font-size;
      list-style-type: circle;
      margin: 0;
      padding: 0 0 0 $spacing-s;

      li {
      }
    }

    border-radius: $border-radius;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "category ."
    "description attributes"
    "recommendation attributes"
    "short-description attributes";

    .rehorik-product-information-category {
      margin: 0 $row-padding $row-padding 0;
    }

    .rehorik-product-description {
      margin: 0 $row-padding $row-padding 0;
    }

    .rehorik-recommendation {
      margin: 0 $row-padding $row-padding 0;
    }

    .rehorik-product-short-description {
      margin: 0 $row-padding 0 0;
    }

    .rehorik-product-attributes {
      margin: 0 0 0 $row-padding;
    }

    @media all and (max-width: $medium-breakpoint) {
      padding: $row-padding;
      grid-template-columns: 1fr;
      grid-template-areas:
      "category"
      "attributes"
      "description"
      "recommendation"
      "short-description";

      .rehorik-product-information-category {
        margin: 0 0 $row-padding 0;
      }
      .rehorik-product-attributes {
        margin: 0 0 $row-padding 0;
      }
      .rehorik-product-description {
        margin: 0 0 $row-padding 0;
      }
      .rehorik-recommendation {
        margin: 0 0 $row-padding 0;
      }
      .rehorik-product-short-description {
        margin: 0 0 0 0;
      }
    }
    .rehorik-product-information-category,
    .rehorik-product-description,
    .rehorik-recommendation,
    .rehorik-product-short-description,
    .rehorik-product-attributes {
      &:empty {
        display: none;
      }
    }

    .rehorik-product-description {
      grid-area: description;

      text-align: justify;
      font-size: $font-size;
    }

    .rehorik-product-information-category {
      grid-area: category;

      color: $beigegold;
      font-size: $font-size-large;
      text-transform: uppercase;
      font-family: $font-family-headline;
    }

    .rehorik-product-attributes {
      grid-area: attributes;

      table {
        width: 100%;

        tr th {
          padding: 0 $spacing 0 0;
          color: $beigegold;
          vertical-align: top;
        }

        tr td p, tr th p {
          padding: 0;
        }

        tr td a {
          color: #fff;

          &:hover {
            text-decoration: underline;
          }
        }

        tr th a {
          color: $beigegold;

          &:hover {
            text-decoration: underline;
          }
        }

        tr th, tr td {
          text-align: left;
        }

        tr {
          &:not(:last-child) {
            th, td {
              padding-top: $row-padding / 2;
              padding-bottom: $row-padding / 2;
              border-bottom: 1px solid $beigegold;
            }
          }

          &:first-child {
            th, td {
              padding-top: 0;
              padding-bottom: $row-padding / 2;
            }
          }

          &:last-child {
            th, td {
              padding-top: $row-padding / 2;
              padding-bottom: 0;
            }
          }
        }

        td.woocommerce-product-attributes-item__value span{
          display: block;
        }
      }
    }

    .rehorik-product-short-description {
      grid-area: short-description;

      text-align: justify;
      font-size: $font-size;

      h4 {
        color: $beigegold;
        font-size: $font-size;
        text-transform: uppercase;
      }
    }

    .rehorik-recommendation {
      grid-area: recommendation;

      text-align: justify;
      font-size: $font-size-small;
    }
  }

  &.product_cat-crema {
    .rehorik-product-information {
      background-color: $product-crema-color;
    }
  }

  &.product_cat-espresso {
    .rehorik-product-information {
      background-color: $product-espresso-color;
    }
  }

  &.product_cat-filterkaffee {
    .rehorik-product-information {
      background-color: $product-filterkaffee-color;
    }
  }

  &.product_cat-espresso.product_cat-filterkaffee {
    .rehorik-product-information {
      @include productLinearGradient($product-filterkaffee-color, $product-espresso-color);
    }
  }
}
