@import "../mixins";

div.rehorik-product {
  .rehorik-product-information {
    border-radius: $border-radius;
    color: #fff;
    display: flex;

    > * {
      flex: 0 0 50%;

      &:first-child {
        border-right: 1px solid $beigegold
      }
    }

    @media all and (max-width: $small-breakpoint) {
      flex-direction: column;

      > *:first-child {
        flex-shrink: 1;
        border-right: none;
        border-bottom: 1px solid $beigegold
      }
    }

    background-color: $product-default-color;
    border: none;

    .rehorik-product-description {
      text-align: justify;
      font-size: $font-size-small;
      line-height: $line-height-narrow;
    }

    .rehorik-product-information-category {
      color: $beigegold;
      font-size: $font-size-large;
      text-transform: uppercase;
      font-family: $font-family-headline;
      border-bottom: 1px solid $beigegold;
      padding-bottom: $spacing-xxs;
      margin-bottom: $spacing-xxs;
    }
  }

  &.product_cat-crema {
    .rehorik-product-information {
      background-color: $product-crema-color;
    }
  }

  &.product_cat-espresso {
    .rehorik-product-information {
      background-color: $product-espresso-color;
    }
  }

  &.product_cat-filterkaffee {
    .rehorik-product-information {
      background-color: $product-filterkaffee-color;
    }
  }

  &.product_cat-espresso.product_cat-filterkaffee {
    .rehorik-product-information {
      @include productLinearGradient($product-filterkaffee-color, $product-espresso-color);
    }
  }
}

// TODO remove or reuse
div.rehorik-product-attribute-container {
  display: grid;

  &:not(.item-count-2):not(.item-count-1) {
    grid-template-columns: 1fr 1fr 1fr;

    @media all and (min-width: $small-breakpoint + 1) {
      div.rehorik-product-attribute-item {
        &:not(:nth-child(3n + 3)) {
          border-right: 3px solid $beigegold;
        }
      }
    }
  }

  &.item-count-2 {
    grid-template-columns: 1fr 1fr;

    @media all and (min-width: $small-breakpoint + 1) {
      div.rehorik-product-attribute-item {
        &:not(:nth-child(2)) {
          border-right: 3px solid $beigegold;
        }
      }
    }
  }

  &.item-count-1 {
    grid-template-columns: 1fr;
  }

  div.rehorik-product-attribute-item {
    display: inline-block;
    padding: $spacing-s;
    margin-bottom: $spacing;
    text-align: center;

    .rehorik-product-attribute-label {
      font-family: $font-family-headline;
    }

    .rehorik-product-attribute-value p {
      padding-bottom: 0;
    }
  }

  @media all and (max-width: $small-breakpoint) {
    grid-template-columns: 1fr 1fr !important;

    div.rehorik-product-attribute-item {
      &:not(:nth-child(2)) {
        border-right: 3px solid $beigegold;
      }
    }
  }
}