@import "../mixins";

// Exception for merch and gifts. Move position of description to the top
body.rehorik.woocommerce #main-content div.rehorik-product.product_cat-merch .rehorik-product-information,
body.rehorik.woocommerce #main-content div.rehorik-product.product_cat-geschenke .rehorik-product-information,
body.rehorik.woocommerce #main-content div.rehorik-product.product_cat-gutscheine .rehorik-product-information {
  background-color: transparent;
  padding: 0;

  @media all and (min-width: $small-breakpoint + 1) {
    margin: 0 0 0 var(--product-view-grid-gap-half);
  }

  @media all and (max-width: $small-breakpoint) {
    margin: var(--product-view-grid-gap-half) 0 var(--product-view-grid-gap-half) 0;
  }

  display: flex;
  flex-direction: column;

  .rehorik-product-attributes {
    margin: 0;
  }

  .woocommerce-product-attributes-item--attribute_pa_inhalt-praesentkarton {
    th {
      display: none;
    }

    td {
      padding-top: 0 !important;
    }

    td li {
      color: $font-color;
      background: transparent url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIGZpbGw9IiMzOTM1MzYiIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMTIyLjg4cHgiIGhlaWdodD0iMTIyLjg4cHgiIHZpZXdCb3g9IjAgMCAxMjIuODggMTIyLjg4IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMjIuODggMTIyLjg4IiB4bWw6c3BhY2U9InByZXNlcnZlIj48Zz48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTYxLjQzOCwwYzMzLjkzLDAsNjEuNDQxLDI3LjUxMiw2MS40NDEsNjEuNDQxIGMwLDMzLjkyOS0yNy41MTIsNjEuNDM4LTYxLjQ0MSw2MS40MzhDMjcuNTEyLDEyMi44OCwwLDk1LjM3LDAsNjEuNDQxQzAsMjcuNTEyLDI3LjUxMiwwLDYxLjQzOCwwTDYxLjQzOCwweiIvPjwvZz48L3N2Zz4=") no-repeat top 15px left;
      background-size: 2px;
    }
  }
}

body.rehorik.woocommerce #main-content div.rehorik-product {
  .rehorik-product-information-outer {
    background-color: $beigegold;
  }

  .rehorik-product-information {

    padding: var(--product-view-grid-gap-half);

    ul {
      font-size: $font-size;
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        padding: 0 0 0 $spacing-xxs;
        background: transparent url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIGZpbGw9IiNmZmYiIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMTIyLjg4cHgiIGhlaWdodD0iMTIyLjg4cHgiIHZpZXdCb3g9IjAgMCAxMjIuODggMTIyLjg4IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMjIuODggMTIyLjg4IiB4bWw6c3BhY2U9InByZXNlcnZlIj48Zz48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTYxLjQzOCwwYzMzLjkzLDAsNjEuNDQxLDI3LjUxMiw2MS40NDEsNjEuNDQxIGMwLDMzLjkyOS0yNy41MTIsNjEuNDM4LTYxLjQ0MSw2MS40MzhDMjcuNTEyLDEyMi44OCwwLDk1LjM3LDAsNjEuNDQxQzAsMjcuNTEyLDI3LjUxMiwwLDYxLjQzOCwwTDYxLjQzOCwweiIvPjwvZz48L3N2Zz4=") no-repeat top 15px left;
        background-size: 2px;
      }
    }

    border-radius: $border-radius;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "title ."
    "description attributes"
    "recommendation attributes"
    "short-description attributes";

    h2.rehorik-product-information-title {
      margin: 0 var(--product-view-grid-gap-half) var(--product-view-grid-gap-half) 0;
    }

    .rehorik-product-description {
      margin: 0 var(--product-view-grid-gap-half) var(--product-view-grid-gap-half) 0;
    }

    .rehorik-product-attributes {
      margin: 0 0 0 var(--product-view-grid-gap-half);
    }

    @media all and (max-width: $small-breakpoint) {
      padding: var(--product-view-grid-gap-half);
      grid-template-columns: 1fr;
      grid-template-areas:
      "title"
      "attributes"
      "description"
      "recommendation"
      "short-description";

      h2.rehorik-product-information-title {
        margin: 0 0 var(--product-view-grid-gap-half) 0;
      }
      .rehorik-product-attributes {
        margin: 0 0 var(--product-view-grid-gap-half) 0;
      }
      .rehorik-product-description {
        margin: 0 0 var(--product-view-grid-gap-half) 0;
      }
    }

    .rehorik-product-description,
    .rehorik-product-attributes {
      &:empty {
        display: none;
      }
    }

    .rehorik-product-description {
      grid-area: description;
      color: $font-color;
      text-align: justify;

      ul {
        font-size: $font-size;
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
          padding: 0 0 0 $spacing-xxs;
          background: transparent url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIGZpbGw9IiMzOTM1MzYiIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMTIyLjg4cHgiIGhlaWdodD0iMTIyLjg4cHgiIHZpZXdCb3g9IjAgMCAxMjIuODggMTIyLjg4IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMjIuODggMTIyLjg4IiB4bWw6c3BhY2U9InByZXNlcnZlIj48Zz48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTYxLjQzOCwwYzMzLjkzLDAsNjEuNDQxLDI3LjUxMiw2MS40NDEsNjEuNDQxIGMwLDMzLjkyOS0yNy41MTIsNjEuNDM4LTYxLjQ0MSw2MS40MzhDMjcuNTEyLDEyMi44OCwwLDk1LjM3LDAsNjEuNDQxQzAsMjcuNTEyLDI3LjUxMiwwLDYxLjQzOCwwTDYxLjQzOCwweiIvPjwvZz48L3N2Zz4=") no-repeat top 15px left;
          background-size: 2px;
        }
      }
    }

    h2.rehorik-product-information-title {
      grid-area: title;

      text-align: left;
      color: $font-color;
      font-size: $font-size-large;
    }

    .rehorik-product-attributes {
      grid-area: attributes;

      table {
        width: 100%;

        tr th {
          padding: 0 $spacing 0 0;
          color: $beigegold;
          vertical-align: top;
        }

        tr td p, tr th p {
          padding: 0;
        }

        tr td a {
          color: #fff;

          &:hover {
            text-decoration: underline;
          }
        }

        tr th a {
          color: $beigegold;

          &:hover {
            text-decoration: underline;
          }
        }

        tr th, tr td {
          text-align: left;
        }

        tr {
          &:not(:last-child) {
            th, td {
              padding-top: var(--product-view-grid-gap-quarter);
              padding-bottom: var(--product-view-grid-gap-quarter);
              border-bottom: 1px solid $beigegold;
            }
          }

          &:first-child {
            th, td {
              padding-top: 0;
              padding-bottom: var(--product-view-grid-gap-quarter);
            }
          }

          &:last-child {
            th, td {
              padding-top: var(--product-view-grid-gap-quarter);
              padding-bottom: 0;
            }
          }
        }
      }
    }
  }
}
