body.rehorik.woocommerce div.product.rehorik-product form.cart {
  table.variations ul[data-attribute_name="attribute_pa_mahlgrad"] {
    grid-template-areas:
        "ganze-bohne stempelkanne stempelkanne"
        "ibric herdkaennchen herdkaennchen"
        "karlsbader coldbrew aeropress"
        "filtermaschine filtermaschine filtermaschine"
  ;


    li {
      height: fit-content;

      &:hover, &.selected {
        background-color: $weinrot;
      }
    }

    // filtermaschine (8), handfilter (7) and chemex-klein (1) is the same => use filtermaschine
    // herdkaennchen (6) and siebtraeger (5) is the same => use herdkaennchen
    // stempelkanne (10) and chemex-gross (0) is the same => use stempelkanne
    $mahlgrade: [
      'aeropress',
      'coldbrew',
      'filtermaschine',
      'ganze-bohne',
      'herdkaennchen',
      'ibric',
      'karlsbader',
      'stempelkanne'
    ];

    @each $mahlgrad in $mahlgrade {
      li[data-value='#{$mahlgrad}'] {
        grid-area: unquote($mahlgrad);;

        > div {
          box-sizing: border-box;
          font-size: $font-size-small;
          width: 100%;
          padding-left: $spacing-s;
          background-size: $spacing-s;
          background-repeat: no-repeat;
          background-position: $spacing-xxs center;
          background-image: url("../img/mahlgrade/#{$mahlgrad}.svg");

          @if $mahlgrad == 'stempelkanne' {
            background-image: url("../img/mahlgrade/#{$mahlgrad}.svg"), url("../img/mahlgrade/chemex-gross.svg");
            background-position: $spacing-xxs center, $spacing-s + $spacing-xxs + $spacing-xxs center;
          }

          @if $mahlgrad == 'herdkaennchen' {
            background-image: url("../img/mahlgrade/#{$mahlgrad}.svg"), url("../img/mahlgrade/siebtraeger.svg");
            background-position: $spacing-xxs center, $spacing-s + $spacing-xxs + $spacing-xxs center;
          }

          @if $mahlgrad == 'filtermaschine' {
            background-image: url("../img/mahlgrade/#{$mahlgrad}.svg"), url("../img/mahlgrade/handfilter.svg"), url("../img/mahlgrade/chemex-klein.svg");
            background-position: $spacing-xxs center, $spacing-s + $spacing-xxs + $spacing-xxs center, $spacing-s + $spacing-s + $spacing-xxs + $spacing-xxs + $spacing-xxs center;
          }
        }

        &:hover, &.selected {
          > div {
            background-image: url("../img/mahlgrade/selected/#{$mahlgrad}.svg");

            @if $mahlgrad == 'stempelkanne' {
              background-image: url("../img/mahlgrade/selected/#{$mahlgrad}.svg"), url("../img/mahlgrade/selected/chemex-gross.svg");
            }

            @if $mahlgrad == 'herdkaennchen' {
              background-image: url("../img/mahlgrade/selected/#{$mahlgrad}.svg"), url("../img/mahlgrade/selected/siebtraeger.svg");
            }

            @if $mahlgrad == 'filtermaschine' {
              background-image: url("../img/mahlgrade/selected/#{$mahlgrad}.svg"), url("../img/mahlgrade/selected/handfilter.svg"), url("../img/mahlgrade/selected/chemex-klein.svg");
            }
          }
        }
      }
    }
  }
}