.woocommerce div.product form.cart {
  table.variations ul[data-attribute_name="attribute_pa_mahlgrad"] {
    li {
      padding-left: $spacing-l;
      background-size: $spacing-s;
      background-repeat: no-repeat;
      background-position: $spacing-xxs center;

      &:hover, &.selected {
        background-color: $weinrot;
      }
    }

    $mahlgrade: ["aeropress","filtermaschine","ganze-bohne","handfilter","herdkaennchen","karlsbader-kanne","siebtraeger","stempelkanne","tuerkisch-fein"];
    @each $mahlgrad in $mahlgrade {
      li[data-value='#{$mahlgrad}'] {
        background-image: url("../img/mahlgrade/#{$mahlgrad}.svg");

        &:hover, &.selected {
          background-image: url("../img/mahlgrade/selected/#{$mahlgrad}.svg");
        }
      }
    }
  }
}