/**
 * Fix list style
 */
body.rehorik.woocommerce #main-content .rehorik-product.product.detail-view.product_cat-maschinen-equipment {
  .rehorik-product-attributes.product-detail-view-attributes {
    ul {
      font-size: $font-size;
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        padding: 0 0 0 $spacing-xxs;
        background: transparent url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIGZpbGw9IiMzOTM1MzYiIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMTIyLjg4cHgiIGhlaWdodD0iMTIyLjg4cHgiIHZpZXdCb3g9IjAgMCAxMjIuODggMTIyLjg4IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMjIuODggMTIyLjg4IiB4bWw6c3BhY2U9InByZXNlcnZlIj48Zz48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTYxLjQzOCwwYzMzLjkzLDAsNjEuNDQxLDI3LjUxMiw2MS40NDEsNjEuNDQxIGMwLDMzLjkyOS0yNy41MTIsNjEuNDM4LTYxLjQ0MSw2MS40MzhDMjcuNTEyLDEyMi44OCwwLDk1LjM3LDAsNjEuNDQxQzAsMjcuNTEyLDI3LjUxMiwwLDYxLjQzOCwwTDYxLjQzOCwweiIvPjwvZz48L3N2Zz4=") no-repeat top 15px left;
        background-size: 2px;
      }
    }
  }
}

/**
 * Exception for machine category
 * Prepend "ab" to price
*/
.rehorik.single-product .rehorik-product.product.detail-view.product_cat-maschinen-equipment {
  #resmio-rehorik-maschinenberatung {
    margin-left: -7px;
  }

  .not-selling-notice p.price {
    color: $font-color;
    font-family: $font-family-bold;
    font-size: $font-size-very-very-large;
    line-height: 44px;
    padding: 0;
    margin-right: var(--product-view-grid-gap-half);

    > span {
      font-size: $font-size-very-very-large;
      font-family: $font-family-bold;
      line-height: 44px;
    }

    > span::before {
      content: "ab ";
    }
  }
}