div.rehorik-product-meta.product_meta {
  display: flex;
  border: none;
  margin-top: $spacing-xxs;
  padding: 0;
  line-height: 11px;

  > span, > div, >p {
    &:not(:last-child) {
      border-right: 1px solid $beigegold;
      padding-right: $spacing-xxs;
      margin-right: $spacing-xxs;
    }
  }

  span, p, div {
    margin: 0;
    padding: 0;
    color: $font-color;
    font-family: $font-family-body;
    font-size: $font-size-small;
    font-weight: normal;
  }
}
