body.rehorik.woocommerce #main-content div.rehorik-product .rehorik-product-preperation-recommendation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr min-content;
  grid-template-areas:
    "title ."
    "description video"
    "appointment .";

  h2 {
    margin: 0 var(--product-view-grid-gap-half) var(--product-view-grid-gap-half) 0;
  }

  .description {
    margin: 0 var(--product-view-grid-gap-half) 0 0;
    text-align: justify;
  }

  .rehorik-product-video {
    margin: 0 0 0 var(--product-view-grid-gap-half);
  }

  @media all and (max-width: $medium-breakpoint) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "title"
    "video"
    "description"
    "appointment";

    h2 {
      margin: 0 0 var(--product-view-grid-gap-half) 0;
    }

    .description {
      margin: 0 0 var(--product-view-grid-gap-half) 0;
    }

    .rehorik-product-video {
      margin: 0 0 var(--product-view-grid-gap-half) 0;
    }

    .make-appointment {
      margin: 0 0 0 0;
    }
  }

  h2 {
    grid-area: title;

    text-align: left;
    color: $font-color;
    font-size: $font-size-large;
  }

  .description {
    grid-area: description;

    > div:not(:last-child) {
      margin-bottom: var(--product-view-grid-gap-half);
    }
  }

  .rehorik-product-video {
    grid-area: video;
  }

  .make-appointment {
    grid-area: appointment;
  }
}
