// Remove top container padding
body.rehorik.single-product #page-container > .container {
  max-width: unset;
  padding: var(--section-spacing-top-bottom) 0;
}

.rehorik.single-product .rehorik-product.product.detail-view {
  display: flex;
  flex-direction: column;

  > div {
    max-width: $max-width-small;
    margin: 0 auto;
    padding: 0 var(--section-spacing-left-right);

    &:not(:last-child) {
      margin-bottom: var(--product-view-grid-gap);
    }
  }
}

/**
 * Exception for machine category
 * Prepend "ab" to price
*/
.rehorik.single-product .rehorik-product.product.detail-view.product_cat-maschinen-equipment {
  #resmio-rehorik-maschinenberatung {
    margin-left: -7px;
  }

  .rehorik-product-title p.price {
    > span::before {
      content: "ab ";
    }
  }
}
