body.rehorik .quantity select.rehorik-quantity.qty {
  border-radius: $border-radius;
  background-color: $anthrazit;
  color: #fff;
  font-size: $font-size-small;
  line-height: $font-size-small;
  padding: 0 12px;
  height: 50px;
  border: none;
  font-family: $font-family-body;
  border-right: $spacing-xxs solid transparent;
  text-align: left;
  outline: none;
  width: auto;
  -webkit-appearance:none;

  option {
    font-size: $font-size-small;
    line-height: $font-size-small;
    padding: $spacing-xxs;
    border: none;
    outline: none;
  }

  &:focus:active {
    border-radius: 0;
  }
}
