.rehorik-product-additional-information-container .woocommerce-product-details__short-description {
  padding: $spacing-s;
  margin: $spacing-s 0;
  background-color: $beigegold;
  border-radius: $border-radius;
  color: $font-color;

  p {
    padding: 0;
    line-height: 0;
  }

  table tr:first-child td {
    border-bottom: 1px solid $weinrot;
  }

  table tr td {
    padding: $spacing-xxs !important;


    &:first-child {
      font-weight: bold;
    }
  }
}