.rehorik-preperation-recommendation:not(:empty) {
  padding: $spacing-s;
  background-color: $beigegold;
  border-radius: $border-radius;
  color: $font-color;

  p {
    padding: 0;
  }

  table tr:first-child td {
    border-bottom: 1px solid $weinrot;
  }

  table tr td {
    padding: $spacing-xxs !important;

    &:first-child {
      font-weight: bold;
    }
  }
}