$sigilHeight: $sigil-size;
$sigilWidth: $sigilHeight * 1.5;

// Product page
.rehorik.single-product .rehorik-sigils-bar {
  display: flex;

  .sigil-container {
    flex: 2;
    display: grid;

    grid-gap: $spacing-xs;
    grid-template-columns: auto auto auto 1fr;

    @media all and (max-width: $small-breakpoint) {
      grid-template-columns: auto 1fr;
    }

    > .biosigil {
      display: flex;
      align-items: flex-end;
      font-family: "Myriad Pro Regular", serif;
      line-height: 3px;
      font-size: 12px;
      background: transparent url("../img/biosiegel.svg") no-repeat left top;
      $bioSigilHeight: 0.81 * $sigilHeight;
      $bioSigilHeight: 0.81 * $sigilHeight;
      $bioSigilWidth: $bioSigilHeight * 1.5;
      width: $bioSigilWidth;
      height: $sigilHeight;
      background-size: $bioSigilWidth $bioSigilHeight;
    }

    > .biosigil-de {
      $deBioSigilHeight: $sigilHeight;
      $deBioSigilWidth: $deBioSigilHeight * 1.2;
      width: $deBioSigilWidth;
      height: $deBioSigilHeight;
      background: transparent url("../img/biosiegel-de.svg") no-repeat center center;
      background-size: $deBioSigilWidth + 11px $deBioSigilHeight + 11px;
    }

    > .vegansigil {
      background: transparent url("../img/vegansiegel.svg") no-repeat left top;
      width: $sigilHeight;
      height: $sigilHeight;
    }

    > .biodynamicsigil {
      background: transparent url("../img/biodynamischsiegel.svg") no-repeat left top;
      height: $sigilHeight;
      width: $sigilHeight;
    }
  }
}

// Category view
.rehorik-products .sigil-container {
  $sigilWidth: 50px;
  position: absolute;
  top: 0;
  right: $spacing-s;
  width: $sigilWidth;

  > .biosigil {
    width: $sigilWidth;
    height: 33px;
    background: transparent url("../img/biosiegel.svg") no-repeat center center;
  }

  > .vegansigil {
    background: transparent url("../img/vegansiegel.svg") no-repeat left top;
    width: $sigilWidth;
    height: $sigilWidth;
    margin-top: $spacing-xs;
  }
}

.rehorik-product.product-of-month {
  > a > span.et_shop_image::after,
  > div > div.images::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: $spacing-s;
    width: 50px;
    height: 33px;
    background-position: center center;
    background-color: transparent;
    background-image: url("../img/productofmonth.svg");
  }

  > div > div.images::after {
    width: $sigilWidth;
    height: $sigilHeight;
    background-size: $sigilWidth $sigilHeight;
  }

  &.product_cat-wein,
  &.product_cat-wein-spirits-co {
    > a > span.et_shop_image::after,
    > div > div.images::after {
      background-image: url("../img/wineofmonth.svg");
    }
  }
}

.event-online .et_shop_image::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: $spacing-s;
  width: 50px;
  height: 33px;
  background: transparent url("../img/online.svg") no-repeat center center;
}