$sigilHeight: $sigil-size;
$sigilWidth: $sigilHeight * 1.5;

// Product page
.rehorik.single-product .rehorik-sigils-bar {
  display: flex;

  .sigil-container {
    flex: 2;
    display: grid;

    grid-gap: $spacing-xs;
    grid-template-columns: repeat(6, auto) 1fr;

    @media all and (max-width: $small-breakpoint) {
      grid-template-columns: auto 1fr;
    }

    > .biosigil {
      display: flex;
      align-items: flex-end;
      font-family: "Myriad Pro Regular", serif;
      line-height: 3px;
      font-size: 12px;
      background: transparent url("../img/siegel/biosiegel.svg") no-repeat left top;
      $bioSigilHeight: 0.81 * $sigilHeight;
      $bioSigilHeight: 0.81 * $sigilHeight;
      $bioSigilWidth: $bioSigilHeight * 1.5;
      width: $bioSigilWidth;
      height: $sigilHeight;
      background-size: $bioSigilWidth $bioSigilHeight;
    }

    > .biosigil-de {
      $deBioSigilHeight: $sigilHeight;
      $deBioSigilWidth: $deBioSigilHeight * 1.2;
      width: $deBioSigilWidth;
      height: $deBioSigilHeight;
      background: transparent url("../img/siegel/biosiegel-de.svg") no-repeat center center;
      background-size: $deBioSigilWidth + 11px $deBioSigilHeight + 11px;
    }

    > .vegansigil {
      background: transparent url("../img/siegel/icon-vegan.svg") no-repeat left top;
      height: $sigilHeight;
      width: $sigilHeight * 1.5;
    }

    > .biodynamicsigil {
      background: transparent url("../img/siegel/icon-biodynamisch.svg") no-repeat left top;
      height: $sigilHeight;
      width: $sigilHeight * 1.5;
    }

    > .regionalsigil {
      background: transparent url("../img/siegel/icon-regional.svg") no-repeat left top;
      height: $sigilHeight;
      width: $sigilHeight * 1.5;
    }

    > .product-of-month {
      background: transparent url("../img/siegel/productofmonth.svg") no-repeat left top;
      height: $sigilHeight;
      width: $sigilHeight * 1.5;

      &.wine-of-month {
        background-image: url("../img/siegel/wineofmonth.svg");
      }
    }

    > .cottonsigil {
      background: transparent url("../img/siegel/icon-cotton.svg") no-repeat left top;
      height: $sigilHeight;
      width: $sigilHeight * 1.5;
      background-size: $sigilHeight * 1.5 $sigilHeight;
    }
  }
}

// Category view
.rehorik-products .sigil-container {
  $sigil-size: 35px;
  position: absolute;
  top: $spacing-xs;
  left: 0;
  width: $sigil-size * 1.5;

  > * {
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: $sigil-size * 1.5;
    width: $sigil-size * 1.5;
    height: $sigil-size;

    &:not(:last-child) {
      margin-bottom: $spacing-xs;
    }
  }

  > .biosigil {
    background-image: url("../img/siegel/biosiegel.svg");
  }

  > .vegansigil {
    background-image: url("../img/siegel/icon-vegan.svg");
  }

  > .biodynamicsigil {
    background-image: url("../img/siegel/icon-biodynamisch.svg");
  }

  > .regionalsigil {
    background-image: url("../img/siegel/icon-regional.svg");
  }

  > .product-of-month {
    background-image: url("../img/siegel/productofmonth.svg");

    &.wine-of-month {
      background-image: url("../img/siegel/wineofmonth.svg");
    }
  }

  > .event-online {
    background-image: url("../img/siegel/online.svg");
  }
}