.rehorik .rehorik-product-single-attributes table {
  tbody tr {
    td:first-child {
      padding-right: $spacing-xs;
    }
  }

  tbody tr:first-child td {
    padding-top: $spacing-s;
  }

  tbody tr:last-child td {
    padding-bottom: $spacing-s;
  }
}