div.rehorik-product div.rehorik-product-summary.summary {
  position: relative;
  float: none;
  width: unset;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;

  button[type="submit"].single_add_to_cart_button {
    padding: $spacing-xxs $spacing-s $spacing-xxs 37px !important;
    background: $beigegold url("../img/warenkorb-white.svg") no-repeat left 10px center;
    background-size: $spacing-s;
    margin-top: $spacing;
    border-top-right-radius: $border-radius !important;
    border-bottom-right-radius: $border-radius !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;

    &:hover {
      background-color: $weinrot !important;
      color: #fff !important;
    }
  }

  div.quantity {
    margin: $spacing 0 0 0 !important;

    input {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}