div.rehorik-product-summary-outer {
  display: flex;
  margin-bottom: $spacing-l;

  > div {
    float: none;
  }

  > div:first-child {
    margin-right: $spacing-l;
  }

  @media all and (max-width: $small-breakpoint) {
    flex-direction: column;

    > div:first-child {
      margin-right: 0;
      margin-bottom: 0;
    }
  }

  div.rehorik-product-summary.summary {
    position: relative;
    padding-left: $spacing;

    margin-bottom: 0;
    @media all and (min-width: $small-breakpoint + 1) {
      margin-bottom: $spacing-xxxl;
    }

    h1 {
      color: $font-color-accent !important;
      text-align: left;
      text-transform: uppercase;
      margin-bottom: $spacing-s;
      margin-left: -$spacing;
    }

    @media all and (max-width: $small-breakpoint) {
      margin-top: 0;
      padding-left: 0;
      h1 {
        margin-left: 0;
      }
    }

    p.price {
      display: inline;
      color: $font-color;
      font-weight: bold;
      margin-right: $spacing-xxxs;
    }
  }
}
