div.rehorik-product div.rehorik-product-summary.summary {
  position: relative;
  padding-left: $spacing;

  margin-bottom: 0;
  @media all and (min-width: $small-breakpoint + 1) {
    margin-bottom: $spacing-xl;
  }

  h1 {
    color: $font-color-accent !important;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: $spacing-s;
    margin-left: -$spacing;
  }

  @media all and (max-width: $small-breakpoint) {
    margin-top: $spacing-xl;
    padding-left: 0;
    h1 {
      margin-left: 0;
    }
  }

  p.price {
    display: inline;
    color: $font-color;
    font-weight: bold;
    margin-right: $spacing-xxxs;
  }
}