body.woocommerce #content-area div.rehorik-product.product {
  div.rehorik-product-tabs.woocommerce-tabs.wc-tabs-wrapper {
    border: none;

    ul.rehorik-tabs-header.tabs.wc-tabs::before {
      content: none;
    }

    ul.rehorik-tabs-header.tabs.wc-tabs {
      background: transparent none;

      li[role='tab'] {
        border-bottom: none !important;
        border-top-right-radius: $tab-border-radius;
        border-top-left-radius: $tab-border-radius;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        margin: 0;

        &:last-child:not(:first-child) {
          margin-left: -4px;
        }

        a {
          text-transform: uppercase;
        }

        @media all and (max-width: $small-breakpoint) {
          border-bottom: none !important;

          &:last-child {
            border-top-right-radius: 0;
            border-top-left-radius: 0;
            margin-left: 0;
          }
        }
      }
    }

    .rehorik-tabs-panel.woocommerce-Tabs-panel {
      padding: $spacing-l $spacing-xl;
      border: 1px solid $product-default-color;
      border-top: none;
      border-top-right-radius: $tab-border-radius;
      border-top-left-radius: 0;
      border-bottom-left-radius: $tab-border-radius;
      border-bottom-right-radius: $tab-border-radius;

      @media all and (max-width: $small-breakpoint) {
        padding: $spacing-l 0;
        border-top-right-radius: 0;

        &#tab-description {
          padding-left: $spacing-s;
          padding-right: $spacing-s;
        }
      }

      color: #fff;
    }
  }
}

