.rehorik-product.product {
  .woocommerce-variation-description p {
    font-size: $font-size-small;
    border: 1px solid $primary-color;
    padding: $spacing-xs;
    margin-bottom: $spacing !important;
  }
}