.woocommerce div.product form.cart {
  margin-bottom: 0;

  table.variations {
    margin-bottom: 0;

    tbody tr:last-child td {
      padding-bottom: 0 !important;
    }

    th {
      line-height: $line-height-very-narrow;
      padding: 0 0 $spacing-xxs 0 !important;
    }

    th, td {
      display: block;
    }

    ul {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-row-gap: $spacing-xxs;
      grid-column-gap: $spacing-xxs;
      padding: 0 !important;

      @media all and (max-width: $small-breakpoint) {
        grid-template-columns: 1fr 1fr;
      }
    }

    li.variable-item {
      border: 1px solid $beigegold;
      border-radius: $border-radius;
      list-style: none;
      padding: $spacing-xxs;
      cursor: pointer;

      &:hover, &.selected {
        color: #fff;
        background-color: $weinrot;
      }

      .variable-item-contents {
        font-size: $font-size-small;
      }
    }

    .reset_variations {
      display: none !important;
    }
  }
}