.woocommerce div.product form.cart {
  margin-bottom: 0;

  table.rehorik-variations.variations {
    margin-bottom: 0;

    tbody tr:last-child td {
      padding-bottom: 0 !important;
    }

    th {
      line-height: $line-height;
    }
  }

  div.rehorik-variations-after-container {
    margin-bottom: $spacing;
    margin-top: $spacing-s;
  }
}

